.member {
    display: flex;
}

.member .menu {
    width: 200px;
    flex-shrink: 0;
}

.member .menu ul {
    padding: 10px 0;
}

.member .menu li {
    line-height: 3.2;
    padding: 0px 15px 0px 25px;
    font-size: 14px;
    position: relative;
}

.member .menu li a {
    display: block;
    color: #444;
}

.member .menu li i {
    width: 30px;
    font-size: 14px;
    text-align: center;
    margin-right: 5px;
}

.member .menu li:hover, .member .menu li.active {
    background-color: #eff3f5 !important;
}

.member .menu li:hover::before, .member .menu li.active::before {
    content: " ";
    height: 100%;
    z-index: 100;
    width: 3px;
    background-color: #333333;
    position: absolute;
    left: 0;
}

.member .main {
    width: 100%;
    margin-left: 15px;
    overflow: hidden;
}

.member .main .main-tabs {
    padding: 0 20px;
    line-height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 4px 4px 0 0;
    border-bottom: 1px solid #f8f8f8;
}

.member .main .main-tabs .page-name {
    float: left;
    font-size: 14px;
}

.member .main .main-tabs ul {
    float: right;
    display: flex;
}

.member .main .main-tabs ul li {
    margin-left: 15px;
    padding: 0 30px;
    position: relative;
}

.member .main .main-tabs ul li.active::after {
    position: absolute;
    content: "";
    height: 2px;
    background-color: #5291fc;
    width: 100%;
    bottom: -1px;
    left: 0;
}

.member .main .content {
    padding: 20px;
    position: relative;
    border-radius: 0 0 4px 4px;
    height: 100%;
}

.member .main .content-publish {
    padding: 0;
    position: relative;
}

.member .main .layui-table-view {
    margin: 0;
}

.member .main .layui-laypage {
    text-align: right;
}

/**
琛ㄥ崟鏍峰紡閲嶅啓
 */
.form {
    padding: 30px 100px 40px 20px;
    position: relative;
}

.form .layui-form-item {
    margin-bottom: 20px !important;
}

.form .layui-input, .setting-form .layui-select {
    border-width: 0 0 1px;
    border-radius: 0;
}

.form .layui-input:focus, .form .layui-input:hover, .form .layui-select:focus, .form .layui-select:hover, .form .layui-textarea:focus, .form .layui-textarea:hover {
    border-color: #e6e6e6 !important;
}

.form .layui-form-item .layui-input-inline {
    margin-right: 0;
}

.form .layui-form-mid {
    padding: 9px 15px !important;
    min-width: 150px;
    line-height: 19px;
    color: #ccc !important;
    border-bottom: 1px #e6e6e6 solid;
}

.form .layui-form-mid span {
    color: #FF5D4A;
    padding: 0 5px;
}

.form .layui-form-mid a {
    color: #80BBFC;
}

.form .layui-form-mid a:hover {
    color: #80BBFC80;
}

.form-button {
    position: relative;
    overflow: hidden;
    display: block;
    margin-top: 10px;
    left: 0;
    right: 0;
    text-align: center;
    padding: 10px;
}

/**
瀵嗙爜瀹夊叏搴�
 */
.progress-bar_item {
    display: inline-block;
    height: 100%;
    width: 31%;
    border-radius: 5px;
    float: left;
    -webkit-transition: background-color .2s, visisility .1s;
    transition: background-color .2s, visisility .1s;
}

.progress-bar_item-1.active {
    background-color: #FF4B47 !important;
}

.progress-bar_item-2.active {
    background-color: #F9AE35 !important;
}

.progress-bar_item-3.active {
    background-color: #2DAF7D !important;
}

.progress-bar_wrap {
    width: 100%;
    height: 7px;
    background: #F6F6FA;
    vertical-align: middle;
    display: flex;
    justify-content: space-between;
    overflow: hidden;
    margin: 6px 0;
    border-radius: 5px;
}


/**
鏉冮檺涓嶈冻
 */

.no-vip-error {
    text-align: center;
    padding: 40px 40px 70px;
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    position: relative;
    display: block;
}

.no-vip-error .icu {
    font-size: 130px;
}

.no-vip-error .title {
    font-size: 14px;
}

.no-vip-error .info {
    font-size: 12px;
    color: #888;
}

.no-vip-error .layui-btn-container {
    margin-top: 30px;
}

.no-vip-error .layui-btn-container .layui-btn:last-child {
    margin-right: 0 !important;
}


/**
缂栬緫鍣�
 */
.tox, .tox * {
    border-color: #e6e6e6 !important;
}

.tox .tox-toolbar, .tox .tox-toolbar__overflow, .tox .tox-toolbar__primary {
    background: #ffffff !important;
    border-bottom: 1px solid #cccccc;
}

/**
琛ㄦ牸瀛椾綋澶у皬
 */
.layui-table td, .layui-table th {
    font-size: 14px;
}

/**
VIP鏁版嵁
 */
.vip-data .title {
    color: #ffffff;
    width: 120px;
    flex-shrink: 0;
    padding: 8px 15px;
    text-align: center;
    font-size: 14px;
    border-radius: 4px 0 0 4px;
    display: grid;
    flex-wrap: wrap;
    align-items: center;
}
.vip-data .title span{
    font-size: 12px;
}

.vip-data ul {
    width: 100%;
}
.vip-data li {
    width: 100%;
    line-height: 20px;
    padding: 8px;
    text-align: center;
    font-size: 12px;
    color: #888888;
    border-left: 1px solid #f5f5f5;
}
.vip-data li em {
    display: block;
    color: #FF5D4A;
    font-weight: bold;
    font-size: 14px;
}



.content-setting ul li {
    float: left;
    margin-right: 30px;
    position: relative;
    display: inline-flex;
}

.alone-tips {
    font-size: 14px;
    color: #aaa;
    margin-top: 10px;
}

.content-tips {
    margin-left: -8% !important;
}

.content-tips i.layui-layer-TipsT {
    left: 127px !important;
}