/*菜单导航*/
.bbs_head{width:100%; background:#fff; white-space:nowrap; display:inline-block; overflow-y:hidden; height:50px;}
.bbs_head li.one{display:inline-block; text-align:center;}
.bbs_head li.one a{display: inline-block; margin:0 10px; height:50px; line-height:50px; position:relative; font-size:15px; color:#333;}
.bbs_head li.one i{display:inline-block; color:#EF0E0E; margin-left:-15px;}
.bbs_head li.one .ck{color:#EF0E0E; font-size:16px; font-weight:bold;}
.bbs_head li.one .ck:before{content:''; display:block; position:absolute; width:80%; height:2px; background:#EF0E0E; left:10%; bottom:0px;}
.bbs_head .two{display:none; position:absolute; padding:15px; margin:auto; left:0; right:0; border-top:1px solid #eee; background:#fff; box-shadow:0 3px 3px rgba(0,0,0,0.16);  z-index:10;}
.bbs_head .two li{float:left; margin:10px; padding:3px 15px; border-radius:5px; background:#f9f9f9;}
.bbs_head .two li a{color:#aaa; font-size:15px;}
.bbs_head .two li.jh{background:#EF0E0E;}
.bbs_head .two li .ck{color:#fff;}
