@charset "utf-8";/*news and infos*/
body{background:#fff!important;}
.wp,#wp{width:100%!important;margin-bottom: 20px;}
.w1240{width: 1314px;margin: 0 auto;}
body{background:#f8f8f8 url(img/nex_bg_common.png) repeat!important;}

#pt{margin:20px auto;height:20px;line-height:20px;color:#999;font-size:14px;}
#pt em{padding:0 14px;}
#pt .nvhm{background:none;height:20px;line-height:20px;width:auto;}
#pt a{color:#999;font-size:14px;height:20px;line-height:20px;}
#pt a:hover{color:#3945F9;}

.nex_info_article_box{ width:1314px; position:relative;}
.nex_info_side_line{ position:absolute; top:0px;left:0px; width:200px;}
.nex_info_side_subnav{width:160px; padding:20px; margin-bottom:20px; background:#fff;border-radius: 4px; box-shadow: 2px 1px 12px 3px #eee;}
.nex_info_side_subnav ul .ox{ height: 34px; line-height: 34px; overflow:hidden;background: url(img/pc6spr.png) -253px -154px no-repeat;overflow: hidden;padding-left: 35px;}
.nex_info_side_subnav ul li a{ display:block; height: 34px; line-height: 34px;border-radius: 4px;font-size: 14px;color: #757575; transition:all 0.3s linear; }
.nex_info_side_subnav ul li a:hover{color:#3945F9; font-weight:600;}
.nex_info_side_subnav ul li.on a{color:#3945F9; font-weight:600;}
.nex_info_side_subnav ul .ox:hover{height: 32px;line-height: 32px;background: url(img/pc6spr.png) -253px -185px no-repeat;overflow: hidden;padding-left: 35px;}
.nex_info_side_subnav ul .ck{color:#3945F9; font-weight:600;border-bottom: 1px solid #ebedf0;background: url(img/pc6spr.png) -253px -185px no-repeat;}
.nex_info_side_subnav ul .ck a{font-size: 16px;color:#3945F9; font-weight:600;}
.nex_focus_us{width:200px;margin-bottom:20px; background:#fff;border-radius: 4px; box-shadow: 2px 1px 12px 3px #eee;}
.nex_focus_us_title{ width:200px; height:60px; background:url(img/nex_tab_bg.png) center no-repeat; background-size:cover;}
.nex_focus_us_title span{}
.nex_focus_qcode{ width:120px; height:120px; margin:0 auto 10px; border:1px solid #eee;border-radius:6px; padding:5px; }
.nex_focus_qcode img{width:120px; height:120px; border-radius:6px; }
.nex_focus_txt{ padding-bottom:10px;}
.nex_focus_txt h5{ text-align:center; height:30px; line-height:30px; font-size:16px; color:#333; overflow:hidden;}
.nex_focus_txt p{ text-align:center; height:32px; line-height:16px; font-size:12px; color:#999; overflow:hidden;}



.nex_info_article_bd{ width:735px; margin-left:220px;background:#fff;padding:20px;  float:left;border-radius: 4px; box-shadow: 2px 1px 12px 3px #eee;}
.nex_info_article_bd_top{ height:30px; margin-bottom:25px;}
.nex_info_article_bd_top span{ display:block; float:left;height:30px; line-height:30px; font-size:18px; color:#3945F9; font-weight:600;}
.nex_info_article_bd_top a{display:block; float:right; margin-top:4px; padding:0 10px;height:22px; line-height:22px;background:#3945F9; font-size:12px; border-radius:4px; color:#fff; font-weight:500; transition:all 0.3s linear;}
.nex_info_article_bd_top a:hover{ opacity:0.9; padding:0 13px;}


.nex_Info_artices{}
.nex_Info_artices{}
.nex_Info_artices ul li{margin-bottom:22px;padding-bottom:22px;border-bottom:1px solid #f3f3f3;transition:all 0.3s linear;}
.nex_Info_artices ul li:last-child{margin-bottom:40px;}
.nex_article_bd_top{ height:24px; margin-bottom:15px;}
.nnex_article_author{ float:left;}
.nnex_article_author a{display: block; float:left;}
.nnex_article_author a img{display: block; float: left; width: 24px; height: 24px; border-radius: 100%; transition: all 0.3s linear;}
.nnex_article_author a:hover img{transform: rotate(60deg);}
.nnex_article_author a span{ display: block; float: left; margin-left: 10px; height: 24px; line-height: 24px; font-size: 14px; color: #333;}
.nnex_article_author a:hover span{color:#3945F9;}
.nex_article_post_time{ display:block; float:left;height:24px; line-height:24px; color:#767676;  font-size:14px; margin-left:10px; padding-left:10px; background:url(img/nex_icon_sq.png) left center no-repeat;}
.nex_article_bd_mid{ margin-bottom:15px;}
.nex_article_bd_mid_l{float: left; width: 530px;}
.nex_article_bd_mid_l h5{ max-height:40px; line-height:20px; overflow:hidden; margin-bottom:10px;}
.nex_article_bd_mid_l h5 a{ font-size:18px; color:#333; font-weight:500;}
.nex_article_bd_mid_l h5 a:hover{color:#3945F9; }
.nex_png_summary{height:40px; line-height:20px; overflow:hidden;font-size:14px; color:#6c757d;}
.nex_article_bd_mid_r{ float:right;width: 110px;}
.nex_article_bd_mid_r a{display: block; width: 110px; height: 70px; border-radius: 4px;}
.nex_article_bd_mid_r a:hover{ opacity:0.8;}
.nex_article_bd_btm{ height: 20px; line-height: 20px; overflow: hidden;}
.nex_article_bd_btm dl dd{ float: left;  margin-right: 20px;  font-size: 14px; color: #757575;}
.nex_article_bd_btm dl dd.nex_article_views{ padding-left:25px; background:url(img/nex_icon_view.png) left center no-repeat;}
.nex_article_bd_btm dl dd.nex_article_comments{ padding-left:25px; background:url(img/nex_icon_comment.png) left center no-repeat;}
.nex_article_bd_btm dl dd.nex_article_catname{}
.nex_article_bd_btm dl dd.nex_article_catname a{ padding-left:15px; background:url(img/nex_icon_sq.png) left center no-repeat;}
.nex_article_bd_btm dl dd.nex_article_catname a:hover{color:#3945F9;}

.nex_article_bd_mid_txt{ margin-bottom:15px;}
.nex_article_bd_mid_txt h2{ max-height:40px; line-height:20px; overflow:hidden; margin-bottom:10px;}
.nex_article_bd_mid_txt h2 a{ font-size:18px; color:#333; font-weight:500;}
.nex_article_bd_mid_txt h2 a:hover{color:#3945F9; }

.nex_banner_intel{}
.nex_banner_intel a{display:block;width:100%;height:140px;position:relative;overflow:hidden;border-radius:5px;box-shadow:0 0.2rem 0.8rem rgba(51,51,51,.15);}
.nex_banner_intel a:after{content:'';display:block;width:100%;height:140px;position:absolute;top:0;left:0;background:-webkit-linear-gradient(top,rgba(0,0,0,0.4) 0,rgba(0,0,0,0) 100%);border-radius:5px;z-index:1;}
.nex_banner_inner{padding:80px 20px 20px 20px;position:relative;z-index:2;}
.nex_banner_inner em{display:block;padding:0 15px;height:25px;line-height:25px;background:rgba(0,0,0,0.5);font-size:12px;color:#fff;position:absolute;top:20px;left:20px;border-radius:2px;}
.nex_banner_inner h5{max-height:40px;line-height:20px;overflow:hidden;margin-bottom:12px;font-size:18px;color:#fff; font-weight:500;}





.nex_info_right_side{ width:300px; float:right;}
.nex_articel_sd_bos{ width:260px;margin-bottom:20px; background:#fff; padding:20px;border-radius: 4px; box-shadow: 2px 1px 12px 3px #eee;}
.nex_index_sd_title{ height:20px; margin-bottom:20px; position:relative;}
.nex_index_sd_title span{ display:block; float:left; height:20px; line-height:20px; font-size:16px; color:#333; position:relative;}
.nex_index_sd_title span:after{ content:''; display:block; width:4px; height:15px; background:#3945F9; position:absolute;top:2px;left:-20px;}
.nex_index_sd_tabs ul{ float:right;}
.nex_index_sd_tabs ul li{ float:left; height:18px; line-height:18px; padding:0 10px; font-size:12px; color:#939495; margin-left:10px; border:1px solid #f3f3f3; border-radius:4px; cursor:pointer;}
.nex_index_sd_tabs ul li.on{border:1px solid #3945F9;background:#3945F9;color:#fff;}

.nex_hot_articles_list{}
.nex_hot_articles_list ul li{ margin-bottom:15px;}
.nex_hot_articles_list ul li:last-child{ margin-bottom:0;}
.nex_hal_large_pic{}
.nex_hal_large_pic a{ width:260px; height:140px; border-radius:4px; display:block;}
.nex_hal_large_btm{ margin-top:10px;}
.nex_hal_large_btm h5{ height:40px; line-height:20px; overflow:hidden; margin-bottom:6px;}
.nex_hal_large_btm h5 a{ font-size:14px; color:#333; font-weight:500;}
.nex_hal_large_btm h5 a:hover{ color:#3945F9;}
.nex_hal_large_btm p{ height:16px; line-height:16px; overflow:hidden; font-size:12px; color:#999;}
.nex_hal_left_pic{ float:left; width:100px; height:60px;}
.nex_hal_left_pic a{ width:100px; height:60px; border-radius:4px; display:block;}
.nex_hal_right_info{ padding-left:115px;}
.nex_hal_right_info h3{ height:40px; line-height:20px; overflow:hidden; margin-bottom:6px;}
.nex_hal_right_info h3 a{ font-size:14px; color:#333; font-weight:500;}
.nex_hal_right_info h3 a:hover{ color:#3945F9;}
.nex_hal_right_info p{ height:16px; line-height:16px; overflow:hidden; font-size:12px; color:#999;}

.nex_article_ranks{}
.nex_article_ranks ul li{ display:none;}
.nex_article_hotlists{}
.nex_article_hotlists dl dd{ margin-bottom:15px;white-space: nowrap;overflow: hidden;text-overflow: ellipsis;}
.nex_article_hotlists dl dd:last-child{ margin-bottom:0;}
.nex_article_hotlists dl dd em{display: inline-block; width: 20px; height: 12px; line-height:13px; text-align:center; font-size:12px; color:#1458d4; border: 1px solid #1458d4; border-radius: 3px; vertical-align:middle;margin-right:6px;}
.nex_article_hotlists dl dd em.nex_rk_num1{ border:1px solid #3945F9; color:#fff; background:#3945F9;}
.nex_article_hotlists dl dd em.nex_rk_num2{ border:1px solid #4D58F9; color:#fff; background:#4D58F9;}
.nex_article_hotlists dl dd em.nex_rk_num3{ border:1px solid #616BFA; color:#fff; background:#616BFA;}
.nex_article_hotlists dl dd a{ font-size:14px; color:#333;}
.nex_article_hotlists dl dd a:hover{ color:{HIGHLIGHTLINK};}
.nex_article_hotlists dl dd:hover em{ background:#1458d4; color:#fff;}

.nex_article_sd_ads{ width:300px; margin-bottom:20px;}
.nex_article_sd_ads img{ width:300px; border-radius:4px; box-shadow: 2px 1px 12px 3px #eee;}




.nex_box_fixed{position:fixed;top:55px;}
.ren-sange{width:286px;overflow:hidden;}.ren-sange ul{margin-top:12px;}.ren-sange .frame{background:#F5F5F5;}.ren-sange ul li{float:left;margin-bottom:12px;width:260px;height:50px;color:#FFF;font-size:16px;line-height:24px;transition:All 0.3s ease-in-out;-webkit-transition:All 0.3s ease-in-out;-moz-transition:All 0.3s ease-in-out;-o-transition:All 0.3s ease-in-out;z-index:20;}.ren-sange ul li:hover{transform:translate(0,-5px);-webkit-transform:translate(0,-5px);-moz-transform:translate(0,-5px);-o-transform:translate(0,-5px);-ms-transform:translate(0,-5px);}.ren-sange .li1{margin-left:0px;background:#008EEB;}.ren-sange .li2{background:#FA7D5F;}.ren-sange .li3{background:#61CC73;}.ren-sange ul li a{display:block;width:100%;height:100%;color:#FFF;text-align:center;}.ren-sange ul li a span{display:block;height:50px;line-height:50px;padding:0 10px;font-size:14px;}
.pagination{padding: inherit;}
.pagination li a{font-size: 14px;padding: 0 15px;}
.pagination li {line-height: 35px;}
.pagination li span{padding: 0 12px;}