.unit-container-audio { 
    float: left; 
    border-bottom: 1px dashed #ccc; 
    width: 100%;
} 

.unit-container-audio-item { 
    padding: 12px 0 12px 10px;
} 

:before,:after { 
    -webkit-box-sizing: border-box; 
    -moz-box-sizing: border-box; 
    box-sizing: border-box;
} 

ul { 
    margin-top: 0; 
    margin-bottom: 10px;
} 

ul { 
    padding: 0; 
    margin: 0;
} 

.unit-container-row .audion-container-content  { 
    width: 100%;
} 

li,ul li  { 
    list-style: none;
} 

.audio-item-box { 
    float: left; 
    width: 95%; 
    position: relative;
} 

input { 
    margin: 0; 
    font: inherit; 
    color: inherit;
} 

input { 
    line-height: normal;
} 

input { 
    font-family: inherit; 
    font-size: inherit; 
    line-height: inherit;
} 

.audio-item-row { 
    width: 100%; 
    float: left;
} 

.audio-item-row1 { 
    padding: 3px 0 2px 10px;
} 

.audio-item-row2 { 
    height: 60px; 
    position: relative;
} 

.audio-info-dir-group { 
    float: left; 
    padding: 0 0 5px 6px; 
    width: 660px; 
    overflow: hidden; 
    white-space: nowrap; 
    text-overflow: ellipsis;
} 

.unit-container-audio-item .audio-info-dir-group  { 
    display: none;
} 

.unit-container-row .unit-row-audio-left  { 
    padding-top: 10px; 
    float: left;
} 

.audio-item-row1 .title  { 
    padding: 0; 
    width: 888px; 
    float: left;
} 

.audio-item-box .audio-file-info  { 
    color: #999;
} 

.audio-wave-player { 
    position: relative;
} 

.mark-bar { 
    float: left;
} 

.mark-bar-row { 
    padding: 0 0 0 52px;
} 

.audio-item-box .mark-bar  { 
    position: absolute; 
    left: 903px; 
    top: 4px; 
    padding: 0; 
    width: 480px;
} 

.audio-download-box { 
    position: absolute; 
    left: 960px; 
    top: 30px;
} 

.unit-container-audio-item .unit-row-audio-nav  { 
    width: 1000px;
} 

.audio-item-box .audio-right-box  { 
    width: 647px; 
    float: right;
} 

.audio-item-box .title-name  { 
    max-width: 650px; 
    color: #333; 
    font-weight: bold;
} 

.audion-container-content .audio-item-row .title-name  { 
    max-width: 610px; 
    display: inline-block;
} 

.unit-container-row .audio-item-box .quality  { 
    width: 65px; 
    font-size: 12px; 
    line-height: 20px; 
    display: inline-block;
} 

.audio-item-box .audio-file-info .split  { 
    padding: 0 20px 0 20px;
} 

.audio-item-row .audio-row-icon  { 
    position: relative;
} 

.unit-container-row .vip-icon  { 
    padding-right: 6px; 
    float: left; 
    position: relative; 
    top: 2px;
} 

.audio-item-box .duration  { 
    color: #999; 
    display: inline-block; 
    width: 70px;
} 

.unit-container-row .audio-item-box .pc-duration  { 
    position: absolute; 
    top: 64px; 
    left: 900px;
} 

.audio-player-btn { 
    position: absolute; 
    left: 10px; 
    top: 15px; 
    width: 36px; 
    height: 36px; 
    -webkit-font-smoothing: antialiased; 
    -moz-osx-font-smoothing: grayscale; 
    background-color: #38f; 
    -webkit-box-sizing: border-box; 
    box-sizing: border-box; 
    display: inline-block; 
    margin: 0; 
    padding: 5px; 
    border: 0; 
    border-radius: 50%; 
    font-size: 16px; 
    line-height: 1.5; 
    text-align: center; 
    text-decoration: none; 
    cursor: pointer;
} 

#waveform { 
    position: relative;
} 

.audio-wave-player .time-line  { 
    height: 68px; 
    position: absolute; 
    display: inline-block; 
    top: 5px; 
    z-index: 10; 
    width: 1px; 
    border-right: 1px #555 solid;
} 

.audio-wave-player .time-tip  { 
    display: inline-block; 
    font-size: 9px; 
    line-height: 16px; 
    background-color: #444; 
    height: 16px; 
    position: relative; 
    top: 57px; 
    color: white; 
    padding: 0 5px; 
    text-align: center; 
    width: 33px;
} 

.mark-bar .mark-play-box  { 
    padding-right: 10px; 
    color: #009a7c;
} 

.btn { 
    display: inline-block; 
    padding: 6px 12px; 
    margin-bottom: 0; 
    font-size: 14px; 
    font-weight: normal; 
    line-height: 1.42857143; 
    text-align: center; 
    white-space: nowrap; 
    vertical-align: middle; 
    -ms-touch-action: manipulation; 
    touch-action: manipulation; 
    cursor: pointer; 
    -webkit-user-select: none; 
    -moz-user-select: none; 
    -ms-user-select: none; 
    user-select: none; 
    background-image: none; 
    border: 1px solid transparent; 
    border-radius: 4px;
} 

.btn-default { 
    color: #333; 
    background-color: #fff; 
    border-color: #ccc;
} 

.dropdown { 
    position: relative;
} 

.audio-item-box .audio-down-btn  { 
    letter-spacing: 2px;
} 

.audio-item-box .audio-down-btn  { 
    padding: 0;
} 

.audio-item-box .audio-download-box .btn  { 
    padding: 4px 8px; 
    margin-right: 3px; 
    background: white;
} 

.btn:hover { 
    color: #333; 
    text-decoration: none;
} 

.btn-default:hover { 
    color: #333; 
    background-color: #e6e6e6; 
    border-color: #adadad;
} 

.btn-default:active:hover { 
    color: #333; 
    background-color: #d4d4d4; 
    border-color: #8c8c8c;
} 

 .audion-container-content .audio-item-box .audio-download-box .btn:hover { 
    background-color: #3684ff; 
    border-color: #3684ff; 
    color: #fff;
} 

.fav-btn { 
    cursor: pointer; 
    color: #333;
} 

.audio-item-box .fav-btn  { 
    letter-spacing: 2px;
} 

.audio-item-box .fav-btn  { 
    color: #3684ff; 
    text-decoration: none;
} 

.item-view-content.item-type-music .audio-item-box .audio-download-box .btn:hover, .item-view-content.item-type-sound .audio-item-box .audio-download-box .btn:hover, .item-view-content.item-type-dub .audio-item-box .audio-download-box .btn:hover, .audion-container-content .audio-item-box .audio-download-box .btn:hover { 
    background-color: #3684ff; 
    border-color: #3684ff; 
    color: #fff;
} 

.unit-info-row { 
    padding: 0 7px; 
    margin-top: 3px; 
    width: 100%;
} 

.unit-box-from-row1 { 
    float: left; 
    position: relative;
} 

.unit-row-audio-nav .unit-info-row  { 
    margin: 0;
} 

.unit-container-audio-item .unit-box-from-row1  { 
    clear: both; 
    padding: 3px 0 0 10px;
} 

.unit-box-from-row2 { 
    float: left; 
    position: relative; 
    overflow: hidden; 
    white-space: nowrap; 
    text-overflow: ellipsis;
} 

.unit-box-from-row2 { 
    color: #999!important; 
    font-size: 12px!important;
} 

.unit-container-audio .space-nav-container  { 
    padding: 5px 0 0 10px;
} 

.item-view-url { 
    display: none;
} 

.audio-item-box .audio-player-options  { 
    color: #999; 
    float: left; 
    width: 100%;
} 

.highlight-keyword { 
    color: #F40;
} 

.glyphicon { 
    position: relative; 
    top: 1px; 
    display: inline-block; 
    font-family: 'Glyphicons Halflings'; 
    font-style: normal; 
    font-weight: normal; 
    line-height: 1; 
    -webkit-font-smoothing: antialiased; 
    -moz-osx-font-smoothing: grayscale;
} 

.audio-item-box .download-icon  { 
    font-size: 10px;
} 

.glyphicon-download-alt:before { 
    content: "\e025";
} 

.audio-item-row .pc-duration .icon-time  { 
    padding-right: 5px;
} 

.audio-wave-player .audio-player-btn i  { 
    color: white; 
    font-size: 14px; 
    position: absolute;
} 

.audio-wave-player .audio-player-btn .icon-play  { 
    left: 13px; 
    font-size: 18px; 
    top: 10px;
} 

.audio-wave-player .canvas  { 
    position: absolute; 
    left: 60px; 
    top: 5px;
} 

.mark-icon-play { 
    display: inline-block; 
    width: 11px; 
    height: 11px; 
    background-image: url(https://cdn-sqn.aigei.com/assets/site/img/icon/mark/mark-icon-play.png);
} 

.mark-bar i  { 
    margin-right: 4px; 
    top: 1px; 
    position: relative;
} 

.mark-bar .last-time  { 
    font-size: 12px;
} 

a { 
    background-color: transparent;
} 

a { 
    color: #337ab7; 
    text-decoration: none;
} 

a { 
    color: #0775c1;
} 

.audio-item-box .item-down-btn-audio-tip  { 
    display: inline-block;
} 

.audio-item-box .audio-down-btn .item-down-btn-audio-tip  { 
    color: #3684ff; 
    text-decoration: none;
} 

a:active,a:hover { 
    outline: 0;
} 

a:hover { 
    color: #23527c; 
    text-decoration: underline;
} 

a:hover { 
    color: #0775c1;
} 

.audio-item-box .audio-down-btn:hover .item-down-btn-audio-tip { 
    text-decoration: none; 
    color: white;
} 

ul ul  { 
    margin-bottom: 0;
} 

.dropdown-menu { 
    position: absolute; 
    top: 100%; 
    left: 0; 
    z-index: 1000; 
    display: none; 
    float: left; 
    min-width: 160px; 
    padding: 5px 0; 
    margin: 2px 0 0; 
    font-size: 14px; 
    text-align: left; 
    list-style: none; 
    background-color: #fff; 
    -webkit-background-clip: padding-box; 
    background-clip: padding-box; 
    border: 1px solid rgba(0,0,0,.15); 
    border-radius: 4px; 
    -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175); 
    box-shadow: 0 6px 12px rgba(0,0,0,.175);
} 

.down-dropdown-menu { 
    padding: 4px 5px; 
    font-size: 12px; 
    min-width: 0; 
    margin-top: 0;
} 

.hide { 
    display: none!important;
} 

.hide { 
    display: none;
} 

.unit-box-from-row1 .work-set-name  { 
    color: #999!important; 
    font-size: 12px!important;
} 

.unit-row-audio-nav .unit-box-from-row1 .work-set-name  { 
    margin-top: 8px;
} 

.unit-row-audio-nav .user-avatar-nickName  { 
    margin-top: 3px;
} 

.space-nav-container .user-avatar-nickName  { 
    display: inline-block;
} 

.unit-container-row .space-nav-container .user-avatar-nickName  { 
    width: 888px;
} 

.audio-item-box .speed  { 
    display: none; 
    font-size: 12px; 
    margin-right: 10px; 
    float: left; 
    top: -1px;
} 

.audio-item-box .audio-player-options > div  { 
    padding-top: 10px;
} 

.audio-item-box .speed:hover { 
    cursor: pointer;
} 

.audio-item-box .setting  { 
    display: none; 
    float: left; 
    margin-right: 8px;
} 

.audio-item-box .setting:hover { 
    cursor: pointer;
} 

.btn-group { 
    position: relative; 
    display: inline-block; 
    vertical-align: middle;
} 

.audio-item-box .editting  { 
    display: none; 
    float: left; 
    margin-right: 10px;
} 

.btn-link { 
    font-weight: normal; 
    color: #337ab7; 
    border-radius: 0;
} 

.btn-link { 
    background-color: transparent; 
    -webkit-box-shadow: none; 
    box-shadow: none;
} 

.btn-link { 
    border-color: transparent;
} 

.note-btn { 
    cursor: pointer; 
    color: #333;
} 

.audio-item-box .note-btn  { 
    position: relative; 
    font-size: 12px; 
    top: -3px; 
    color: #999; 
    margin-right: 10px; 
    float: left; 
    padding: 0; 
    display: none;
} 

.audio-item-box .audio-player-options > span  { 
    padding-top: 10px;
} 

.btn-link,.btn-link:hover,.btn-link:active { 
    border-color: transparent;
} 

.btn-link:hover { 
    color: #23527c; 
    text-decoration: underline; 
    background-color: transparent;
} 

.webui-popover-content { 
    display: none;
} 

.webui-popover-content { 
    padding: 9px 14px; 
    overflow: auto; 
    display: none;
} 

.audio-item-box .complain  { 
    display: none; 
    float: left; 
    font-size: 12px;
} 

.audio-item-box .audio-down-btn .item-down-btn-audio-tip .icon-download-alt  { 
    font-size: 14px; 
    top: 1px; 
    position: relative;
} 

.down-dropdown-menu > li  { 
    width: 100%;
} 

.down-dropdown-menu .table-header  { 
    color: #aaa; 
    padding: 4px 0 0 0;
} 

.dropdown-menu .divider  { 
    height: 1px; 
    margin: 9px 0; 
    overflow: hidden; 
    background-color: #e5e5e5;
} 

.down-dropdown-menu .divider  { 
    margin: 6px 0 0 0;
} 

.down-dropdown-menu .table-footer  { 
    color: #aaa; 
    padding: 6px 0 3px 6px;
} 

.work-set-name .work-set-link  { 
    color: #999!important; 
    word-break: break-all; 
    display: inline-block; 
    vertical-align: bottom;
} 

.work-set-name .work-set-link  { 
    text-decoration: none; 
    height: 14px;
} 

.unit-container-row .work-set-name .work-set-link  { 
    max-width: 415px;
} 

.unit-box-from-row2 a  { 
    color: #999!important; 
    font-size: 12px!important;
} 

.space-nav-container .user-avatar-nickName a  { 
    text-decoration: none;
} 

.audio-item-box .speed .dropdown-menu  { 
    min-width: 60px;
} 

.btn-group-xs > .btn  { 
    padding: 1px 5px; 
    font-size: 12px; 
    line-height: 1.5; 
    border-radius: 3px;
} 

.btn-group > .btn  { 
    position: relative; 
    float: left;
} 

.audio-item-box .editting > button  { 
    border: 0; 
    padding: 0 3px; 
    color: #999; 
    top: -3px;
} 

.btn-group > .btn:first-child  { 
    margin-left: 0;
} 

.btn-group > .btn:hover, .btn-group > .btn:active { 
    z-index: 2;
} 

.audio-item-box .editting .editting-body  { 
    top: 70%; 
    min-width: 100px;
} 

.complain-form-span { 
    color: #999;
} 

.audio-item-box .complain-form-span  { 
    font-size: 12px; 
    position: relative; 
    top: -3px; 
    padding: 0;
} 

.complain-form-span:hover { 
    cursor: pointer; 
    color: #444;
} 

.audio-item-box .complain-form-span:hover { 
    cursor: pointer; 
    text-decoration: none;
} 

.down-dropdown-menu span  { 
    display: inline-block; 
    text-align: center;
} 

.down-dropdown-menu .td-format  { 
    width: 50px;
} 

.down-dropdown-menu .table-header span  { 
    text-align: center;
} 

.down-dropdown-menu .td-quality-audio  { 
    width: 100px;
} 

.down-dropdown-menu .td-fund  { 
    width: 50px;
} 

.down-dropdown-menu .td-size  { 
    width: 50px;
} 

.item-down-btn { 
    cursor: pointer;
} 

.dropdown-menu > li > a  { 
    display: block; 
    padding: 3px 20px; 
    clear: both; 
    font-weight: normal; 
    line-height: 1.42857143; 
    color: #333; 
    white-space: nowrap;
} 

.down-dropdown-menu > li > a  { 
    padding: 5px 0; 
    margin: 3px 0 3px 0;
} 

.hover-link:hover { 
    text-decoration: underline;
} 

.dropdown-menu > li > a:hover { 
    color: #262626; 
    text-decoration: none; 
    background-color: #f5f5f5;
} 

.down-dropdown-menu > li > a:hover { 
    background-color: #ddd; 
    border-radius: 5px;
} 

.work-set-name span  { 
    line-height: 14px;
} 

.unit-info-row .unit-parent-nav  { 
    float: left; 
    text-overflow: ellipsis; 
    white-space: nowrap; 
    overflow: hidden;
} 

.unit-row-audio-nav .unit-parent-nav  { 
    max-width: 360px;
} 

.work-set-link:hover span { 
    border-bottom: 1px solid #999;
} 

.unit-info-row .work-set-item-count  { 
    display: inline-block; 
    padding-left: 5px; 
    max-width: 53px; 
    text-overflow: ellipsis; 
    white-space: nowrap; 
    overflow: hidden;
} 

img { 
    border: 0;
} 

img { 
    vertical-align: middle;
} 

.user-avatar-nickName .user-avatar  { 
    border-radius: 15px; 
    height: 20px; 
    width: 20px; 
    margin-bottom: 2px;
} 

.space-nav-container .user-nickName  { 
    vertical-align: middle; 
    max-width: 190px; 
    display: inline-block; 
    text-overflow: ellipsis; 
    white-space: nowrap; 
    overflow: hidden;
} 

.space-nav-container .user-avatar-nickName:hover .user-nickName { 
    text-decoration: underline;
} 

.audio-item-box .speed .dropdown-menu li  { 
    padding: 0 2px 0 2px;
} 

.audio-item-box .speed .dropdown-menu li:hover { 
    cursor: pointer; 
    color: black; 
    background-color: #ddd;
} 

.audio-item-box .speed .dropdown-menu .selected  { 
    cursor: pointer; 
    color: black; 
    background-color: #eee;
} 

.audio-item-box .speed .dropdown-menu li:hover, .audio-item-box .setting .dropdown-menu li:hover { 
    cursor: pointer; 
    color: black; 
    background-color: #ddd;
} 

.gei-icon-tool { 
    background-image: url(https://cdn-sqn.aigei.com/assets/site/img/icon/itemDetail/toolIcon.png); 
    width: 14px; 
    height: 14px; 
    padding-right: 20px; 
    top: 2px;
} 

.gei-icon-position { 
    background-repeat: no-repeat; 
    position: relative; 
    padding-right: 18px; 
    top: 3px;
} 

.caret { 
    display: inline-block; 
    width: 0; 
    height: 0; 
    margin-left: 2px; 
    vertical-align: middle; 
    border-top: 4px solid \9; 
    border-right: 4px solid transparent; 
    border-left: 4px solid transparent;
} 

.btn .caret  { 
    margin-left: 0;
} 

.audio-item-box .editting > button .caret  { 
    margin-left: -3px;
} 

textarea { 
    margin: 0; 
    font: inherit; 
    color: inherit;
} 

textarea { 
    overflow: auto;
} 

textarea { 
    font-family: inherit; 
    font-size: inherit; 
    line-height: inherit;
} 

.glyphicon-alert:before { 
    content: "\e209";
} 

.font-black { 
    color: #333;
} 

.font-black,.font-black:hover { 
    color: #333;
} 

.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus { 
    color: #262626; 
    text-decoration: none; 
    background-color: #f5f5f5;
} 

label { 
    display: inline-block; 
    max-width: 100%; 
    margin-bottom: 5px; 
    font-weight: bold;
} 

label { 
    display: inline;
} 

.btn-sm { 
    padding: 5px 10px; 
    font-size: 12px; 
    line-height: 1.5; 
    border-radius: 3px;
} 

.btn-primary { 
    color: #fff; 
    background-color: #337ab7; 
    border-color: #2e6da4;
} 

.btn-primary:hover { 
    color: #fff; 
    background-color: #286090; 
    border-color: #204d74;
} 

.btn-primary:active:hover { 
    color: #fff; 
    background-color: #204d74; 
    border-color: #122b40;
} 

select { 
    margin: 0; 
    font: inherit; 
    color: inherit;
} 

select { 
    text-transform: none;
} 

select { 
    font-family: inherit; 
    font-size: inherit; 
    line-height: inherit;
} 

input[type="checkbox"] { 
    -webkit-box-sizing: border-box; 
    -moz-box-sizing: border-box; 
    box-sizing: border-box; 
    padding: 0;
} 

input[type="checkbox"] { 
    margin: 4px 0 0; 
    margin-top: 1px \9; 
    line-height: normal;
} 


/* These were inline style tags. Uses id+class to override almost everything */
#audioItemBox_64310603.style-A41SB {  
   height: 150px;  
}  
#style-IpRxh.style-IpRxh {  
   left: 509px;  
}  
#style-TJL4q.style-TJL4q {  
   left: 476px;  
    background-color: rgb(172, 172, 172);  
}  
#style-UbFdh.style-UbFdh {  
   float: left;  
}  
#fav-anim-bar-item-64310603.style-dRsIK {  
   position: absolute;  
}  
#style-dFNqF.style-dFNqF {  
   display: none;  
}  
#style-fKGAC.style-fKGAC {  
   border: 1px solid #aaa;  
   border-radius: 5px;  
   padding: 1px 5px;  
}  
#style-o5QxG.style-o5QxG {  
   position: relative;  
   top: 9px;  
   font-size: 18px;  
   line-height: 13px;  
}  
#style-gWlv6.style-gWlv6 {  
   display: none;  
}  
#style-J5mIB.style-J5mIB {  
   display: none;  
}  
#style-qCXFq.style-qCXFq {  
   width: 120px;  
    height: 60px;  
}  
#style-LIb1f.style-LIb1f {  
   display: none;  
}  
#style-PBNPG.style-PBNPG {  
   display: none;  
}  
#style-6Lh4J.style-6Lh4J {  
   width:330px;  
   height: 70px;  
}  
#style-IeIdl.style-IeIdl {  
   padding: 5px 0 0 0;  
}  
#style-fOl3m.style-fOl3m {  
   float: left;  
   width: 65%;  
   text-align: right;  
   padding: 0 0 0 0;  
}  
#style-462Wf.style-462Wf {  
   font-weight: normal;  
   cursor: pointer;  
}  
#note-ispublic-item-64310603.style-Qz5cN {  
   zoom:1.3;  
   top: 2px;  
   position: relative;  
}  
#style-ytzN4.style-ytzN4 {  
   float: left;  
   width: 35%;  
   text-align: right;  
}  
#style-lvJmV.style-lvJmV {  
   display: none;  
}  
.containers{
    width: 800px;
    height: 60px;
    margin-left: 50px;
    margin-top: 8px;}
