body {background:#fafafa;}

/*当前位置样式*/
.qb_ui_Site_nav ul {border:none; background:none; padding-left:5px;}

/*页数样式*/
.pagination {padding:15px 0 50px 0;}
.pagination li {line-height:45px;}
.pagination li a {padding:0 20px; border-radius:5px; border: #E5E5E5 solid 1px;}
.pagination li a:hover {border:#FF787E solid 1px; background:#FF787E;}
.pagination li span {padding:0 20px; border-radius:5px; border: #E5E5E5 solid 1px;}
.pagination li.active span {border:#FF787E solid 1px; background:#FF787E;}


/*通用头部*/
.header {position:relative; z-index:10; width:100%; height:60px; background:#fff;}
.header .containers {position:relative; min-width:1200px; margin:0 auto; zoom:1;}

.header .containers .header-logos {float:left; padding-left:40px; width:150px; height:60px; line-height:60px;}
.header .containers .header-logos a {display:block; text-align:center;}
.header .containers .header-logos a img{height:35px;}

.header .containers .header-left {width: 65%;height:60px; line-height:60px; position: absolute; display:-webkit-box; left:50%; -webkit-transform:translate(-50%, 0); -moz-transform:translate(-50%, 0); -ms-transform:translate(-50%, 0); -o-transform:translate(-50%, 0); transform:translate(-50%, 0);}
.header .containers .header-left li {position:relative; float:left; margin-left:33px; text-align:center;}
.header .containers .header-left li:hover ol {display:block}
.header .containers .header-left li:hover a.a {color:#E80F1F; font-weight:bold;}
.header .containers .header-left li a {color:#333; display:block; font-size:15px;}
.header .containers .header-left li a i {margin-right:3px; font-size:13px;}
.header .containers .header-left li span {width:50px; height:18px; line-height:18px; position:absolute; top:3px; left:15px; color:#fff; background-color:#E80F1F; border-radius:10px 0px;}

.header .containers .header-left li ol {display:none; padding:10px 30px 10px 0px; background-color:#fff; box-shadow: 0 0 10px rgba(0,0,0,0.2); border-radius:10px; -webkit-box-shadow:0 0 10px rgba(0,0,0,0.2);  border-top:0; width:600px; height:auto; position:absolute; top:60px; left: 50%; transform:translate(-50%, 0); background:url(ln-bg.jpg) center top; z-index:99;}
.header .containers .header-left li ol li {width:auto; float:left; height:46px; margin-left:30px; margin-bottom:15px; font-size:15px; text-align:center}
.header .containers .header-left li ol li:hover a {color:#E80F1F; font-weight:bold;}
.header .containers .header-left li ol li a {color:#333}

.header .containers .header-right {float:right; padding-right:40px; height:60px; position:relative;}
.header .containers .header-right .member {float:left; margin:12px 0px 12px 12px;}
.header .containers .header-right .member a {display:block; padding:0 15px; height:36px; line-height:36px; font-size:14px; color:#4e2b0e; font-weight:bold; cursor:pointer; background-color:#ffdb00; border-radius:25px; text-align:center;}
.header .containers .header-right .member a img {width:36px; height:36px; margin:-2px 10px 0px -15px; border-radius:50%; object-fit:cover;}

/*头部搜索*/
.top-ss {width:100%;}
.top-ss .box {margin:0 auto; position:relative; height:150px; background-image:linear-gradient(180deg, #E80F1F 0%, #F52242 100%);}
.top-ss .box .w1200 {position:relative; padding-top:30px; width:1200px; margin:0 auto;}
.top-ss .box .search {margin:0 auto; display:inline-block; left:50%; position:relative; -webkit-transform:translate(-50%, 0); -moz-transform:translate(-50%, 0); -ms-transform:translate(-50%, 0); -o-transform:translate(-50%, 0); transform:translate(-50%, 0); z-index:9; width:100%; text-align:center;}
.top-ss .box .search .sst {position:relative; display:inline-block; left:0; top:0; width:800px; border:6px solid rgb(117 116 117); border-radius:12px;}
.top-ss .box .search .sst .lie{height:50px; width:105px; position:absolute;}
.top-ss .box .search .sst .lie .moren{position:absolute; top:15px; left:20px; user-select:none; font-size:14px; font-weight:400; color:#666666; line-height:20px; text-align:center;}
.top-ss .box .search .sst .lie .moren i{margin-left:10px; font-size:12px;}
.top-ss .box .search .sst .lie ul{display:none; top:49px; position:absolute; width:114px; padding-top:5px; padding-bottom:5px; background:#FFFFFF; border-radius:6px; box-shadow:0 5px 6px #80808066;}
.top-ss .box .search .sst .lie ul li {color:#202020; height:35px; cursor:pointer; line-height:35px; background:#FFFFFF; font-size:14px; font-weight:400; text-align:center;}
.top-ss .box .search .sst .lie ul li:hover{color:#E80F1F; background:#ffe7e9;}
.top-ss .box .search .sst input.sr{border-radius:6px; color:#ADADAD; width:800px; height:48px; line-height:48px; text-indent:8px; border:none; background:#FFFFFF; font-size:14px; box-sizing:border-box; background-color:rgba(255, 255, 255, 1); padding:0 112px 0 106px; outline:0; font-family:inherit;}
.top-ss .box .search .sst input.ss{float:left; position:absolute; right:0px; top:0px; height:48px; line-height:48px; font-size:16px; width:170px; border:none; cursor:pointer; background:linear-gradient(90deg, rgba(255, 206, 5, 1), rgba(255, 232, 81, 1)); border-radius:0px 6px 6px 0px; text-align:center; font-weight:bold; color:rgba(61, 31, 65, 1); outline:0; font-family:inherit;}
.top-ss .box .search .re {display:inline-block; width:800px; font-size:14px; color:#FFFFFF; font-weight:400; line-height:34px; text-align:left; white-space:nowrap; overflow:hidden; text-overflow:ellipsis;}
.top-ss .box .search .re a {cursor:pointer; color:#FFFFFF; padding:10px 10px; display:inline-block;}


/*改变首页头部样式*/
.header.index {position:fixed; background:none;}
.header.index .container .header-left li:hover a.a {color:#ffdb00;}
.header.index .container .header-left li a {color:#FFF;}
.header.index .container .header-left li span {color:#E80F1F; background-color:#ffdb00;}
.header.index .container .header-left li ol li:hover a {color:#E80F1F; font-weight:bold;}
.header.index .container .header-left li ol li a {color:#333}
.top-ss.index {display:none;}


/*登录注册开始*/
.dl-zc {display:none; top:0; left:0; position:fixed; width:100%; height:100%; background:rgba(0, 0, 0, 0.5); z-index:101;}
.dl-zc .chuang{width:680px; height:500px; position:fixed; top:50%; left:50%; -webkit-transform:translate(-50%, -50%); -moz-transform:translate(-50%, -50%); -ms-transform:translate(-50%, -50%); -o-transform:translate(-50%, -50%); transform:translate(-50%, -50%);}
.dl-zc .chuang .L {float:left; width:278px; height:500px; background:linear-gradient(314deg,rgba(254,67,80,1) 0%,rgba(255,85,132,1) 100%); background-image:url(denglu.jpg); background-position:center center; background-size:cover; border-radius:10px 0px 0px 10px; position:relative;}
.dl-zc .chuang .R {float:right; width:402px; height:500px; box-sizing:border-box; border-radius:0px 10px 10px 0px; background:rgba(255, 255, 255, 1); position:relative;}
.dl-zc .chuang .R a.fa-times{position:absolute; right:-40px; top:0px; font-size:20px; padding:0px; border-radius:50px; width:34px; height:34px; text-align:center; line-height:32px; background:rgba(0, 0, 0, 0.3); color:rgba(255, 255, 255, 0.7);}

.dl-zc .chuang .R .denglu{margin-top:35px;}
/*登录注册--账号登录*/
.dl-zc .chuang .R .denglu .mm{display:block;}
.dl-zc .chuang .R .denglu .mm .biao{display:flex; -webkit-box-align:center; align-items:center; -webkit-box-pack:center; justify-content:center; font-size:20px; color:rgba(0,0,0,.8); line-height: 26px;}
.dl-zc .chuang .R .denglu .mm .biao i{color:#E80F1F; margin-right:5px;}
.dl-zc .chuang .R .denglu .mm .biao span{font-weight:bold;}
.dl-zc .chuang .R .denglu .mm .tianxie {margin-top:50px; width:100%;}
.dl-zc .chuang .R .denglu .mm .tianxie form{text-align:left; width:270px; margin:0 auto;}
.dl-zc .chuang .R .denglu .mm .tianxie form input {width:230px; height:38px; padding:0 20px; color:#ADADAD; font-size:14px; background:#f1f3f7; border-radius:25px; border:0; outline:0; font-family:inherit;}
.dl-zc .chuang .R .denglu .mm .tianxie form .yanzheng {margin:30px auto; position:relative;}
.dl-zc .chuang .R .denglu .mm .tianxie form .login {}
.dl-zc .chuang .R .denglu .mm .tianxie form .login button{ margin:0 auto; display:block; width:270px; height:42px; line-height:42px; background:#E80F1F; border-radius:25px; font-size:16px; color:#fff; text-align:center; border:1px solid transparent;}
.dl-zc .chuang .R .denglu .mm .bang {margin:35px auto 0 auto; width:80%;}
.dl-zc .chuang .R .denglu .mm .bang a{font-size:14px; color:#8693ab;}
.dl-zc .chuang .R .denglu .mm .bang a.wjmm{float:left; margin-left:15px;}
.dl-zc .chuang .R .denglu .mm .bang a.zczh{float:right; margin-right:15px;}

/*登录注册--微信登录*/
.dl-zc .chuang .R .denglu .wx{display:none;}
.dl-zc .chuang .R .denglu .wx .biao{display:flex; -webkit-box-align:center; align-items:center; -webkit-box-pack:center; justify-content:center; font-size:20px; color:rgba(0,0,0,.8); line-height: 26px;}
.dl-zc .chuang .R .denglu .wx .biao i{color:#65D453; margin-right:5px;}
.dl-zc .chuang .R .denglu .wx .biao span{font-weight:bold;}
.dl-zc .chuang .R .denglu .wx img{margin:20px auto; width:160px; height:160px; border:1px solid #eee; padding:5px; border-radius:6px; display:block;}
.dl-zc .chuang .R .denglu .wx .saoma {color:#1b2337; text-align:center;}
.dl-zc .chuang .R .denglu .wx .saoma p {margin-top:8px; font-size:12px; color:#8693ab;}

/*登录注册--手机登录*/
.dl-zc .chuang .R .denglu .sj{display:none;}
.dl-zc .chuang .R .denglu .sj .biao{display:flex; -webkit-box-align:center; align-items:center; -webkit-box-pack:center; justify-content:center; font-size:20px; color:rgba(0,0,0,.8); line-height: 26px;}
.dl-zc .chuang .R .denglu .sj .biao i{color:#45A6F7; margin-right:5px;}
.dl-zc .chuang .R .denglu .sj .biao span{font-weight:bold;}
.dl-zc .chuang .R .denglu .sj .tianxie {margin-top:50px; width:100%;}
.dl-zc .chuang .R .denglu .sj .tianxie form{text-align:left; width:270px; margin:0 auto;}
.dl-zc .chuang .R .denglu .sj .tianxie form input {width:230px; height:38px; padding:0 20px; color:#ADADAD; font-size:14px; background:#f1f3f7; border-radius:25px; border:0; outline:0; font-family:inherit;}
.dl-zc .chuang .R .denglu .sj .tianxie form .yanzheng {margin:30px auto; position:relative;}
.dl-zc .chuang .R .denglu .sj .tianxie form .yanzheng a {position:absolute; padding:0 20px; height:38px; line-height:38px; background:#45A6F7; border-radius:25px; font-size:14px; color:#fff; text-align:center; top:0px; right:0px;}
.dl-zc .chuang .R .denglu .sj .tianxie form .login {}
.dl-zc .chuang .R .denglu .sj .tianxie form .login button{ margin:0 auto; display:block; width:270px; height:42px; line-height:42px; background:#45A6F7; border-radius:25px; font-size:16px; color:#fff; text-align:center; border:1px solid transparent;}

/*登录注册--找忘记密码*/
.dl-zc .chuang .R .denglu .wj{display:none;}
.dl-zc .chuang .R .denglu .wj .biao{display:flex; -webkit-box-align:center; align-items:center; -webkit-box-pack:center; justify-content:center; font-size:20px; color:rgba(0,0,0,.8); line-height: 26px;}
.dl-zc .chuang .R .denglu .wj .biao i{color:rgba(0,0,0,.8); margin-right:5px;}
.dl-zc .chuang .R .denglu .wj .biao span{font-weight:bold;}
.dl-zc .chuang .R .denglu .wj .biao em {margin-left:100px; padding:0 20px; font-weight:bold; font-size:14px; color:#4e2b0e; background:#ffdb00; border-radius:50px;}
.dl-zc .chuang .R .denglu .wj .biao em:hover {color:#fff; background:#e80f1f;}
.dl-zc .chuang .R .denglu .wj .tianxie {margin-top:50px; width:100%; height:330px; overflow-y:auto;}
.dl-zc .chuang .R .denglu .wj .tianxie form{text-align:left; width:270px; margin:0 auto;}
.dl-zc .chuang .R .denglu .wj .tianxie form input {width:230px; height:38px; padding:0 20px; color:#ADADAD; font-size:14px; background:#f1f3f7; border-radius:25px; border:0; outline:0; font-family:inherit;}
.dl-zc .chuang .R .denglu .wj .tianxie form .yanzheng {margin:30px auto; position:relative;}
.dl-zc .chuang .R .denglu .wj .tianxie form .yanzheng a {position:absolute; padding:0 20px; height:38px; line-height:38px; background:#ffdb00; border-radius:25px; font-size:14px; color:#4e2b0e; text-align:center; top:0px; right:0px;}
.dl-zc .chuang .R .denglu .wj .tianxie form .yanzheng img {cursor:pointer; position:absolute; border-radius:25px; top:0px; right:0px;}
.dl-zc .chuang .R .denglu .wj .tianxie form .yanzheng i {margin:0 10px; border:1px solid #ccc; line-height:30px; padding:0 20px; border-radius:25px;}
.dl-zc .chuang .R .denglu .wj .tianxie form .yanzheng i.ck {color:#E80F1F; border:1px solid #E80F1F;}
.dl-zc .chuang .R .denglu .wj .tianxie form .login {}
.dl-zc .chuang .R .denglu .wj .tianxie form .login button{ margin:0 auto; display:block; width:270px; height:42px; line-height:42px; background:#E80F1F; border-radius:25px; font-size:16px; color:#fff; text-align:center; border:1px solid transparent;}


/*登录注册--注册账号*/
.dl-zc .chuang .R .denglu .zc{display:none;}
.dl-zc .chuang .R .denglu .zc .biao{display:flex; -webkit-box-align:center; align-items:center; -webkit-box-pack:center; justify-content:center; font-size:20px; color:rgba(0,0,0,.8); line-height: 26px;}
.dl-zc .chuang .R .denglu .zc .biao i{color:rgba(0,0,0,.8); margin-right:5px;}
.dl-zc .chuang .R .denglu .zc .biao span{font-weight:bold;}
.dl-zc .chuang .R .denglu .zc .biao em {margin-left:100px; padding:0 20px; font-weight:bold; font-size:14px; color:#4e2b0e; background:#ffdb00; border-radius:50px;}
.dl-zc .chuang .R .denglu .zc .biao em:hover {color:#fff; background:#e80f1f;}
.dl-zc .chuang .R .denglu .zc .tianxie {margin-top:50px; width:100%; height:330px; overflow-y:auto;}
.dl-zc .chuang .R .denglu .zc .tianxie form{text-align:left; width:270px; margin:0 auto;}
.dl-zc .chuang .R .denglu .zc .tianxie form input {width:230px; height:38px; padding:0 20px; color:#ADADAD; font-size:14px; background:#f1f3f7; border-radius:25px; border:0; outline:0; font-family:inherit;}
.dl-zc .chuang .R .denglu .zc .tianxie form .yanzheng {margin:30px auto; position:relative;}
.dl-zc .chuang .R .denglu .zc .tianxie form .yanzheng a {position:absolute; padding:0 20px; height:38px; line-height:38px; background:#ffdb00; border-radius:25px; font-size:14px; color:#4e2b0e; text-align:center; top:0px; right:0px;}
.dl-zc .chuang .R .denglu .zc .tianxie form .yanzheng img {cursor:pointer; position:absolute; border-radius:25px; top:0px; right:0px;}
.dl-zc .chuang .R .denglu .zc .tianxie form .login {}
.dl-zc .chuang .R .denglu .zc .tianxie form .login button{ margin:0 auto; display:block; width:270px; height:42px; line-height:42px; background:#E80F1F; border-radius:25px; font-size:16px; color:#fff; text-align:center; border:1px solid transparent;}



/*登录注册--登录方式*/
.dl-zc .chuang .R .qita{margin-top:20px; position:absolute; bottom:60px; width:100%; text-align:center;}
.dl-zc .chuang .R .qita .s{position:relative;}
.dl-zc .chuang .R .qita .s span{border-radius:50px;display: inline-block;background: #FFF;padding:5px 30px;position:relative;border:1px solid #ddd;color:#888;margin:0 10px;}
.dl-zc .chuang .R .qita .s:before{content: '';display: block;position: absolute;width:80%;height: 1px; background: #DDD; left:10%;top: 14px;}
.dl-zc .chuang .R .qita .x{margin-top:20px;display:flex;justify-content:center;}
.dl-zc .chuang .R .qita .x span{width:45px;height:45px;border-radius:50%;display:inline-block;margin:0 8px;position:relative;}
.dl-zc .chuang .R .qita .x i{font-size:23px;position:absolute;top:50%;left:50%;transform:translate(-50%,-50%);color:#fff;}
.dl-zc .chuang .R .qita .x a:nth-child(1) span{border:1px #E80F1F solid;}
.dl-zc .chuang .R .qita .x a:nth-child(2) span{border:1px #14d4ff solid;}
.dl-zc .chuang .R .qita .x a:nth-child(3) span{border:1px #65D453 solid;}
.dl-zc .chuang .R .qita .x a:nth-child(4) span{border:1px #45A6F7 solid;}
.dl-zc .chuang .R .qita .x a:nth-child(1) span i{color:#E80F1F;}
.dl-zc .chuang .R .qita .x a:nth-child(2) span i{color:#14d4ff;}
.dl-zc .chuang .R .qita .x a:nth-child(3) span i{color:#65D453;}
.dl-zc .chuang .R .qita .x a:nth-child(4) span i{color:#45A6F7;}
.dl-zc .chuang .R .qita .x a.xuan:nth-child(1) span{background-color:#E80F1F;}
.dl-zc .chuang .R .qita .x a.xuan:nth-child(2) span{background-color:#14d4ff;}
.dl-zc .chuang .R .qita .x a.xuan:nth-child(3) span{background-color:#65D453;}
.dl-zc .chuang .R .qita .x a.xuan:nth-child(4) span{background-color:#45A6F7;}
.dl-zc .chuang .R .qita .x a.xuan span i{color:#fff;}

/*登录注册--协议条款*/
.dl-zc .chuang .R .xy-zc {position:absolute; bottom:0; width:100%; text-align:center; padding:14px 0px; font-size:12px; line-height:12px; color:#8693ab; background:#f8f8fb; border-radius:0px 0px 10px 0px;}
.dl-zc .chuang .R .xy-zc a{margin:0 3px; color:#505a71;}
.dl-zc .chuang .R .xy-zc a:hover {color:#505a71;}
/*登录注册结束*/




/*底部样式*/
.footer{background:#323232;}
.footer .nr1{width:100%; height:60px; line-height:60px; text-align:center; background:#3D3D3D; font-size:14px; font-weight:400; color:rgba(255, 255, 255, 1);}
.footer .nr1 span{padding:5px 10px; background:rgba(255, 197, 0, 1); border-radius:5px; color:#202020; margin:0 5px;}
.footer .nr1 b{font-weight:normal; margin:0 20px;}
.footer .nr1 a{margin-top:2px; width:120px; height:30px; background:rgba(255, 197, 0, 1); border-radius:25px; display:inline-block; line-height:30px; text-align:center; color:#000000; font-size:14px;}

.footer .nr2{margin:0 auto;}
.footer .nr2 .s {width:1200px; margin:0 auto;}
.footer .nr2 .s .about{height:172px; font-size:14px;}
.footer .nr2 .s .about .left {float:left; height:100%; line-height:140px;}
.footer .nr2 .s .about .left img.logo{width:auto; height:75px; vertical-align:middle; margin-top:20px; padding-right:24px; margin-right:24px; border-right:1px solid #585858;}
.footer .nr2 .s .about .left .qt {font-size:14px; color:rgba(235, 235, 235, 1); width:320px; display:inline-block; line-height:1; vertical-align:-30px;}
.footer .nr2 .s .about .left .qt a {width:70px; height:30px; background:rgba(255, 255, 255, 1); border-radius:4px; display:inline-block; text-align:center; line-height:28px; margin-top:24px; margin-right:4px;}
.footer .nr2 .s .about .left .qt a img{vertical-align:middle; width:50px;}

.footer .nr2 .s .about .right {float:right; height:100%; display:flex; justify-content:center; align-items:center; line-height:1; margin-right:10px;}
.footer .nr2 .s .about .right .zu {padding-top:30px; width:100px; float:right; color:rgba(147, 147, 147, 1); position:relative; text-align:center; cursor:pointer;}
.footer .nr2 .s .about .right .zu:hover .ewm {display:block;}
.footer .nr2 .s .about .right .zu .ewm {display:none; position:absolute; bottom:96px; left:-22px;  width:110px; height:136px; background:rgba(255, 255, 255, 1); border-radius:5px; color:#939393; text-align:center; padding:10px 15px; border:1px solid #CCCCCC;}
.footer .nr2 .s .about .right .zu .ewm img {width:112px; height:112px;}
.footer .nr2 .s .about .right .zu i {font-size:36px; display:block; margin-bottom:20px; color:rgba(147, 147, 147, 1);}
.footer .nr2 .s .about .right .kefu {font-size:14px; font-weight:400; color:rgba(147, 147, 147, 1); line-height:36px; text-align:right; padding-left:30px;}
.footer .nr2 .s .about .right .kefu a {float:right; width:180px; height:30px; line-height:30px; text-align:center; display:block; background:#565656; border-radius:15px; font-size:14px; font-weight:400; color:rgba(147, 147, 147, 1); cursor:pointer; margin-bottom:10px;}

.footer .nr2 .x {width:1200px; margin:0 auto; border-top:1px solid #585858; height:120px; line-height:30px; padding-left:3px;}
.footer .nr2 .x a{font-size:14px; color:#999999;}
.footer .nr2 .x .xxk {width:1200px; height:38px; margin:16px auto 0;}
.footer .nr2 .x .xxk .tab {text-align:left; border-radius:2px; line-height:38px; display:block; font-size:16px; font-weight:bold; color: rgba(124, 124, 124, 1);}
.footer .nr2 .x .xxk .tab a {font-size:14px; font-weight:bold; color:rgba(124, 124, 124, 1); margin-right:20px;}
.footer .nr2 .x .xxk .tab a:hover {color:#E80F1F;}
.footer .nr2 .x .xxk .show {line-height:16px; font-size:14px; font-weight:400; color:rgba(98, 98, 98, 1);}
.footer .nr2 .x .xxk .show .link {display:none;}
.footer .nr2 .x .xxk .show .link:nth-child(1) {display:block;}
.footer .nr2 .x .xxk .show .link a {margin-right:5px; color:rgba(98, 98, 98, 1); font-size:12px;}

.footer .nr3{font-size:12px; color:#939393; line-height:30px; text-align:left; background-color:#212121;}
.footer .nr3 .one {width:1200px; margin:0 auto;}
.footer .nr3 .one .d1 {float:left; margin-top:10px;}
.footer .nr3 .one .d1 a {height:22px; font-size:12px; color:#999999; padding-right:10px;}
.footer .nr3 .one .d2 {float:right; margin-top:10px;}
.footer .nr3 .one .d3 {clear:both; padding-bottom:10px;}
.footer .nr3 .one .d3 span {margin-right:10px;}
.footer .nr3 .one .d3 span a {color:#999999;}
.js_imgload {background: url(/public/static/sz/loading.gif) no-repeat center;}
/**/
ul.dropdown a,
ul.dropdown span {
    display: block;
    font-weight: 400;
    line-height: 20px;
    padding-top: 8px;
    padding-bottom: 7px;
}
ul.dropdown li {
 padding: 0;
}

ul.dropdown *.dir { /* POI */
 padding: 5px 0px;
}

ul.dropdown ul *.dir {
 padding: 8px 30px 8px 8px;
 border-bottom: #E5E8ED 1px solid;
}

ul.dropdown *.open {
 background-color: #3d3d3d;
}
ul.dropdown ul *.open {
 background-color: #4c4c4c;
 background-image: url(images/comnav-arrowover.png);
 color: #fff;
}
ul.dropdown ul ul *.open {
 background-color: #595959;
 background-image: url(images/comnav-arrowover2.png);
 color: #fff;
}
/* Override UPPER TWO definitions */
ul.dropdown a.open:hover {
 background-color: #4698ca;
 color: #fff;
}
ul.dropdown,
ul.dropdown li,
ul.dropdown ul {
 list-style: none;
 margin: 0;
 padding: 0;
}

ul.dropdown {
 position: relative;
 z-index: 597;
 float: left;
}

ul.dropdown li {
 float: left;
 line-height: 1.3em;
 vertical-align: middle;
 zoom: 1;
}

ul.dropdown li.hover,
ul.dropdown li:hover {
 z-index: 599;
 cursor: default;
}

ul.dropdown ul {
 visibility: hidden;
 position: absolute;
 top: 100%;
 left: 0;
 z-index: 598;
 width: 100%;
}

ul.dropdown ul li {
 float: none;
}

ul.dropdown ul ul {
 top: 1px;
 left: 99%;
}

ul.dropdown li:hover > ul {
 visibility: visible;
 border: solid 1px #E5E8ED;
}