.MainContainer{padding:20px;font-size:14px}
.Container{display:table;width:1314px;margin:auto}
.Container .LeftCnt,.Container .RightCnt{display:table-cell;vertical-align:top}
.Container .RightCnt{width:320px;padding-left:20px}
.RightSide{width:320px;position:relative}
.LeftCnt .BaseInfo{background:#FFF;padding:15px 20px;box-shadow:0px 0px 2px #DDD;border-radius:3px;margin-bottom:20px;line-height:20px;word-spacing:15px}
.LeftCnt .BaseInfo:after{content:'';display:block;clear:both}
.LeftCnt .BaseInfo dt{float:left}
.LeftCnt .BaseInfo dt span{color:#F60;display:inline-block;padding:0 2px}
.LeftCnt .BaseInfo dd{float:right}
.LeftCnt .BaseInfo dd i{color:#1C9019;padding-left:5px}
.LeftCnt .ListBox{background:#FFF;box-shadow:0px 0px 2px #DDD;border-radius:3px}
.LeftCnt .ListBox .head{height:65px;line-height:65px;position:relative;margin:0 3px}
.LeftCnt .ListBox .head:before{content:'';display:block;position:absolute;width:100%;height:2px;background:#EDEDED;left:0px;bottom:0px}
.LeftCnt .ListBox .head span{display:block;float:left;padding:0 20px;font-size:16px;cursor:pointer;color:#555;position:relative}
.LeftCnt .ListBox .head span.ck:after{content:'';display:block;position:absolute;width:100%;height:2px;background:#37A5FC;left:0px;bottom:0px}
.ShowLists{padding:5px 15px}
.ShowLists .list{display:table;width:100%;border-bottom:#EDEDED solid 1px}
.ShowLists .list:hover{background:#F9F9F9}
.ShowLists .list li{display:table-cell;padding:15px 0;vertical-align:middle}
.ShowLists .list li.icon{width:50px;padding-left:5px;padding-right:10px}
.ShowLists .list li.icon a{display:block;width:50px;height:50px;overflow:hidden;border-radius:50%;box-shadow:0px 0px 2px #CCC;position:relative}
.ShowLists .list li.icon a img{position:absolute;width:100%;height:100%;left:50%;top:50%;border:0;border-radius:50%;-webkit-transform:translate3D(-50%,-50%,0);-ms-transform:translate3D(-50%,-50%,0);transform:translate3D(-50%,-50%,0)}
.ShowLists .list li.info .title{height:25px;line-height:25px;overflow:hidden;margin-bottom:5px}
.ShowLists .list li.info .title a{font-size:16px}
.ShowLists .list li.info .title span{display:inline-block;background:#43B3FF;color:#FFF;padding:0px 10px;margin-left:5px}
.ShowLists .list li.info .title span.com{background:#e03ad2}
.ShowLists .list li.info .title span.hot{background:#F90}
.ShowLists .list li.info .title span.top{background:#0CCCCE}
.ShowLists .list li.info .more{height:20px;line-height:20px;overflow:hidden;color:#999}
.ShowLists .list li.info .more a{color:#999}
.ShowLists .list li.info .more i{margin-left:10px;padding-right:3px}
.ShowLists .list li.hits,.ShowLists .list li.reply{width:80px;color:#888;text-align:right;line-height:20px}
.ShowLists .list li.hits i,.ShowLists .list li.reply i{padding-right:3px}
.ShowLists .list li.reply{padding-right:5px}
.ShowMoreBBs{text-align:center;padding:30px 0px}
.ShowMoreBBs button{display:block;width:60%;text-align:center;line-height:50px;border:0px;background:#EDEDED;font-size:20px;color:#888;margin:auto;border-radius:8px;cursor:pointer;outline:none}
.ShowMoreBBs button:hover{background:#F90;color:#FFF}
.RightBase1{position:absolute;width:100%;left:0}
.RightBase dt{background:#FFF;box-shadow:0px 0px 2px #DDD;border-radius:3px;padding:20px;margin-bottom:20px}
.RightBase dt button{display:block;width:90%;margin:10px auto;text-align:center;line-height:55px;background:#27BBBF;font-size:20px;color:#FFF;border:0px;border-radius:8px}
.RightBase dt button:hover{background:#F60}
.RightBase dt ul{display:table;width:100%;margin:20px 0px 15px 0px}
.RightBase dt ul ol,.RightBase dt ul li{display:table-cell;width:50%;text-align:center;vertical-align:middle;padding:5px 0}
.RightBase dt ul li{border-left:#DDD solid 1px}
.RightBase dt ul span,.RightBase dt ul em{display:block}
.RightBase dt ul span{color:#888}
.RightBase dt ul em{padding-top:15px;font-size:16px}
.RightBase dt ul ol em{color:#F90}
.RightBase dt div{border-top:#DDD solid 1px;padding:20px 5px 5px 5px;color:#999;word-spacing:5px}
.RightBase dt div span,.RightBase dt div a{color:#27BBBF}
.RightBase dd{background:#FFF;box-shadow:0px 0px 2px #DDD;border-radius:3px}
.RightSide .h{padding:15px 0px}
.RightSide .h span{display:block;height:20px;line-height:20px;position:relative;padding-left:20px;font-size:18px}
.RightSide .h span:before{content:'';display:block;position:absolute;width:3px;height:100%;left:0;top:0;background:#3499E7}
.RightBase dd ul{padding:0 10px 5px 10px}
.RightBase dd ul:after{content:'';display:block;clear:both}
.RightBase dd ul li{width:50%;padding-bottom:20px;float:left}
.RightBase dd ul li a{display:block;margin:0px 10px;text-align:center;height:45px;line-height:45px;padding:0px 5px;background:#F0F0F0;font-size:16px;color:#888}
.RightBase dd ul li a.ck{background:#F90;color:#FFF}
.RightBase dd ul li a:hover{background:#F60;color:#FFF}
.RightSide .SideMores,.RightSide .WXcode{background:#FFF;box-shadow:0px 0px 2px #DDD;border-radius:3px;margin-top:20px}
.RightSide .ListMember{padding:0 10px 10px 10px}
.RightSide .ListMember:after{content:'';display:block;clear:both}
.RightSide .ListMember li{width:50%;overflow:hidden;padding-bottom:30px;float:left}
.RightSide .ListMember li span{display:block;width:75px;height:75px;overflow:hidden;position:relative;margin:auto;border-radius:50%}
.RightSide .ListMember li span img{position:absolute;width:100%;height:100%;left:50%;top:50%;-webkit-transform:translate3D(-50%,-50%,0);-ms-transform:translate3D(-50%,-50%,0);transform:translate3D(-50%,-50%,0)}
.RightSide .ListMember li em{display:block;text-align:center;padding:5px 10px 0px 10px;height:20px;line-height:20px;overflow:hidden;font-size:16px}
.RightSide .MOreShow{text-align:center;padding:10px 0 20px 0}
.RightSide .MOreShow button{border:0px;background:none;font-size:18px;color:#888;cursor:pointer;outline:none}
.RightSide .MOreShow button i{padding-left:5px}
.RightSide .MOreShow button:hover{color:#F60}
.RightSide .ListNewfen li{height:35px;line-height:35px;padding:0 20px;overflow:hidden;font-size:14px}
.RightSide .ListNewfen li:hover{background:#F5F5F5}
.RightSide .FriendLink{padding:0 10px 10px 10px}
.RightSide .FriendLink li{display:inline-block;line-height:35px;padding:0px 10px;font-size:16px}
.RightSide .WXcode dt{text-align:center;font-size:18px;padding-top:20px}
.RightSide .WXcode dd{text-align:center;padding:20px}
.RightSide .WXcode dd img{width:200px;height:200px}
.topUpCont{position:fixed;width:80px;border:#DDD solid 1px;background:#FFF;z-index:10000;right:10px;bottom:10px;border-radius:5px;text-align:center;padding:10px 0px;line-height:20px;cursor:pointer;color:#999;display:none}
.topUpCont i{font-size:20px}
.topUpCont:hover{border:#F60 solid 1px;background:#F90;color:#FFF}
.ShowContent{background:#FFF;border-radius:2px;position:relative}
.ShowContent .topinfo{padding:12px 24px;background-color:#fff;border-bottom:1px solid #f2f2f2;border-radius:2px 2px 0 0;height:40px;display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-align:center;-ms-flex-align:center;align-items:center}
.ShowContent .topinfo:after{content:'';display:block;clear:both}
.ShowContent .topinfo .guide{float:left;line-height:30px;color:#999}
.ShowContent .topinfo .guide a{color:#888}
.ShowContent .topinfo .SharBox{position: absolute; right: 24px;font-weight: 500;color: #fc5531;line-height: 26px;display: -webkit-box;display: -ms-flexbox;display: flex;-webkit-box-align: center;-ms-flex-align: center;align-items: center;gap: 4px;}
.ShowContent .title{padding:20px 0px;font-size:24px;width:935px;overflow:hidden;white-space:nowrap;text-overflow:ellipsis;-o-text-overflow:ellipsis;line-height:28px;max-height:56px;overflow:hidden;font-weight:700}
.ShowContent .thebase{background:#F5F5F5;border-radius:5px}
.ShowContent .thebase:after{content:'';display:block;clear:both}
.ShowContent .thebase ul{display:table;float:left}
.ShowContent .thebase ul ol,.ShowContent .thebase ul li{display:table-cell;vertical-align:middle;text-align:left}
.ShowContent .thebase ul ol{width:60px;padding:10px 10px 10px 20px}
.ShowContent .thebase ul ol a{display:block;width:60px;height:60px;overflow:hidden;position:relative;border-radius:50%;box-shadow:0px 0px 3px #000}
.ShowContent .thebase ul ol a img{position:absolute;width:100%;height:100%;left:50%;top:50%;-webkit-transform:translate3D(-50%,-50%,0);-ms-transform:translate3D(-50%,-50%,0);transform:translate3D(-50%,-50%,0)}
.ShowContent .thebase ul li{line-height:25px;color:#888}
.ShowContent .thebase ul li span{display:inline-block;font-size:16px;color:#333;padding-right:10px}
.ShowContent .thebase ul li a{display:inline-block;background:#F90;color:#FFF;padding:0px 10px;margin-top:5px;border-radius:3px}
.ShowContent .thebase ul li a:hover{background:#F60}
.ShowContent .thebase dl{display:table;float:right}
.ShowContent .thebase dl dt,.ShowContent .thebase dl dd{display:table-cell;padding:10px 0px;height:60px;vertical-align:middle;font-size:18px;color:#888}
.ShowContent .thebase dl dd{padding-right:20px}
.ShowContent .thebase dl i{margin-left:10px;margin-right:3px}
.contents{background:#fff;padding:0 24px 24px;overflow:hidden}
.content_html{width:100%;margin:25px 0px;overflow:hidden;line-height:25px;font-size:16px;color:#666;word-wrap:break-word;word-break:break-all}
.content_html p{padding:5px 0px}
.content_html img{max-width:100%}
.content_act{height:30px;position:relative;padding:10px 0;background:#fff;-webkit-box-shadow:0 -1px 3px rgba(18,18,18,.1);box-shadow:0 -1px 3px rgba(18,18,18,.1)}
.content_act span i{margin-right:4px}
.edit-item{display:inline-block;color:#999;font-size:14px;position:relative;cursor:pointer}
.reply-box{height:30px;float:right}
.reply-box i,.reply-box em{font-size:18px}
.reply-box span{margin-right:5px}
.user-operate{height:-webkit-max-content;height:-moz-max-content;height:max-content;height:28px;padding:0 24px;z-index:9;display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-orient:horizontal;-webkit-box-direction:normal;-ms-flex-direction:row;flex-direction:row;line-height:28px;position:relative;overflow:hidden}
.content_act span{cursor:pointer;display:inline-block;margin-right:32px;color:#555666;font-size:14px;font-weight:400;font-family:PingFangSC-Regular,PingFang SC!important;min-width:45px}
.ShowComment{background:#FFF;padding:20px;margin-top:20px;box-shadow:0px 0px 3px #CCC;border-radius:3px}
.ShowComment .head{height:40px;border-bottom:#DDD solid 1px;line-height:30px;font-size:18px}
.ShowComment .head ol{float:left}
.ShowComment .head li{float:right}
.ListComment .lists{padding:20px 5px;border-bottom:#DDD solid 1px}
.ListComment .lists:hover{background:#FAFAFA}
.ListComment .lists ul{display:table;width:100%}
.ListComment .lists ul >ol,.ListComment .lists ul> li{display:table-cell;text-align:left;vertical-align:top}
.ListComment .lists ul> ol{width:50px;padding-right:20px}
.ListComment .lists ul> ol a{display:block;width:50px;height:50px;overflow:hidden;position:relative;border-radius:50%;box-shadow:0px 0px 8px #000}
.ListComment .lists ul> ol a img{position:absolute;width:100%;height:100%;left:50%;top:50%;-webkit-transform:translate3D(-50%,-50%,0);-ms-transform:translate3D(-50%,-50%,0);transform:translate3D(-50%,-50%,0)}
.ListComment .lists ul li .info{height:25px;line-height:25px;overflow:hidden}
.ListComment .lists ul li .info a,.ListComment .lists ul li .info span,.ListComment .lists ul li .info em,.ListComment .lists ul li .info i{display:block;float:left;font-size:16px;color:#666}
.ListComment .lists ul li .info a{font-weight:bold;color:#2699F4;padding-right:10px}
.ListComment .lists ul li .info em{color:#999;padding-left:10px;font-size:12px}
.ListComment .lists ul li .info i{float:right;font-style:normal}
.ListComment .lists ul li .cnt{width:100%;overflow:hidden;padding-top:10px;line-height:20px;word-wrap:break-word;word-break:break-all;color:#666}
.ListComment .lists ul li .cnt img{max-width:100%}
.ListComment .lists .other{text-align:right;padding-top:10px;line-height:20px;font-size:18px;color:#AAA}
.ListComment .lists .other a{color:#AAA}
.ListComment .lists .other i{padding-left:10px;padding-right:3px;cursor:pointer}
.ListComment .lists .other i:hover{color:#F60}
.replaycomment .r_dl{background:#F5F5F5;margin-top:5px;padding:5px 30px 15px 5px;border-radius:5px;line-height:20px;position:relative}
.replaycomment .r_dl:after{content:'';display:block;clear:both}
.replaycomment .r_dl .r_dt,.replaycomment .r_dl .replycontent{float:left;padding-left:5px}
.replaycomment .r_dl .replycontent{color:#888}
.replaycomment dl dd .c-act{display:block;width:15px;height:15px;position:absolute;right:2px;bottom:0px;cursor:pointer}
.replaycomment dl dd .give-money{right:28px}
.replaycomment dl dd .upnum{right:48px}
.replaycomment dl dd .del{right:68px}
.replaycomment dl dd .yz{right:90px}
.status-0 .yz{color:red;font-weight:bold}
.replaycomment dl dd .c-act:hover{color:#F30}
.ShowMoreComment{text-align:center;padding:20px 0px}
.ShowMoreComment span{font-size:18px;color:#999;cursor:pointer}
.ShowMoreComment span:hover{color:#F60}
.ShowMoreComment span i{padding-left:5px}
#PostComment{background:#FFF;padding:30px;margin-top:20px;box-shadow:0px 0px 3px #CCC;border-radius:3px}
#PostComment .ueditor{width:900px}
#PostComment .submit{text-align:right;padding-top:20px}
#PostComment .submit button{background:#3790D0;border:none;padding:10px 20px;font-size:20px;color:#FFF;border-radius:3px;cursor:pointer}
#PostComment .submit button:hover{background:#F60}
.ShowComment .replycontent{max-width:700px;overflow:hidden}
.ShowComment .replycontent img{max-width:100%}
pre{padding:10px 15px;border:1px solid #D1D7DC;position:relative;margin:10px 0;font-size:12px;border-left:6px solid #009688;background-color:#f8f8f8;max-width:700px;overflow-x:auto}
.showdsBox{padding:0 15px 0 5px;display:table;width:100%}
.showdsBox dl{padding-right:40px;position:relative}
.showdsBox dl dt a{float:left;display:flex;flex-direction:row;padding-right:10px;line-height:30px;margin-top:5px}
.showdsBox dl dt a span{width:25px;height:25px;overflow:hidden;border-radius:30%;position:relative}
.showdsBox dl dt a span img{position:absolute;width:100%;height:100%;left:0;top:0}
.showdsBox dl dt a em{color:#F60}
.showdsBox dl dd{position:absolute;width:40px;height:25px;line-height:25x;text-align:right;right:0;top:0;font-size:14px;color:#999}
.showdsBox dl dd i{margin-left:2px}
.hide_content .btn,.hide_content .paymoney_butotn{border:0px solid #ccc;background:orange;color:#fff;padding:3px 20px 3px 20px}
.hide_content .btn:hover,.hide_content .paymoney_butotn:hover{background:red}
.play_voice{display:inline-block;height:30px;line-height:40px;text-align:center;position:relative;vertical-align:bottom}
.play_voice span{display:inline-block;width:3px;margin-bottom:0;background-color:blue;margin-right:-12px}
.play_voice .line1{animation:line 0.6s infinite ease-in-out alternate}
.play_voice .line2{animation:line 0.6s 0.2s infinite ease-in-out alternate}
.play_voice .line3{animation:line 0.6s 0.4s infinite ease-in-out alternate}
.play_voice .line4{animation:line 0.6s 0.6s infinite ease-in-out alternate}
@keyframs line{from{height:0}
to{height:20px}
}@-webkit-keyframes line{from{height:0}
to{height:20px}
}.bbsindexbanner{width:1314px;margin:auto}