/*banner*/
.flexslider{position:relative;height:435px;overflow:hidden;}
.slides{position:relative;z-index:1;}
.slides li{height:435px;}
.flex-control-nav{position:absolute;bottom:20px;z-index:2;width:100%;text-align:center;}
.flex-control-nav li{display:inline-block;width:16px;height:16px;margin:0 5px;*display:inline;zoom:1; }
.flex-control-nav a{display:inline-block;width:14px;height:14px;line-height:10px;overflow:hidden;cursor:pointer; background: #fff; border-radius:50%; text-indent: -9999px; border: 1px solid #fff;}
.flex-control-nav .flex-active{background:#FF9326;}
.new-test-con{
	margin-top: 30px;
}
.new-test-con li{
	padding: 25px 20px;
	border-top: 1px dotted #ccc;
	overflow: hidden;
}
.new-test-con .icon-new{
	float: left;
	width: 40px;
	height: 38px;
	margin-top: 5px;
	background: url(./test-icon01.png) no-repeat center center;
}
.new-test-con .text-info{
	float: left;
	width: 600px;
	margin-left: 10px;
}
.new-test-con .text-name{
	height: 25px;
	line-height: 25px;
	font-size: 15px;
	overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.new-test-con .info{
	padding-top: 10px;
	color: #999;
	overflow: hidden;
}
.new-test-con .info .type{
	float: left;
	height: 20px;
	line-height: 20px;
	padding: 0px 5px;
	border: 1px solid #FF9326;
	color: #FF9326;
	display: block;
	-webkit-border-radius:3px;
 	-moz-border-radius:3px;
  -ms-border-radius:3px;
 	-o-border-radius:3px;
	border-radius: 3px;
}
.new-test-con .info .time{
	float: left;
	display: block;
	margin-left: 20px;
}
.new-test-con .button{
	float: right;
	margin-top: 15px;
	display: block;
	background: url(./bg02.png) no-repeat right 10px center;
	width: 105px;
	padding-left: 15px;
	height: 32px;
	line-height: 32px;
	font-size: 16px;
	color: #4CA5FF;
	border: 1px solid  #4CA5FF;
	-webkit-border-radius:5px;
 	-moz-border-radius:5px;
  -ms-border-radius:5px;
 	-o-border-radius:5px;
	border-radius: 5px;
}
.new-test-con .button:hover{
	color: #2273C0;
	border: 1px solid #2273C0;
}
.new-subject-con{
	margin: 20px 15px;
	border: 1px solid #ddd;
}
.subject-tab-menu{
	height: 45px;	
	overflow: hidden;
	position: relative;
}
.subject-tab-menu:after{
	content: '';
	display: block;
	height: 1px;
	background: #ddd;
	width: 100%;
	position: absolute;
	bottom: 0;
	left: 0;
}
.subject-tab-menu li{
	float: left;
	width: 115px;
	text-align: center;
	font-size: 16px;
	height: 45px;
	line-height: 45px;
	border-right: 1px solid #ddd;
	position: relative;
}
.subject-tab-menu li a{
	display: block;
	color: #666;
}
.subject-tab-menu li.cur{
	position: relative;
	color:#2273C0;
	border-bottom-color: #fff; 
}
.subject-tab-menu li.cur:after{
	  content: '';
    display: block;
    height: 2px;
    background: white;
    position: absolute;
    left: 0;
    width: 100%;
    bottom: -1px;
    z-index: 2;
}
.subject-tab-menu li.cur:before{
	  content: '';
    display: block;
    height: 3px;
    background:#2273C0;
    position: absolute;
    left: 0;
    width: 100%;
    top: -1px;
    color: #2273C0;
    z-index: 2;
}
.hide{
	display: none;
}
.subject-tab-menu li.cur a{
	color: #2273C0;
}
.subject-list{
	padding:20px 15px;
	overflow: hidden;
}
.subject-list li{
	float: left;
	width: 340px;
	height: 45px;
	line-height: 45px;
	padding-left: 20px;
	margin-right: 30px;
	background: url(./bg03.png) no-repeat left center;
	overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.subject-list li .tip{
	font-style: normal;
	color: #2273C0;
}
.exercises-list{
	padding: 8px 10px 0px 20px;
}
.exercises-list li{
	height: 33px;
	line-height: 33px;
	background: url(./bg04.png) no-repeat left center;
	padding-left: 25px;
	margin-top: 10px;
	overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}