@charset "utf-8";
/* CSS index */

table, tr, td, th {
	border: 0px none;
}
table.noWbor {
	border-top: 1px solid;
}
table.noWbor td, table.noWbor th {
	border-left: 1px solid;
	border-bottom: 1px solid;
}
table.noWbor tr td:first-child, table.noWbor tr th:first-child {
	border-left: none;
}
.flou1 {
	width: 35px;
	height: 24px;
	background: url(/public/static/wk/img/flou.png) no-repeat 0 0;
	display: block;
	float: left;
	margin: 16px 5px 0 0
}
.flou2 {
	width: 35px;
	height: 24px;
	background: url(/public/static/wk/img/flou.png) no-repeat 0 -24px;
	display: block;
	float: left;
	margin: 16px 5px 0 0
}
.flou3 {
	width: 35px;
	height: 24px;
	background: url(/public/static/wk/img/flou.png) no-repeat 0 -48px;
	display: block;
	float: left;
	margin: 16px 0 0;
	padding-right: 5px
}
.flou4 {
	width: 35px;
	height: 24px;
	background: url(/public/static/wk/img/flou.png) no-repeat 0 -72px;
	display: block;
	float: left;
	margin: 16px 5px 0 0
}
.flou5 {
	width: 35px;
	height: 24px;
	background: url(/public/static/wk/img/flou.png) no-repeat 0 -96px;
	display: block;
	float: left;
	margin: 16px 0 0;
	padding-right: 5px
}
.center_line {
	width: 1200px;
	height: 15px;
	clear: both
}
.home_menu {
	width: 100%;
	min-width: 1200px;
	height: 50px;
	overflow: hidden;
	border-bottom: 2px solid #309aeb;
}
.home_menu .mcenter {
	margin: auto;
	width: 1200px;
	height: 50px;
	margin-top: 0px;
}
.home_menu .feilei {
	float: left;
	background: #ff3c00;
	width: 220px;
	color: #fff;
	font-size: 16px;
	line-height: 50px;
	text-align: center;
	background-color: #26aef3;
	color: #fff;
	margin-top: 0px;
	height: 51px;
	border-radius: 0px 0px 0px 0px;
}
.home_menu .feilei:hover {
}
.feilei .h3 {
	height: 52px;
	line-height: 52px;
	padding-left: 55px;
	text-align: left;
	background: url(/public/static/wk/img/allclassify_ico.png) 20px center no-repeat;
	font-size: 16px;
	cursor: pointer;
	position: relative;
}
.feilei .h3 span {
	display: inline-block;
	width: 14px;
	height: 8px;
	position: absolute;
	background: url(/public/static/wk/img/icon_cmn.png) 0px -627px;
	top: 22px;
	right: 30px;
	z-index: 20;
}
.feilei .h3 span.hovSpan {
	background-position: 0px -654px;
}
.home_menu .feilei a.fen {
	width: 220px;
	display: block;
	height: 50px;
	color: #fff;
	text-decoration: none;
	text-align: center;
}
.home_menu .j_menu {
	float: left;
	height: 41px;
	padding-top: 7px;
	width: 941px;
	padding-left: 19px
}
.home_menu .j_menu li {
	float: left;
	font-size: 16px;
	padding: 0 19px;
	height: 41px;
	z-index: 2;
	line-height: 41px;
	position: relative;
}
.home_menu .j_menu li a {
	text-decoration: none;
	color: #666
}
.home_menu .j_menu li a:hover {
	color: #f30
}
.home_menu .j_menu li.home a {
	color: #ff3c00;
}
.home_menu .j_menu li.cx {
	background: url(../../img/hot.gif) no-repeat top right
}
.home_menu .j_menu li.rad a {
	width: 86px;
	height: 35px;
	display: block;
	background: url(../../img/join.png) no-repeat
}
.home_cate {
	clear: both;
	left: 50%;
	text-align: left;
	margin: 0px 0px;
	padding: 0px 0px;
	margin-left: -600px;
	height: 350px;
	position: absolute;
	z-index: 9999;
}
.cate {
	position: absolute;
	zoom: 1;
	width: 220px;
	padding-top: 0;
*padding-top:0px;
	font-size: 14px;
	height: 350px;
	border: 0;
	z-index: 999;
	background: #5c5c5c;
filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#000, endColorstr=#000);
	border-top: solid 1px #f30;
	padding: 0px 0px;
	left: 0px;
	top: 1px;
*top:1px;
	margin: 0px 0px;
	padding: 0px 0px;
}
.cate a b.li-aw {
	display: inline-block;
	left: 5px;
	top: -1px;
*top:-6px;
	_top: 3px;
	width: 4px;
	height: 7px
}
.cate a:hover b.li-aw {
}
.cate dl.category-title {
	margin: 0px 0px 0px 0px;
	padding: 7px 0px 6px 10px;
	height: 55px;
	line-height: 55px;
	width: 208px;
	border-bottom: 1px solid #757474;
	border-left: solid 2px #5c5c5c;
	border-top: 1px solid #5c5c5c;
	position: relative;
	cursor: pointer;
}
.cate dl.limitcount {
	margin: 0px 0px 0px 0px;
	padding: 8px 0px 8px 20px;
	height: 25px;
	line-height: 25px;
	width: 198px;
	border-bottom: 0px solid #757474;
	border-left: solid 2px #5c5c5c;
}
.cate dl.category-title dt {
	height: 28px;
	line-height: 28px;
	padding-left: 3px
}
.cate dl.category-title dt a {
	color: #fff;
	font-size: 14px
}
.cate dl dd {
	height: 24px;
	line-height: 24px;
	clear: both;
	padding: 4px 0 0 2px;
}
.cate dl.category-title dd {
	height: 24px;
	line-height: 24px;
	overflow: hidden;
}
.cate dl.category-title dd a {
	color: #fff;
	padding: 0 3px;
*padding:0 2px;
	font-size: 14px
}
.cate dl a:hover {
	text-decoration: underline
}
.cate dl.category-title.last {
	border-bottom: 0
}
.right-arrow {
	clear: both;
	float: right;
	margin-right: 20px;
	font-family: "宋体";
	position: absolute;
	right: 10px;
	top: 8px;
	color: #a0a0a0;
	font-size: 16px;
	font-weight: bold
}
/*navigation*/
.cate li {
	margin: 0px 0px;
	padding: 0px 0px;
	float: left;
}
.cate li, .cate li dl, .cate li dd {
	margin: 0px 0px;
	padding: 0px 0px;
}
.cate li:hover .category-title {
	color: #e93b39;
	background: #fff;
}
.cate li:hover .category-title dt a {
	color: #e93b39;
}
.cate li:hover .category-title dd a {
	color: #666;
}
.cate li:hover .category-sub {
	display: block;
*display:inline;
}
.cate .category-sub {
	position: absolute;
	top: -2px;
	left: 220px;
	width: 939px;
	background: #fff;
	height: 319px;
*height:319px;
	padding: 15px 20px;
	text-align: left;
	font-size: 12px;
	border: 1px solid #f4d05e;
	border-left: 0px solid #f4d05e;
	z-index: 99991;
	display: none;
	border-top: 2px solid transparent;
	filter: alpha(opacity=90); /*IE滤镜，透明度50%*/
	-moz-opacity: 0.9; /*Firefox私有，透明度50%*/
	opacity: 0.9;/*其他，透明度50%*/
}
.cate .category-sub a {
	color: #333;
	font-size: 14px;
	margin-left: 0px;
	margin-right: 20px
}
.cate .category-sub a:hover {
	color: #e93b39
}
.cate .category-sub dt {
	height: 36px;
	line-height: 36px;
	border-bottom: 1px dashed #bda044;
	color: #e93b39;
	font-size: 15px;
	margin-bottom: 6px;
	padding: 0px 0px
}
.cate .category-sub dt a {
	color: #e93b39;
	font-size: 15px;
	margin-left: 0px;
	margin-bottom: 4px
}
.cate .category-sub dd {
	height: 36px;
	line-height: 36px;
	padding: 0px 0px;
	margin: 0px 0px
}
.feilei:hover .home_cate {
	display: block
}
.feilei:hover .cate {
}
.more a {
	color: #999;
	font-size: 12px;
	font-family: "宋体"
}
.mapsm {
	font-family: "Arial"
}
.line {
	float: left;
	padding: 0 3px;
	color: #e6e6e6;
	font-size: 16px
}
.augg {
	width: 1188px;
	height: 33px;
	border: 1px solid #e5e5e5;
	padding: 5px;
	margin: 0 auto;
	overflow: hidden;
	margin-bottom: 15px;
	font-size: 16px;
	line-height: 33px;
	margin-top: 20px;
}
.augg .aul {
	float: left;
	height: 33px;
	line-height: 33px;
	padding: 0 120px 0 19px
}
.augg .aul b {
	color: #ff3a01;
	font-size: 18px
}
.home_jrm {
	width: 1200px;
	margin: auto
}
.home_jrm h1 {
	float: left;
	font-size: 18px;
	font-weight: 500;
}
.home_jrm .home_jrd {
	width: 870px;
	height: 570px;
	overflow: hidden;
	border: 1px solid #e5e5e5;
	float: left;
	padding: 19px 0 19px 17px
}
.home_jrm .home_jrd .jrd_title {
}
.home_jrm .home_jrd .jrd_title h3 {
	padding: 0 0 0 5px;
	font-size: 18px;
	font-weight: 500;
	float: left
}
.home_jrm .home_jrd .jrd_title h4 {
	float: right;
	font-size: 14px;
	font-weight: 500;
	padding-right: 10px
}
.home_jrm .home_jrd .jrd_title h4 a {
	margin: 0 15px;
	display: block;
	float: left
}
.home_jrm .home_jrd .jrd_view {
	width: 870px;
	height: 570px;
	overflow: hidden;
	position: relative
}
.home_jrm .home_jrd .jrd_view li {
	position: relative;
	vertical-align: middle;
	float: left;
	text-align: center;
	width: 152px;
	height: 255px;
	overflow: hidden;
	padding: 20px 15px 0 5px
}
.home_jrm .home_jrd .jrd_view li img {
	border: 1px solid #e5e5e5;
	width: 150px;
	height: 200px;
	margin-bottom: 9px
}
.home_jrm .home_jrd .jrd_view li:hover img {
	border: 1px solid #ff6c00
}
.home_jrm .home_jrd .jrd_view li a.text {
	display: block;
	height: 40px;
	line-height: 20px;
	overflow: hidden;
	width: 152px
}
.home_jrm .jrd_view li span {
	right: 18px;
	bottom: 53px;
	position: absolute;
	cursor: pointer;
	_bottom: 34px;
	_right: 19px;
	display: block;
	padding: 0px;
	height: 20px;
	line-height: 20px;
	font-size: 12px;
	font-weight: 100;
	
	color: #000;
	overflow: hidden;
	filter: alpha(opacity=90);
	-moz-opacity: .9;
	opacity: .9
}

.home_jrm .home_rmz {
	width: 285px;
	height: 608px;
	overflow: hidden;
	float: right;
	border: 1px solid #e5e5e5
}
.home_jrm .home_rmz .rmz_title {
	width: 245px;
	height: 40px;
	padding: 20px 20px 0
}
.home_jrm .home_rmz .rmz_title h3 {
	font-size: 18px;
	font-weight: 500;
	float: left
}
.home_jrm .home_rmz .rmz_title span {
	float: right;
	font-weight: 500
}
.home_jrm .home_rmz .rmz_title span a {
	color: #999
}
.home_jrm .home_rmz .rmz_view {
	padding: 0 20px 0 18px;
	width: 245px;
	position: relative;
	height: 540px;
	overflow: hidden;
	background: url(../../img/lim.png) no-repeat 20px 0
}
.home_jrm .home_rmz .rmz_view dt {
	padding: 0;
	height: 154px;
	overflow: hidden;
	float: left;
	width: 241px
}
.home_jrm .home_rmz .rmz_view dd {
	height: 26px;
	line-height: 26px;
	padding: 0 0 4px 4px;
	float: left;
	width: 237px;
	clear: both
}
.home_jrm .home_rmz .rmz_view dd a {
	color: #595959
}
.home_jrm .home_rmz .rmz_view dd a:hover {
	color: red
}
.home_jrm .home_rmz .rmz_line {
	height: 15px;
	background: url(../../img/jyd.png) no-repeat center;
	margin-top: 5px
}
.home_jrm .home_rmz .rmnews {
	padding: 15px 20px;
	height: 122px;
	overflow: hidden;
	width: 225px
}
.home_zx {
	width: 1200px;
	margin: auto
}
.home_zx h1 {
	float: left;
	font-size: 18px;
	font-weight: 500;
}
.home_zx .zx_title {
	width: 100%;
	height: 50px;
	line-height: 60px;
	clear: both;
	overflow: hidden;
	color: #555
}
.home_zx .zx_title h3 {
	float: left;
	font-size: 18px;
	font-weight: 500
}
.home_zx .zx_title .zx_r {
	float: right
}
.home_zx .zx_view {
	width: 1180px;
	border-top: 1px solid #e4e4e4;
	background: #f7f7f7;
	padding: 20px 10px;
	clear: both;
	height: 493px;
	overflow: hidden;
	position: relative
}
.home_zx .zx_view li {
	float: left;
	width: 148px;
	height: 250px;
	padding: 0 10px;
	text-align: center;
	overflow: hidden;
	position: relative;
	vertical-align: middle;
	display: table-cell
}
.home_zx .zx_view li a.text {
	display: block;
	height: 40px;
	line-height: 20px;
	overflow: hidden;
	width: 148px;
	text-overflow: ellipsis
}
.home_zx .zx_view li img {
	width: 146px;
	height: 197px;
	border: 1px solid #e5e5e5
}
.home_zx .zx_view li:hover img {
	border: 1px solid #ff3c00
}
.home_zx .zx_view li span {
	right: 13px;
	bottom: 54px;
	position: absolute;
	cursor: pointer;
	_bottom: 52px;
	_right: 14px;
	display: block;
	width: 18px;
	height: 17px;
	overflow: hidden
}


.doc, .docx, .rtf {
	width: 18px;
	height: 24px;
	line-height: 24px;
	background: url(/public/static/wk/img/icons.gif) no-repeat -71px 0;
	float: left;
	margin-top: -2px
}
.txt {
	width: 18px;
	height: 24px;
	line-height: 24px;
	background: url(/public/static/wk/img/icons.gif) no-repeat -35px 0;
	float: left;
	margin-top: -2px
}
.xls, .xlsx {
	width: 18px;
	height: 24px;
	line-height: 24px;
	background: url(/public/static/wk/img/icons.gif) no-repeat -104px 0;
	float: left;
	margin-top: -2px
}
.ppt, .pptx, .potx, .pot, .pps, .ppsx {
	width: 18px;
	height: 24px;
	line-height: 24px;
	background: url(/public/static/wk/img/icons.gif) no-repeat -138px 0;
	float: left;
	margin-top: -2px
}
.potx, .pot {
	width: 18px;
	height: 24px;
	line-height: 24px;
	background: url(/public/static/wk/img/icons.gif) no-repeat -207px -27px;
	float: left;
	margin-top: -2px
}
.pps, .ppsx {
	width: 18px;
	height: 24px;
	line-height: 24px;
	background: url(/public/static/wk/img/icons.gif) no-repeat -207px 0;
	float: left;
	margin-top: -2px
}
.vsd, .vsdx {
	width: 18px;
	height: 24px;
	line-height: 24px;
	background: url(/public/static/wk/img/icons.gif) no-repeat -172px 0;
	float: left;
	margin-top: -2px
}
.gif, .png, .jpg, .bmp {
	width: 18px;
	height: 24px;
	line-height: 24px;
	background: url(/public/static/wk/img/icons.gif) no-repeat -207px -142px;
	float: left;
	margin-top: -2px
}
.wps, .et, .dps {
	width: 18px;
	height: 24px;
	line-height: 24px;
	background: url(/public/static/wk/img/icons.gif) no-repeat -104px -27px;
	float: left;
	margin-top: -2px
}
.rar, .zip, .kz, .z7z {
	width: 18px;
	height: 20px;
	line-height: 20px;
	background: url(/public/static/wk/img/icons.gif) no-repeat -158px -142px;
	float: left;
	margin-top: -2px
}
.sch {
	width: 18px;
	height: 20px;
	line-height: 20px;
	background: url(/public/static/wk/img/icons.gif) no-repeat -103px -144px;
	float: left;
	margin-top: -2px
}
.pcb {
	width: 18px;
	height: 20px;
	line-height: 20px;
	background: url(/public/static/wk/img/icons.gif) no-repeat -183px -142px;
	float: left;
	margin-top: -2px
}
.dsn {
	width: 18px;
	height: 20px;
	line-height: 20px;
	background: url(/public/static/wk/img/icons.gif) no-repeat -214px -118px;
	float: left;
	margin-top: -2px
}
.unknown {
	width: 18px;
	height: 20px;
	line-height: 20px;
	background: url(/public/static/wk/img/icons.gif) no-repeat -203px -74px;
	float: left;
	margin-top: -2px
}
.mp3 {
	width: 18px;
	height: 20px;
	line-height: 20px;
	background: url(/public/static/wk/img/icons.gif) no-repeat 1px -163px;
	float: left;
	margin-top: -2px
}
.mp4 {
	width: 18px;
	height: 20px;
	line-height: 20px;
	background: url(/public/static/wk/img/icons.gif) no-repeat -20px -164px;
	float: left;
	margin-top: -2px
}
.swf, .fla {
	width: 18px;
	height: 20px;
	line-height: 20px;
	background: url(/public/static/wk/img/icons.gif) no-repeat -61px -163px;
	float: left;
	margin-top: -2px
}
.kejian {
	width: 18px;
	height: 20px;
	line-height: 20px;
	background: url(/public/static/wk/img/icons.gif) no-repeat -41px -163px;
	float: left;
	margin-top: -2px
}
.zt {
	width: 18px;
	height: 20px;
	line-height: 20px;
	background: url(/public/static/wk/img/icons.gif) no-repeat -21px -142px;
	float: left;
	margin-top: -2px
}
.psd, .ai, .eps, .cdr, .max {
	width: 18px;
	height: 20px;
	line-height: 20px;
	background: url(/public/static/wk/img/icons.gif) no-repeat -88px -163px;
	float: left;
	margin-top: -2px
}
.dwg {
	width: 18px;
	height: 20px;
	line-height: 20px;
	background: url(/public/static/wk/img/icons.gif) no-repeat -171px -163px;
	float: left;
	margin-top: -2px
}
.news {
	width: 20px;
	height: 20px;
	line-height: 20px;
	background: url(/public/static/wk/img/icons.gif) no-repeat -141px -163px;
	float: left;
	margin-top: -2px
}
.cloud {
	width: 22px;
	height: 20px;
	line-height: 20px;
	background: url(/public/static/wk/img/icons.gif) no-repeat -112px -163px;
	float: left;
	margin-top: -2px
}

