.wp,#wp {
    width: 100%;
}
.w1240 {
    width: 1414px;
    margin: 0 auto;
}
body {
    background: #F7F9FA url(img/nex_bg_common.png) repeat!important;
}

.nex_fully_bg {
    height: 315px;
}

body {
    background: #fff;
}

.nex_index_top_focus {
    margin: 20px auto;
}

.nex_index_top_fl {
    float: left;
    width: 200px;
}

.nex_index_tab_switch {
    width: 160px;
    height: 245px;
    padding: 20px;
    margin-bottom: 20px;
    background: #fff;
    border-radius: 4px;
    box-shadow: 2px 1px 12px 3px #eee;
}

.nex_index_tab_switch ul li {
    height: 34px;
    line-height: 34px;
    font-size: 14px;
    color: #757575;
    padding-left: 45px;
    border-radius: 4px;
    cursor: pointer;
}

.nex_index_tab_switch ul li.on {
    color: #fff;
}

.nex_index_tab_switch ul li:nth-child(1) {
    background: url(img/nex_tab_icon1.png) 10px center no-repeat;
}

.nex_index_tab_switch ul li:nth-child(2) {
    background: url(img/nex_tab_icon2.png) 10px center no-repeat;
}

.nex_index_tab_switch ul li:nth-child(3) {
    background: url(img/nex_tab_icon3.png) 10px center no-repeat;
}

.nex_index_tab_switch ul li:nth-child(4) {
    background: url(img/nex_tab_icon4.png) 10px center no-repeat;
}
.nex_index_tab_switch ul li:nth-child(5) {
    background: url(img/pic_tu.png) 10px center no-repeat;
}
.nex_index_tab_switch ul li:nth-child(6) {
    background: url(img/shipin.png) 10px center no-repeat;
}
.nex_index_tab_switch ul li:nth-child(7) {
    background: url(img/yinpin.png) 10px center no-repeat;
}

.nex_index_tab_switch ul li.on:nth-child(1) {
    background: #3945F9 url(img/nex_tab_icon1_w.png) 10px center no-repeat;
}

.nex_index_tab_switch ul li.on:nth-child(2) {
    background: #3945F9 url(img/nex_tab_icon2_w.png) 10px center no-repeat;
}

.nex_index_tab_switch ul li.on:nth-child(3) {
    background: #3945F9 url(img/nex_tab_icon3_w.png) 10px center no-repeat;
}

.nex_index_tab_switch ul li.on:nth-child(4) {
    background: #3945F9 url(img/nex_tab_icon4_w.png) 10px center no-repeat;
}
.nex_index_tab_switch ul li.on:nth-child(5) {
    background: #3945F9 url(img/pic_tu.png) 10px center no-repeat;
}
.nex_index_tab_switch ul li.on:nth-child(6) {
    background: #3945F9 url(img/shipin.png) 10px center no-repeat;
}
.nex_index_tab_switch ul li.on:nth-child(7) {
    background: #3945F9 url(img/yinpin.png) 10px center no-repeat;
}
.nex_index_tab_switch ul li.on a {
    color: #fff;
}
.nex_channels_list {
    width: 160px;
    padding: 20px;
    margin-bottom: 20px;
    background: #fff;
    border-radius: 4px;
    box-shadow: 2px 1px 12px 3px #eee;
}

.nex_channels_list_box {
}

.nex_channels_list_box ul li {
    height: 34px;
    line-height: 34px;
    padding-left: 15px;
    background: url(img/pc6spr.png) -253px -154px no-repeat;
    overflow: hidden;padding-left: 35px;
}
.nex_channels_list_box ul li:hover{background: url(img/pc6spr.png) -253px -185px no-repeat;overflow: hidden;padding-left: 35px;}
.nex_channels_list_box ul li a {
    font-size: 14px;
    color: #333;
}

.nex_channels_list_box ul li a:hover {
    color:#3945F9; font-weight:600;
}

.nex_tech_class {
    width: 160px;
    padding: 20px;
    margin-bottom: 20px;
    background: #fff;
    border-radius: 4px;
    box-shadow: 2px 1px 12px 3px #eee;
}

.nex_lside_class {
}

.nex_lside_class ul li.nex_index_sort_class {
    margin-bottom: 15px;
}

.nex_lside_class ul li.nex_index_sort_class:last-child {
    margin-bottom: 0;
}

.nex_acadamy_vip {
}

.nex_acadamy_vip_cover {
    float: left;
    width: 65px;
    height: 49px;
}

.nex_acadamy_vip_cover a {
    display: block;
    width: 65px;
    height: 49px;
    border-radius: 4px;
    position: relative;
}

.nex_acadamy_vip_cover a i {
    display: block;
    width: 15px;
    height: 15px;
    position: absolute;
    left: 25px;
    top: 15px;
    background: url(img/nex_icon_play.png) center no-repeat;
}

.nex_acadamy_vip_cent {
    padding-left: 80px;
}

.nex_acadamy_vip_cent h5 {
    height: 32px;
    line-height: 16px;
    overflow: hidden;
    margin-bottom: 5px;
}

.nex_acadamy_vip_cent h5 a {
    font-size: 12px;
    color: #333;
    font-weight: 500;
}

.nex_acadamy_vip_cent h5 a:hover {
    color: #3945F9;
}

.nex_acadamy_vip_cent p {
    height: 15px;
    line-height: 15px;
    font-size: 12px;
    color: #999;
    overflow: hidden;
    padding-left: 16px;
    background: url(img/nex_icon_people.png) left center no-repeat;
}

.nex_acadamy_vip_mid {
    margin-top: 10px;
}

.nex_acadamy_vip_mid em {
    display: inline-block;
    margin-right: 5px;
    height: 16px;
    line-height: 16px;
    padding: 0 6px;
    border-radius: 2px;
    background: #63C532;
    font-size: 12px;
    color: #fff;
}

.nex_acadamy_vip_mid span {
    display: inline-block;
    height: 16px;
    line-height: 16px;
    padding: 0 6px;
    border-radius: 2px;
    background: #F8BD45;
    font-size: 12px;
    color: #fff;
}

.nex_focus_us {
    width: 200px;
    margin-bottom: 20px;
    background: #fff;
    border-radius: 4px;
    box-shadow: 2px 1px 12px 3px #eee;
}

.nex_focus_us_title {
    width: 200px;
    height: 60px;
    background: url(img/nex_tab_bg.png) center no-repeat;
    background-size: cover;
}

.nex_focus_us_title span {
}

.nex_focus_qcode {
    width: 120px;
    height: 120px;
    margin: 0 auto 10px;
    border: 1px solid #eee;
    border-radius: 6px;
    padding: 5px;
}

.nex_focus_qcode img {
    width: 120px;
    height: 120px;
    border-radius: 6px;
}

.nex_focus_txt {
}

.nex_focus_txt h5 {
    text-align: center;
    height: 30px;
    line-height: 30px;
    font-size: 16px;
    color: #333;
    overflow: hidden;
}

.nex_focus_txt p {
    text-align: center;
    height: 32px;
    line-height: 16px;
    font-size: 12px;
    color: #999;
    overflow: hidden;
}

.nex_index_top_fm {
    float: left;
    margin-left: 20px;
    width: 875px;
}

.nex_index_focus {
    width: 875px;
    height: 285px;
    margin-bottom: 20px;
}

.nex_roll_focus {
    float: left;
    width: 640px;
    height: 287px;
    border-radius: 4px;
    overflow: hidden;
    position: relative;
}

.nex_roll_focus ul {
}

.nex_roll_focus ul.pic li {
    width: 640px;
    height: 287px;
    border-radius: 4px;
    overflow: hidden;
    position: relative;
}

.nex_roll_img {
    width: 640px;
    height: 287px;
}

.nex_roll_img a {
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 4px;
}

.nex_roll_info {
    width: 600px;
    height: 50px;
    background: -webkit-linear-gradient(top,rgba(0,0,0,0.2) 0,rgba(0,0,0,.7) 100%);
    padding: 10px 20px;
    position: absolute;
    left: 0;
    bottom: 0;
}

.nex_roll_info p {
    height: 20px;
    line-height: 20px;
    overflow: hidden;
    font-size: 12px;
    color: #fff;
}

.nex_roll_info h5 {
    height: 30px;
    line-height: 30px;
    overflow: hidden;
}

.nex_roll_info h5 a {
    font-size: 18px;
    color: #fff;
    font-weight: 500;
}

.nex_roll_info h5 a:hover {
    color: #ff4400;
}

.nex_roll_focus a.prev {
    display: block;
    position: absolute;
    top: 123px;
    left: -55px;
    width: 30px;
    height: 40px;
    background: rgba(0,0,0,0.5) url(img/nex_arrow_l.png) center no-repeat;
    transition: all 0.3s linear;
    border-radius: 4px;
}

.nex_roll_focus a.next {
    display: block;
    position: absolute;
    top: 123px;
    right: -55px;
    width: 30px;
    height: 40px;
    background: rgba(0,0,0,0.5) url(img/nex_arrow_r.png) center no-repeat;
    transition: all 0.3s linear;
    border-radius: 4px;
}

.nex_roll_focus:hover a.prev {
    left: 15px;
}

.nex_roll_focus:hover a.next {
    right: 15px;
}

.nex_roll_grids {
    float: right;
    width: 224px;
}

.nex_roll_grids ul li {
    width: 224px;
    height: 138.5px;
    margin-bottom: 10px;
}

.nex_roll_grids ul li:nth-child(2) {
    margin-bottom: 0px;
}

.nex_roll_grids ul li:nth-child(2) a {
    background: #FF7747 url(img/nex_tech_bg.png) bottom center no-repeat;
    width: 184px;
    height: 78.5px;
    padding: 30px 20px;
}

.nex_roll_grids ul li a {
    display: block;
    width: 224px;
    height: 138.5px;
    border-radius: 4px;
    overflow: hidden;
    position: relative;
}

.nex_roll_gride_inter {
    width: 194px;
    height: 20px;
    background: -webkit-linear-gradient(top,rgba(0,0,0,0.2) 0,rgba(0,0,0,.7) 100%);
    padding: 10px 15px;
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
}

.nex_roll_gride_inter h5 {
    height: 20px;
    line-height: 20px;
    overflow: hidden;
    font-size: 14px;
    color: #fff;
    font-weight: 500;
}

.nex_roll_gride_inner {
}

.nex_roll_gride_inner h5 {
    height: 40px;
    line-height: 20px;
    font-size: 14px;
    color: #fff;
    font-weight: 500;
    overflow: hidden;
    margin-bottom: 15px;
}

.nex_roll_gride_inner p {
    height: 20px;
    line-height: 20px;
    overflow: hidden;
    font-size: 12px;
    color: #fff;
}

.nex_roll_gride_inner p em {
    margin-left: 10px;
    padding-left: 10px;
    background: url(img/nex_icon_sqw.png) left center no-repeat;
}

.nex_roll_grids ul li:nth-child(2) a:hover h5 {
    text-decoration: underline;
}

.nex_index_mains {
    width: 835px;
    padding: 20px;
    background: #fff;
    border-radius: 4px;
}

.nex_cloud_tag_inter {
    min-width: 260px!important;
    width: 260px!important;
    min-height: 303px!important;
    overflow: hidden;
}

.nex_cloud_tag_inter a {
}

.nex_cloud_tag_inter a:nth-child(1) {
    font-size: 16px;
}

.nex_cloud_tag_inter a:nth-child(2) {
    font-size: 12px;
}

.nex_cloud_tag_inter a:nth-child(3) {
    font-size: 18px;
}

.nex_cloud_tag_inter a:nth-child(4) {
    font-size: 14px;
}

.nex_cloud_tag_inter a:nth-child(5) {
    font-size: 20px;
}

.nex_cloud_tag_inter a:nth-child(6) {
    font-size: 16px;
}

.nex_cloud_tag_inter a:nth-child(7) {
    font-size: 14px;
}

.nex_cloud_tag_inter a:nth-child(8) {
    font-size: 20px;
}

.nex_cloud_tag_inter a:nth-child(9) {
    font-size: 12px;
}

.nex_cloud_tag_inter a:nth-child(10) {
    font-size: 18px;
}

.nex_cloud_tag_inter a:nth-child(11) {
    font-size: 14px;
}

.nex_cloud_tag_inter a:nth-child(12) {
    font-size: 16px;
}

.nex_cloud_tag_inter a:nth-child(13) {
    font-size: 12px;
}

.nex_cloud_tag_inter a:nth-child(14) {
    font-size: 12px;
}

.nex_cloud_tag_inter a:nth-child(15) {
    font-size: 17px;
}

.nex_cloud_tag_inter a:nth-child(16) {
    font-size: 20px;
}

.nex_cloud_tag_inter a:nth-child(17) {
    font-size: 18px;
}

.nex_cloud_tag_inter a:nth-child(18) {
    font-size: 14px;
}

.nex_cloud_tag_inter a:nth-child(19) {
    font-size: 12px;
}

.nex_cloud_tag_inter a:nth-child(20) {
    font-size: 16px;
}

.nex_cloud_tag_inter a:nth-child(21) {
    font-size: 13px;
}

.nex_cloud_tag_inter a:nth-child(22) {
    font-size: 16px;
}

.nex_cloud_tag_inter a:nth-child(23) {
    font-size: 18px;
}

.nex_cloud_tag_inter a:nth-child(24) {
    font-size: 12px;
}

.nex_cloud_tag_inter a:nth-child(25) {
    font-size: 20px;
}

.nex_cloud_tag_inter a:nth-child(26) {
    font-size: 14px;
}

.nex_cloud_tag_inter a:nth-child(27) {
    font-size: 13px;
}

.nex_cloud_tag_inter a:nth-child(28) {
    font-size: 12px;
}

.nex_cloud_tag_inter a:nth-child(29) {
    font-size: 16px;
}

.nex_cloud_tag_inter a:nth-child(30) {
    font-size: 12px;
}

.nex_finance_newslist {
}

.nex_finance_newslist ul li {
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #f3f3f3;
}

.nex_finance_newslist ul li:last-child {
}

.nex_main_line_top {
    height: 24px;
    margin-bottom: 15px;
}

.nex_main_line_top_l {
    float: left;
}

.nex_main_line_top_l a {
    display: block;
    float: left;
}

.nex_main_line_top_l a img {
    display: block;
    float: left;
    width: 24px;
    height: 24px;
    border-radius: 100%;
    transition: all 0.3s linear;
}

.nex_main_line_top_l a:hover img {
    transform: rotate(60deg);
}

.nex_main_line_top_l a em {
    display: block;
    float: left;
    margin-left: 10px;
    height: 24px;
    line-height: 24px;
    font-size: 14px;
    color: #333;
}

.nex_main_line_top_l a:hover em {
    text-decoration: underline;
    color: #3945F9;
}

.nex_main_line_top_l span {
    display: block;
    float: left;
    height: 24px;
    line-height: 24px;
    color: #767676;
    font-size: 14px;
    margin-left: 10px;
    padding-left: 10px;
    background: url(img/nex_icon_sq.png) left center no-repeat;
}

.nex_main_line_top_r {
    float: right;
}

.nex_main_line_top_r a {
    display: block;
    padding: 0 10px;
    height: 20px;
    line-height: 20px;
    background: #FFB772;
    font-size: 12px;
    color: #fff;
    border-radius: 2px;
}

.nex_main_line_top_r a:hover {
    background: #FF6038;
}

.nex_main_line_mid_long {
}

.nex_main_line_mid_long .nex_main_line_mid_l {
    float: none!important;
    width: 100%!important;
}

.nex_main_line_mid {
    margin-bottom: 12px;
}

.nex_main_line_mid_l {
    float: left;
    width: 530px;
}

.nex_main_line_mid_l h5 {
    max-height: 40px;
    line-height: 20px;
    overflow: hidden;
    margin-bottom: 10px;
}

.nex_main_line_mid_l h5 a {
    font-size: 18px;
    color: #333;
    font-weight: 500;
}

.nex_main_line_mid_l h5 a:hover {
    color: #3945F9;
}

.nex_main_sums {
    height: 40px;
    line-height: 20px;
    overflow: hidden;
    font-size: 14px;
    color: #6c757d;
}

.nex_main_sums label {
    display: none;
}

.nex_main_line_mid_r {
    float: right;
    width: 110px;
    height: 70px;
}

.nex_main_line_mid_r a img {
    display: block;
    width: 110px;
    height: 70px;
    border-radius: 4px;
}

.nex_main_line_btm {
    height: 20px;
    line-height: 20px;
    overflow: hidden;
}

.nex_main_line_btm ol span {
    float: left;
    margin-right: 20px;
    font-size: 14px;
    color: #757575;
}

.nex_main_line_btm ol span.nex_main_line_heats {
    padding-left: 25px;
    background: url(img/nex_index_heat.webp) left center no-repeat;
    background-size: 15px;
}

.nex_main_line_btm ol span.nex_main_line_replies {
    padding-left: 25px;
    background: url(img/nex_index_reply.webp) left center no-repeat;
    background-size: 13.5px;
}

.nex_main_line_btm ol span.nex_main_line_views {
    padding-left: 15px;
    background: url(img/nex_icon_sq.png) left center no-repeat;
}

.nex_main_line_btm ol span.nex_main_line_views em {
    margin-left: 5px;
}

.nex_load_more {
}

.nex_load_more p {
    height: 40px;
    line-height: 40px;
    font-size: 14px;
    text-align: center;
    color: #999;
    margin-top: 20px;
}

.nex_load_more a {
    display: block;
    margin: 20px auto 0px;
    width: 188px;
    height: 35px;
    font-size: 14px;
    line-height: 35px;
    text-align: center;
    border: 1px solid #ccc;
    color: #999;
    cursor: pointer;
    border-radius: 4px;
    transition: all 0.3s linear;
}

.nex_load_more a:hover {
    background: #3945F9;
    color: #fff;
    border: 1px solid #3945F9;
}

.nex_full_loaded {
    margin: 20px auto 10px;
    width: 188px;
    height: 35px;
    font-size: 14px;
    line-height: 35px;
    text-align: center;
    color: #999;
}

.nex_index_qna_box {
}

.nex_index_qna_answer {
    float: left;
    width: 60px;
}

.nex_index_qna_answer p {
    height: 30px;
    line-height: 30px;
    text-align: center;
    font-size: 16px;
    color: #333;
    font-weight: 500;
    overflow: hidden;
}

.nex_index_qna_answer em {
    display: block;
    height: 20px;
    line-height: 20px;
    text-align: center;
    font-size: 14px;
    color: #999;
    font-weight: 500;
    overflow: hidden;
}

.nex_index_qna_intel {
    padding-left: 80px;
}

.nex_index_qna_intel .nex_main_line_mid_l {
    width: 455px;
}

.nex_main_sums_qna {
    max-height: 40px;
    line-height: 20px;
    overflow: hidden;
    font-size: 14px;
    color: #6c757d;
}

.nex_main_sums_qna label {
    display: none;
}

.nex_index_qna_btm {
    height: 24px;
    overflow: hidden;
    padding-left: 80px;
    margin-top: 10px;
}

.nex_index_qna_btm_cent {
}

.nex_index_qna_author {
    float: left;
}

.nex_index_qna_author a {
    display: block;
}

.nex_index_qna_author a img {
    display: block;
    float: left;
    width: 24px;
    height: 24px;
    border-radius: 100%;
    transition: all 0.3s linear;
}

.nex_index_qna_author a em {
    display: block;
    float: left;
    margin-left: 10px;
    height: 24px;
    line-height: 24px;
    font-size: 14px;
    color: #333;
}

.nex_index_qna_btm_cent em {
    display: block;
    float: left;
    margin-left: 10px;
}

.nex_index_qna_btm_cent em a {
    display: block;
    padding: 0 10px;
    height: 24px;
    line-height: 24px;
    background: #8890FB;
    font-size: 12px;
    color: #fff;
    border-radius: 2px;
}

.nex_index_qna_btm_cent em a:hover {
    background: #3945F9;
}

.nex_index_qna_btm_cent span {
    display: block;
    float: left;
    height: 24px;
    line-height: 24px;
    color: #767676;
    font-size: 14px;
    margin-left: 10px;
    padding-left: 10px;
    background: url(img/nex_icon_sq.png) left center no-repeat;
}

.nex_index_qna_author a:hover img {
    transform: rotate(60deg);
}

.nex_index_qna_author a:hover em {
    text-decoration: underline;
    color: #3945F9;
}

.nex_index_mains dl dd {
    display: none;
}

.nex_bn_tops {
    height: 30px;
    margin-bottom: 30px;
}

.nex_bn_tops span {
    display: block;
    float: left;
    height: 30px;
    line-height: 30px;
    font-size: 20px;
    color: #333;
    font-weight: 600;
}

.nex_bn_tops span.nex_span_recoms {
    padding-left: 43px;
    background: url(img/nex_tab_b1.png) left center no-repeat;
}

.nex_bn_tops span.nex_span_hotread {
    padding-left: 50px;
    background: url(img/nex_tab_b2.png) left center no-repeat;
}

.nex_bn_tops span.nex_span_thelatest {
    padding-left: 45px;
    background: url(img/nex_tab_b3.png) left center no-repeat;
}

.nex_bn_tops span.nex_span_hotqna {
    padding-left: 45px;
    background: url(img/nex_tab_b4.png) left center no-repeat;
}

.nex_bn_tops a {
}

.nex_bn_tops a:hover {
}

.nex_index_top_fr {
    float: right;
    width: 300px;
}

.nex_index_sd {
    width: 260px;
    margin-bottom: 20px;
    background: #fff;
    padding: 20px;
    border-radius: 4px;
    box-shadow: 2px 1px 12px 3px #eee;
}

.nex_sd_notice {
    height: 245px;
    background: #fcf8e3 url(img/nex_avt_bg.png) bottom center no-repeat;
}

.nex_notice_rolls {
}

.nex_roll_title {
    height: 16px;
    margin-bottom: 20px;
    overflow: hidden;
}

.nex_roll_title span {
    display: block;
    height: 16px;
    line-height: 16px;
    padding-left: 22px;
    color: #8a6d3c;
    font-size: 14px;
    position: relative;
}

.nex_roll_title span:after {
    content: '';
    width: 175px;
    height: 1px;
    background: #F7ECB5;
    display: block;
    position: absolute;
    right: 0;
    top: 7px;
}

.nex_roll_title span.nex_roll_icon1 {
    background: url(img/nex_icon_notices.png) left center no-repeat;
}

.nex_roll_title span.nex_roll_icon2 {
    background: url(img/nex_icon_newqna.png) left center no-repeat;
}

.nex_notice_lists {
    margin-bottom: 20px;
}

.nex_notice_lists ul li {
}

.nex_notice_lists ul li a {
    font-size: 12px;
    color: #8a6d3c;
    max-height: 40px;
    line-height: 20px;
    overflow: hidden;
}

.nex_notice_lists ul li a:hover {
    text-decoration: underline;
}

.nex_newqna_list {
}

.nex_newqna_list ul li {
    height: 20px;
    line-height: 20px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin-bottom: 5px;
}

.nex_newqna_list ul li a {
    font-size: 12px;
    color: #8a6d3c;
}

.nex_newqna_list ul li a:hover {
    text-decoration: underline;
}

.nex_index_sd_title {
    height: 20px;
    margin-bottom: 20px;
    position: relative;
}

.nex_index_sd_title span {
    display: block;
    float: left;
    height: 20px;
    line-height: 20px;
    font-size: 16px;
    color: #333;
    position: relative;
}

.nex_index_sd_title span:after {
    content: '';
    display: block;
    width: 4px;
    height: 15px;
    background: #3945F9;
    position: absolute;
    top: 2px;
    left: -20px;
}

.nex_index_sd_title a {
    display: block;
    float: right;
    height: 20px;
    line-height: 20px;
    font-size: 12px;
    color: #999;
}

.nex_index_sd_title a:hover {
    color: #3945F9;
}

.nex_index_sd_cons {
}

.nex_index_sd_cons ul li {
    margin-bottom: 15px;
}

.nex_index_sd_cons ul li:last-child {
    margin-bottom: 0;
}

.nex_index_guide_img {
    float: left;
    width: 100px;
    height: 66px;
}

.nex_index_guide_img a {
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 4px;
}

.nex_index_guide_info {
    padding-left: 115px;
}

.nex_index_guide_info h5 {
    height: 40px;
    line-height: 20px;
    overflow: hidden;
    margin-bottom: 10px;
}

.nex_index_guide_info h5 a {
    font-size: 14px;
    color: #333;
    font-weight: 500;
}

.nex_index_guide_info h5 a:hover {
    color: #3945F9;
}

.nex_index_guide_info p {
    height: 16px;
    line-height: 16px;
    overflow: hidden;
    font-size: 12px;
    color: #999;
}

.nex_index_guide_info p em {
    margin-left: 15px;
    padding-left: 10px;
    background: url(img/nex_icon_sq.png) left center no-repeat;
}

.nex_box_fixed {
    position: fixed;
    top: 70px;
    z-index: 22;
}

.nex_index_sd_tabs {
}

.nex_index_sd_tabs ul {
    float: right;
}

.nex_index_sd_tabs ul li {
    float: left;
    height: 18px;
    line-height: 18px;
    padding: 0 10px;
    font-size: 12px;
    color: #939495;
    margin-left: 10px;
    border: 1px solid #f3f3f3;
    border-radius: 4px;
    cursor: pointer;
}

.nex_index_sd_tabs ul li.on {
    border: 1px solid #3945F9;
    background: #3945F9;
    color: #fff;
}

.nex_rank_list {
}

.nex_rank_list ul li {
    display: none;
}

.nex_ranklist_box {
}

.nex_ranklist_box dl dd {
    margin-bottom: 15px;
    white-space:nowrap;
    overflow:hidden;
    text-overflow:ellipsis;
}

.nex_ranklist_box dl dd:last-child {
    margin-bottom: 0;
}

.nex_ranklist_box dl dd em {
    display: inline-block;
    width: 20px;
    height: 12px;
    line-height: 14px;
    text-align: center;
    font-size: 12px;
    color: #1458d4;
    border: 1px solid #1458d4;
    border-radius: 3px;
    vertical-align: middle;
    margin-right: 6px;
}

.nex_ranklist_box dl dd em.nex_rk_num1 {
    border: 1px solid #3945F9;
    color: #fff;
    background: #3945F9;
}

.nex_ranklist_box dl dd em.nex_rk_num2 {
    border: 1px solid #4D58F9;
    color: #fff;
    background: #4D58F9;
}

.nex_ranklist_box dl dd em.nex_rk_num3 {
    border: 1px solid #616BFA;
    color: #fff;
    background: #616BFA;
}

.nex_ranklist_box dl dd a {
    font-size: 14px;
    color: #333;
}

.nex_ranklist_box dl dd a:hover {
    color: #3945F9;
}

.nex_ranklist_box dl dd:hover em {
    background: #1458d4;
    color: #fff;
}

.nex_good_author {
}

.nex_good_author ul li {
    margin-bottom: 20px;
}

.nex_good_author ul li:last-child {
    margin-bottom: 0px;
}

.nex_good_author ul li em {
    display: block;
    float: left;
    width: 18px;
    height: 18px;
    line-height: 18px;
    text-align: center;
    font-size: 14px;
    color: #999;
    background: #eee;
    border-radius: 12px;
    margin-top: 10px;
    margin-left: 3px;
}

.nex_good_author ul li em.nex_member_num1 {
    margin-left: 0;
    width: 25px;
    height: 25px;
    background: url(img/nex_ic_number1.png) center no-repeat;
    background-size: 30px;
}

.nex_good_author ul li em.nex_member_num2 {
    margin-left: 0;
    width: 25px;
    height: 25px;
    background: url(img/nex_ic_number2.png) center no-repeat;
    background-size: 30px;
}

.nex_good_author ul li em.nex_member_num3 {
    margin-left: 0;
    width: 25px;
    height: 25px;
    background: url(img/nex_ic_number3.png) center no-repeat;
    background-size: 30px;
}

.nex_index_member_intel {
    padding-left: 40px;
}

.nex_index_member_avator {
    width: 45px;
    height: 45px;
    float: left;
}

.nex_index_member_avator a {
    display: block;
}

.nex_index_member_avator a img {
    width: 45px;
    height: 45px;
    border-radius: 100%;
}

.nex_index_member_info {
    padding-left: 60px;
}

.nex_index_member_info h5 {
    height: 20px;
    line-height: 20px;
    overflow: hidden;
    margin-bottom: 5px;
}

.nex_index_member_info h5 a {
    font-size: 14px;
    color: #333;
    font-weight: 500;
}

.nex_index_member_info h5 a:nth-child(2) {
    display: inline-block;
    float: right;
    padding: 0 5px;
    height: 16px;
    line-height: 16px;
    border-radius: 4px;
    font-size: 12px;
    color: #3945F9;
    border: 1px solid #3945F9;
}

.nex_index_member_info h5 a:nth-child(2):hover {
    background: #3945F9;
    color: #fff;
}

.nex_index_member_info h5 a:hover {
    color: #3945F9;
}

.nex_index_member_info_btm {
    height: 20px;
    line-height: 20px;
    overflow: hidden;
}

.nex_index_member_info_btm p {
    height: 20px;
    line-height: 20px;
    font-size: 12px;
    color: #999;
}

.nex_index_member_info_btm p span {
    margin-left: 10px;
    padding-left: 10px;
    background: url(img/nex_icon_sq.png) left center no-repeat;
}

.nex_hot_qna {
}

.nex_hot_qna ul li {
    margin-bottom: 15px;
}

.nex_hot_qna ul li:last-child {
    margin-bottom: 0;
}

.nex_hot_qna ul li a {
    display: block;
}

.nex_hot_qna_top {
    font-size: 14px;
    color: #333;
    margin-bottom: 5px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.nex_hot_qna ul li a:hover .nex_hot_qna_top {
    color: #3945F9;
}

.nex_hot_qna_top em {
    display: inline-block;
    width: 35px;
    height: 20px;
    line-height: 20px;
    text-align: center;
    font-size: 12px;
    color: #666;
    border: 1px solid #eee;
    margin-right: 10px;
    border-radius: 4px;
}

.nex_hot_qna_btm {
    height: 16px;
    line-height: 16px;
    overflow: hidden;
    font-size: 12px;
    color: #999;
}

.nex_index_friendlink {
}

.nex_index_friendlink ul {
}

.nex_index_friendlink ul li {
    float: left;
    height: 20px;
    line-height: 20px;
    margin: 0 7px 10px 0;
}

.nex_index_friendlink ul li a {
    font-size: 14px;
    color: #333;
}

.nex_index_friendlink ul li a:hover {
    color: #3945F9;
}

.nex_sd_ads {
    width: 300px;
}

.nex_sd_ads img {
    width: 300px;
    margin-bottom: 20px;
    border-radius: 4px;
}
/* tagscloud */
#tagscloud{width:260px;height:300px;position:relative;font-size:14px;color:#333;margin:20px auto 0;text-align:center;}
#tagscloud a{position:absolute;top:0px;left:0px;color:#333;font-family:Arial;text-decoration:none;margin:0 10px 15px 0;line-height:18px;text-align:center;font-size:14px;padding:1px 5px;display:inline-block;border-radius:3px;}
#tagscloud a.tagc1,.tagc10.tagc20{background:#666;color:#fff;}
#tagscloud a.tagc2,.tagc21,.tagc31{background:#F16E50;color:#fff;}
#tagscloud a.tagc5,.tagc41,.tagc49{background:#006633;color:#fff;}
#tagscloud a:hover{color:#fff;background:#0099ff;}