body{background:#f8f8f8 url(/public/static/blueTT/img/nex_bg_common.png) repeat!important;}
.sidebar-block{margin-bottom:20px;background-color:#fff;color:#333;font-size:12px;line-height:1.29;}
.app-link{display:flex;padding:15px;align-items:center;}
.qr-img{margin-right:5px;width:50px;height:50px;}
.headline{color:#333;font-weight:600;font-size:14px;}
.desc{margin-top:5px;color:#909090;font-size:12px;}
.contentbar{padding:20px 0;}
.list-header{padding:15px 12px;border-bottom:1px solid hsla(0,0%,59.2%,.1);background:#fff;}
.list-header .list-nav,.list-header .nav-list{display:flex;justify-content:flex-start;}
.list-header .nav-list{line-height:1;align-items:center;}
.list-header .left li{padding:0 15px;border-right:1px solid hsla(0,0%,59.2%,.2);font-size:13px;}
.list-header .nav-list li a:hover,.list-header .nav-list li.active a{color:#007fff;}
.entry-list{border-radius:4px;background:#fff;}
.entry-list .news-item{padding:0 20px;background-color:#fff;}
.entry-list .item:hover{background-color:hsla(0,0%,85.1%,.1);}
.content-box{padding:12px;}
.info-box{min-width:0;}
.meta-row{color:#8a919f;font-size:13px;}
.meta-list{display:flex;white-space:nowrap;align-items:baseline;}
.meta-list .item{border:0;}
.meta-list .item.username{display:flex;align-items:baseline;}
.meta-list .item:not(:last-child):after{display:inline-block;margin:0 10px;width:1px;height:12px;background:#e5e6eb;content:" ";}
.user-popover-box{display:inline;}
.abstract-row,.title-row{margin:10px 0 8px;line-height:22px;}
.abstract-row{margin:0 0 8px;color:#8a919f;font-size:14px;}
.action-list{display:inline-flex;display:flex;height:36px;border-top:1px solid #e4e6eb;color:#86909c;white-space:nowrap;}
.action-list>.item{display:flex;margin-right:20px;height:24px;height:100%;border:0;color:#8a919f;white-space:nowrap;font-size:13px;line-height:1;cursor:pointer;flex:1 1 33.333%;align-items:center;justify-content:center;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;}
.action-list>.item span{margin-left:4px;}
.action-list>.item .title-box{display:flex;padding:0 8px;height:100%;background-color:#f7f8fa;align-items:center;}
.action-list>.item.comment{margin-left:-1px;padding:0;}
.action-list>.item .count{margin-left:5px;color:#8a919f;font-weight:700;}
.title-row .xm-title{color:#252933;font-weight:600;font-size:16px;line-height:24px;}
.title-row .recy{text-decoration:line-through;}
.title:hover{text-decoration:none;}
.title-row .icon{margin-bottom:2px;height:16px;vertical-align:middle;}
.action-list>.item.clickable:hover,.action-list>.item.more .more-list .item:hover{background-color:#f7f8fa;}
.tag-nav .nav-list{padding:15px 20px 0;background:#f8f9fa;}
.qa-rank .answers{display:inline-block;padding-top:3px;width:40px;height:42px;-webkit-border-radius:3px;-moz-border-radius:3px;border-radius:3px;color:#757575;}
.qa-rank{margin-top:5px;margin-right:15px;color:#666;text-align:center;font-size:16px;line-height:1.2;}
.qa-rank .answers{color:#ad3a37;}
.qa-rank .answered{background:#e1efff;color:#007fff;}
.qa-rank small{display:block;font-size:12px;}
.news__item-meta{font-size:13px;}
.news__item-meta .votes-operation .owrap{display:inline-block;margin-right:5px;margin-bottom:1px;padding:8px;border-radius:50%;background-color:#e1efff;color:#007fff;text-align:center;line-height:24px;}
.news__item-meta .votes-operation .votes-num{color:#007fff;font-weight:700;}
.action{position:relative;display:flex;height:100%;cursor:pointer;flex:1 1 33.333%;align-items:center;justify-content:center;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;}
.action .fa{color:#8a93a0;font-size:16px;}
.author-info-block{display:flex;padding:30px 25px 0 20px;align-items:center;}
.author-info-block .avatar{margin-right:1rem;width:40px;height:40px;border-radius:50%;background-size:cover;flex:0 0 auto;}
.author-info-block .author-info-box{min-width:0;flex-grow:1;flex:1;}
.author-info-block .username{display:inline-block;width:100%;color:#333;font-weight:700;font-size:15px;}
.rank{margin-left:3px;vertical-align:middle;}
.author-info-block .meta-box{color:#8a9aa9;font-size:13px;}
.author-info-block .time{letter-spacing:1px;}
.author-info-block .views-count{margin-left:5px;}
.follow-button{display:inline-block;margin:0 0 0 auto;padding:0 10px;height:26px;border:1px solid #6cbd45;border-radius:2px;background-color:#fff;color:#6cbd45;font-size:13px;line-height:26px;}
.follow-button:hover{background-color:#6cbd45;color:#fff;}
.action-title-box{display:flex;align-items:center;justify-content:center;}
.action-title-box .action-title{margin-left:4px;color:#8a93a0;font-weight:500;font-size:13px;}
.forumtag{display:inline-block;padding:0 12px;border:1px solid #007fff;border-radius:20px;color:#007fff;font-size:13px;line-height:22px;}
.fast-px{padding:8px 10px;border:1px solid hsla(0,0%,59.2%,.2);border-radius:3px;background:rgba(226,230,235,.2);font-size:15px;}
.tedt .pt{background:0 0;font-size:15px;}
.tedt .area{padding:10px;background:rgba(226,230,235,.2);}
.tedt{width:100%;border:1px solid hsla(0,0%,59.2%,.2);}
.pnpost .xm-btn{padding:4px 20px;}
.pnpost .disabled{border-color:rgba(0,127,255,.2);background-color:rgba(0,127,255,.2);}
.topic_panel{position:absolute;top:28px;bottom:0;left:0;z-index:1;display:flex;overflow:auto;padding:10px 0;width:316px;height:434px;border-radius:3px;background:#fff;box-shadow:0 5px 18px 0 rgba(0,0,0,.16);flex-direction:column;}
.topic_panel .triangle{position:absolute;top:-7px;left:24px;width:0;height:0;border:.8rem solid transparent;transform:translate(-50%,-50%);border-bottom-color:#fff;}
.topic_panel .topic-list li{padding:0 1.666rem;cursor:pointer;}
.topic_panel .topic-list li .topic-item{display:flex;margin:0;padding:10px 0;border-bottom:1px solid hsla(0,0%,59.2%,.1);cursor:pointer;flex-grow:0;align-items:flex-start;}
.topic-item .icon{width:42px;height:42px;border-radius:6px;background-size:cover;background-repeat:no-repeat;}
.topic-item .content{display:flex;margin-left:14px;width:144px;max-width:144px;color:#8a9aa9;text-align:left;letter-spacing:normal;flex-direction:column;}
.topic-item .content span:first-child{padding-top:2px;color:#2e3135;font-size:15px;}
.topic-item .content span{padding-top:2px;font-size:13px;}
.taglist{padding:12px;}
.taglist li{float:left;margin-right:10px;margin-bottom:10px;padding:3px 6px;border:1px solid #eee;border-radius:2px;background-color:#f6f6f6;}
.slider{width:625px;height:150px;}
.head-user-info{display:flex;padding:20px;align-items:center;}
.head-user-info img{margin-right:10px;border-radius:50%;flex-grow:0;}
.head-user-info h1{margin-bottom:5px;color:#17181a;font-weight:600;font-size:16px;}
.head-user-info .group{color:#999;font-size:14px;}
.chart{border-top:1px solid #f2f2f2;justify-content:center;}
.chart .flex-item{position:relative;text-align:center;font-size:14px;}
.chart .flex-item:not(:last-child):after{position:absolute;top:8px;right:0;width:1px;height:28px;background-color:rgba(92,96,102,.1);content:"";}
.b-btn{display:inline-block;width:100%;height:40px;border-radius:20px;text-align:center;font-size:14px;line-height:40px;}
.btn--secondary{background:#007fff;background:-webkit-gradient(linear,left top,right top,from(#007fff),to(#7bb9ff));background:-webkit-linear-gradient(left,#007fff,#7bb9ff);background:linear-gradient(90deg,#007fff,#7bb9ff);color:#fff;}
.op-btn{padding:30px 20px;}
.btn--secondary:hover{color:#fff;}
.recommend-author-block .user-block-header{padding:12px 15px;border-bottom:1px solid hsla(0,0%,59.2%,.1);}
.recommend-author-block .item{display:flex;padding:12px 15px;cursor:pointer;align-items:center;}
.recommend-author-block .item:hover{background-color:hsla(0,0%,84.7%,.1);}
.avatar,.avatar.xmas:after{background-position:50%;background-repeat:no-repeat;}
.recommend-author-block .item .avatar{margin-right:10px;width:40px;height:40px;border-radius:50%;flex:0 0 auto;}
.recommend-author-block .item .user-info{overflow:hidden;}
.recommend-author-block .item .username{overflow:hidden;margin-bottom:3px;color:#666;text-overflow:ellipsis;white-space:nowrap;font-weight:400;font-size:14px;}
.recommend-author-block .item .username .name{color:#1a1a1a;font-size:15px;}
.recommend-author-block .item .description,.recommend-author-block .item .position{overflow:hidden;margin:5px 0;color:#76797e;text-overflow:ellipsis;white-space:nowrap;font-size:12px;}
.recommend-author-block .item .more{margin:0 auto;padding:10px 0;color:#007fff;text-align:center;}
.recommend-author-block .order{width:35px;height:33px;color:#909090;text-indent:8px;font-weight:600;font-size:18px;line-height:33px;}
.recommend-author-block .order-1{background:url(http://47.96.183.28/xmyc-juejin/template/xmyc_yutang_new/static/image/ipai1.png) no-repeat;}
.recommend-author-block .order-2{background:url(http://47.96.183.28/xmyc-juejin/template/xmyc_yutang_new/static/image/ipai2.png) no-repeat;}
.recommend-author-block .order-3{background:url(http://47.96.183.28/xmyc-juejin/template/xmyc_yutang_new/static/image/ipai3.png) no-repeat;}
.sidebar-block.more-block{background-color:transparent;box-shadow:none;}
.sidebar-block.more-block .more-list{color:#9aa3ab;font-size:12px;line-height:1.6;}
.sidebar-block.more-block .more-list:after{clear:both;display:table;content:"";}
.sidebar-block.more-block .more-list .item{float:left;border-bottom:0;}
.sidebar-block.more-block .more-list .item:not(:last-child):after{margin:0 5px;color:#c6cfda;content:"·";}
.fix-right{bottom:20px;}
.fix-right,.fix-right-top{position:fixed;right:calc((100% - 1200px)/ 2);}
.fix-right-top{top:65px;}
.category-popover{position:fixed;top:45px;left:24px;z-index:250;box-sizing:border-box;padding:14px;width:360px;max-height:200px;border:1px solid #ebebeb;border-radius:2px;background-color:#fff;box-shadow:0 1px 5px 0 rgba(0,0,0,.15);font-weight:400;line-height:1.2;cursor:default;}
.category-popover .tag-list{display:flex;flex-wrap:wrap;}
.category-popover .tag{display:flex;margin-right:12px;margin-bottom:12px;padding:10px;height:24px;border-radius:12px;background-color:#f4f5f5;color:#71777d;font-size:13px;justify-content:center;align-items:center;}
.category-popover .tag:hover{color:#007fff;}
.block{margin:0;}
.ct2 .mn{width:900px;}
.dock-nav{position:fixed;top:80px;width:200px;border-radius:4px;background-color:#fff;transition:all .2s linear;}
.dock-nav-list{position:relative;display:flex;padding:15px 12px;height:100%;flex-direction:column;}
.dock-nav-list .nav-item{overflow:hidden;box-sizing:border-box;padding:0 15px;height:40px;max-width:100%;border-radius:3px;color:#515767;text-overflow:ellipsis;white-space:nowrap;font-size:15px;line-height:40px;transition:background-color .2s,color .2s;}
.dock-nav-list .nav-item.active{background-color:#eaf2ff;color:#007fff;}
.dock-nav-list .nav-item.active>a{color:#007fff;font-weight:700;}
.dock-nav-list .nav-item a{overflow:hidden;border-radius:4px;color:#8a919f;text-overflow:ellipsis;white-space:nowrap;font-size:14px;line-height:44px;transition:color .3s;word-break:break-all;}
.dock-nav-list .nav-item .xm-title{margin-left:10px;font-size:16px;}
.dock-nav-list .nav-item a svg{transition:fill .3s;fill:#8a919f;}
.dock-nav-list .nav-item.active>a svg,.dock-nav-list .nav-item:hover>a svg{fill:#007fff;}
.dock-nav-list .nav-item img{width:18px;height:18px;}
.dock-nav-list .nav-item:not(:first-child){margin-top:10px;}
.dock-nav-list .nav-item:not(.active):hover{background-color:hsla(0,0%,94.9%,.6);}
.dock-nav-list .divider{position:absolute;top:110px;display:block;width:150px;height:1px;background:rgba(92,96,102,.1);content:"";}
.card--status__header{position:relative;display:flex;color:rgba(0,0,0,.5);font-size:12px;align-items:center;}
.card--status__avatar{display:flex;margin-right:10px;}
.card--status__header .avatar{width:36px;height:36px;border-radius:50%;}
.card--status__header .dark{color:rgba(0,0,0,.86);}
.card--status__header .button{position:absolute;top:5px;right:0;padding:4px 12px;border:1px solid #4370f5;border-radius:4px;background-color:#fff;color:#4370f5;font-size:14px;}
.pin-list{padding:0 16px;}
.pin-list li{padding:12px 0;}
.pin-list li.item:not(:last-child){border-bottom:1px solid hsla(0,0%,59.2%,.1);}
.pin{display:flex;justify-content:space-between;}
.pin-list .content-box{display:flex;align-content:space-between;flex-direction:column;}
.pin-list .content{display:-webkit-box;overflow:hidden;max-width:228px;max-height:42px;color:#2e3135;text-overflow:ellipsis;font-size:14px;-webkit-box-orient:vertical;-webkit-line-clamp:2;}
.pin-list .stat{margin-top:8px;color:#76797e;font-size:12px;}
.pin-list .content.with-picture{max-width:150px;}
.pin-list .image-box{margin-left:12px;height:68px;min-width:68px;border-radius:4px;background-position:50%;background-size:cover;background-repeat:no-repeat;}
.feed-option{position:relative;margin-top:15px;border-bottom:1px solid hsla(0,0%,59.2%,.1);}
.feed-option .btn-default{position:absolute;top:0;right:0;padding:1px 6px;border:1px solid #ccc;border-radius:4px;box-shadow:0 1px 1px rgba(0,0,0,.05);}
.feed-option h5{margin:10px 0;height:20px;font-size:16px;line-height:20px;}
.news-list .news-item .news__item-info{padding:0 0 15px;color:#9e9e9e;font-size:14px;}
.news-list .news-item .news__item-info .news-img{float:right;margin-top:10px;margin-left:30px;width:80px;height:60px;border-radius:4px;background-position:50%;background-size:cover;}
.news-list .news-item .news__item-info .news__item-title{position:relative;display:inline;margin:10px 0;color:#212121;vertical-align:middle;font-weight:500;font-size:18px;line-height:28px;}
.news-list .news-item .news__item-info .news__item-divtitle{margin:5px 0;}
.news-list .news-item .news__item-info .article-excerpt{display:-webkit-box;overflow:hidden;margin-bottom:15px;color:#888;text-overflow:ellipsis;font-size:13px;font-family:-apple-system,BlinkMacSystemFont,Helvetica Neue,PingFang SC,Microsoft YaHei,Source Han Sans SC,Noto Sans CJK SC,WenQuanYi Micro Hei,sans-serif;line-height:1.5;-webkit-line-clamp:2;-webkit-box-orient:vertical;}
.news-list .news-item .news__item-info .news__item-meta{font-size:13px;}
.news-list .news-item .news__item-info .news__item-meta .votes-operation .owrap{display:inline-block;margin-right:5px;margin-bottom:1px;padding:8px;border-radius:50%;background-color:rgba(1,126,102,.08);color:#009a61;text-align:center;line-height:24px;}
.news-list .news-item .news__item-info .news__item-meta .votes-operation .votes-num{color:#009a61;font-weight:700;}
.action-row{margin-bottom:10px;border-right:1px solid #e7ecf3;border-left:1px solid #e7ecf3;border-radius:0;background-color:#fff;box-shadow:0 1px 1px rgba(0,0,0,.05);}
.morepic{display:grid;grid-template-columns:repeat(3,0fr);grid-template-rows:repeat(3,0fr);gap:0;}
.cell{display:flex;border:1px solid #d1cfcf;font-size:36px;justify-content:center;align-items:center;}
#imgdiv img{width:150px;height:150px;}
#bigimg{top:0;display:none;width:100%;height:100%;background:rgba(0,0,0,.3);}
#bigimg,#bigimg img{position:fixed;left:0;}
#bigimg img{top:80px;right:0;margin:auto;max-width:90%;max-height:90%;min-width:5%;min-height:5%;cursor:pointer;object-fit:contain;}
#editor-body{position:relative;padding:20px 20px 0;border-radius:4px;background:#fff;}
textarea.layui-textarea{position:relative;box-sizing:border-box;padding:5px 12px;width:680px;min-height:80px;outline:0;color:var(--juejin-font-1);white-space:pre-wrap;font-size:16px;line-height:24px;resize:none;}
textarea::-webkit-input-placeholder{font-size:16px;}
textarea:-moz-placeholder,textarea::-moz-placeholder{font-size:16px;}
textarea::-ms-input-placeholder{font-size:16px;}
.topicwrapper{position:relative;margin-top:-3px;width:100%;height:40px;border:1px solid #e7ecf3;border-top:hsla(0,0%,96.9%,0);border-radius:4px;line-height:40px;}
.myqunzi{float:left;display:flex;margin-top:8px;margin-left:12px;padding:0 6px;border-radius:50px;border-bottom-left-radius:0;background:#efefef;color:#1e80ff;line-height:24px;cursor:pointer;align-items:center;justify-content:center;}
.huati{color:#0084ff;}
.club-digg-row{display:flex;margin-top:12px;}
.middle-row{position:relative;margin:8px 0 0;}
.club-digg-row .pin-club-box .club{display:flex;padding:2px 6px;width:-webkit-fit-content;width:-moz-fit-content;width:fit-content;border-radius:50px;background-color:#eaf2ff;color:#1e80ff;font-size:12px;line-height:20px;justify-content:center;align-items:center;}
.club-digg-row .pin-club-box .club:hover{background-color:rgba(30,128,255,.16);}
.club-digg-row .pin-club-box .club:active{background-color:rgba(30,128,255,.24);}
.club-digg-row .pin-club-box .club-icon{margin-right:.3em;}
.right{float:right;}
.info-row .right{margin-top:-16px;height:20px;line-height:8px;}
#framelPL38w{margin:0!important;background-color:transparent!important;background-image:none!important;}
#frameoiHmaI{margin:0 0 15px!important;}
#framegiM5m3{margin:0 0 20px!important;}
#frameVPAHli,#framegiM5m3{background-color:transparent!important;background-image:none!important;}
#frameVPAHli{margin-bottom:20px!important;}
#portal_block_55{margin-bottom:15px!important;}
#portal_block_50{margin-bottom:20px!important;}
.contnt-left-l{margin-right:20px;}
.layui-tab-title{margin-bottom:5px;background:#fff;}
.dock-nav-list .on{padding-left:45px;}
.header-right .login{overflow:hidden;margin-top:12px;margin-right:4rem;padding:0 10px;height:3rem;height:34px;width: 70px;border:1px solid rgba(30,128,255,.3);border-radius:4px;background:rgba(30,128,255,.05);color:#007fff;font-weight:400;font-size:14px;line-height:1.9rem;line-height:34px;}
.header-right .login-button-line{display:inline-block;margin:0 6px;width:1px;height:12px;background-color:#abcdff;vertical-align:middle;}
#hd .wrap .vips{margin:0 1rem;padding:0;}
.duidd{position:relative;display:inline-block;}
.duidd-content{position:absolute;top:58px;right:0;z-index:100;z-index:999;display:none;box-sizing:border-box;width:266px;height:460px;border:1px solid var(--juejin-gray-1-1);border-radius:4px;background-color:#f9f9f9;box-shadow:0 8px 16px 0 rgba(0,0,0,.2);cursor:auto;}
.duidd:hover .duidd-content{display:block;}
.head-right{margin-right:60px;}
.more-mask{position:absolute;top:100%;right:0;z-index:9;width:0;height:30px;opacity:0;transition:width .1s linear .5s;}
@-webkit-keyframes skeleton-keyframes-data-v-759ab6bb{0%{background-position:0 0;}
to{background-position:480px 0;}
}
@keyframes skeleton-keyframes-data-v-759ab6bb{0%{background-position:0 0;}
to{background-position:480px 0;}
}
.emoji.old[data-v-759ab6bb]{transform:scale(.9);}
@media (max-width:600px){.web-only[data-v-759ab6bb]{display:none;}
}
.user-info[data-v-759ab6bb]{display:flex;margin-bottom:16px;}
.user-info .avatar[data-v-759ab6bb]{position:relative;margin-right:12px;width:48px;height:48px;border-radius:50%;}
.user-info .avatar .vip-icon[data-v-759ab6bb]{position:absolute;right:0;bottom:0;}
.user-info .avatar .vip-icon[data-v-759ab6bb] img{width:auto;height:auto;}
.user-info .avatar[data-v-759ab6bb]:hover{background:hsla(0,0%,100%,.2);}
.user-info .user-detail[data-v-759ab6bb]{width:164px;text-align:left;}
.user-info .user-detail .username[data-v-759ab6bb]{display:-webkit-box;overflow:hidden;margin-top:5px;margin-bottom:-9px;color:var(--juejin-font-1);text-overflow:ellipsis;font-size:16px;line-height:18px;word-break:break-all;-webkit-box-orient:vertical;-webkit-line-clamp:1;}
.user-info .user-detail .username[data-v-759ab6bb]:hover{color:var(--juejin-font-2);}
.user-info .user-detail .ore[data-v-759ab6bb]{display:inline-block;color:var(--juejin-font-1);font-size:12px;line-height:18px;}
.user-info .user-detail .ore .ore-arrow-icon[data-v-759ab6bb]{margin-top:-2px;vertical-align:middle;fill:var(--juejin-font-3);}
.actions-count-list[data-v-759ab6bb]{display:flex;margin-bottom:10px;padding-bottom:12px;width:100%;border-bottom:1px solid rgba(228,230,235,0.5);justify-content:space-between;}
.actions-count-list .item[data-v-759ab6bb]{width:74px;height:40px;text-align:center;line-height:40px;}
.actions-count-list .item .item-count[data-v-759ab6bb]{margin-bottom:4px;color:var(--juejin-font-1);font-weight:500;font-size:16px;line-height:18px;}
.actions-count-list .item .item-name[data-v-759ab6bb]{color:var(--juejin-font-3);font-weight:400;font-size:12px;line-height:18px;}
.progress-bar[data-v-759ab6bb]{display:block;box-sizing:border-box;margin-bottom:16px;padding:6px 8px 8px;width:259px;border-radius:4px;background:url(//lf3-cdn-tos.bytescm.com/obj/static/xitu_juejin_web/img/progress-bar.a63566c.png) no-repeat;background-size:100% 100%;color:var(--juejin-font-brand1-normal);font-size:12px;line-height:18px;}
@media (max-width:640px){.progress-bar[data-v-759ab6bb]{box-sizing:border-box;width:196px;}
}
.progress-bar.progress-bar-dark[data-v-759ab6bb]{background:url(//lf3-cdn-tos.bytescm.com/obj/static/xitu_juejin_web/img/progress-bar-dark.bffee71.png) no-repeat;background-size:100% 100%;}
.progress-bar .jscore[data-v-759ab6bb]{display:flex;margin-bottom:4px;justify-content:space-between;}
.progress-bar .jscore .jscore-level .bold[data-v-759ab6bb]{font-weight:600;}
.progress-bar .jscore .progress .jscore-arrow-icon[data-v-759ab6bb]{margin-top:-2px;vertical-align:middle;fill:var(--juejin-font-brand1-normal);}
.progress-bar .bar[data-v-759ab6bb]{position:relative;width:208px;height:5px;border-radius:4px;background:var(--juejin-brand-fill3-click);}
@media (max-width:640px){.progress-bar .bar[data-v-759ab6bb]{width:178px;}
}
.progress-bar .bar .current-bar[data-v-759ab6bb]{position:absolute;left:0;width:0;height:5px;border-radius:4px;background:var(--juejin-brand-1-normal);}
@-webkit-keyframes skeleton-keyframes-data-v-34730c1a{0%{background-position:0 0;}
to{background-position:480px 0;}
}
@keyframes skeleton-keyframes-data-v-34730c1a{0%{background-position:0 0;}
to{background-position:480px 0;}
}
.emoji.old[data-v-34730c1a]{transform:scale(.9);}
@media (max-width:600px){.web-only[data-v-34730c1a]{display:none;}
}
.drop-down-menu[data-v-34730c1a]{position:absolute;top:30;right:0;z-index:999;box-sizing:border-box;padding:20px;border:1px solid var(--juejin-gray-1-1);border-radius:4px;background:var(--juejin-popup);cursor:auto;}
@media (max-width:640px){.drop-down-menu[data-v-34730c1a]{top:0;right:0;box-sizing:border-box;padding:12px 12px 16px;width:220px;}
}
@media (max-width:1150px) and (min-width:640px){.drop-down-menu[data-v-34730c1a]{right:0;}
}
.dropdowns-list[data-v-34730c1a]{display:flex;box-sizing:border-box;padding-bottom:10px;border-bottom:1px solid rgba(228,230,235,.5);flex-wrap:wrap;justify-content:space-between;align-items:center;}
.dropdowns-list .dropdowns-item[data-v-34730c1a]{width:110px;height:40px;color:var(--juejin-font-1);font-size:14px;line-height:40px;}
.dropdowns-list .dropdowns-item[data-v-34730c1a]:hover{border-radius:4px;background:var(--juejin-layer-2-1);}
.dropdowns-list .dropdowns-item .menu-icon.badge[data-v-34730c1a]:before{position:absolute;top:-4px;right:-4px;display:inline-block;width:6px;height:6px;border:1.5px solid #fff;border-radius:50%;background-color:var(--juejin-font_danger);content:" ";}
.dropdowns-list .dropdowns-item .open-menu-page[data-v-34730c1a]{display:flex;height:40px;color:var(--juejin-font-1);align-items:center;}
.dropdowns-list .dropdowns-item .open-menu-page .menu-icon[data-v-34730c1a]{position:relative;margin:0 8px;width:20px;height:20px;line-height:20px;}
.dropdowns-list .dropdowns-item .open-menu-page .menu-icon svg[data-v-34730c1a]{width:100%;height:100%;}
.dropdowns-list .dropdowns-item .open-menu-page .menu-icon-light[data-v-34730c1a]{color:#8a919f;}
.dropdowns-list .dropdowns-item .open-menu-page .menu-name[data-v-34730c1a]{display:inline-block;}
@media (max-width:640px){.dropdowns-list .dropdowns-item[data-v-34730c1a]{width:97px;height:38px;line-height:38px;}
.dropdowns-list .dropdowns-item .open-menu-page[data-v-34730c1a]{height:38px;}
.dropdowns-list .dropdowns-item .open-menu-page .menu-icon[data-v-34730c1a]{margin:0 4px;width:16px;height:16px;}
}
.group[data-v-34730c1a]{display:flex;margin-top:1rem;font-size:1rem;line-height:1.5rem;justify-content:space-between;position: fixed;bottom: 0;width: 16%;}
.group a[data-v-34730c1a],.group[data-v-34730c1a]{color:var(--juejin-font-3);}
.group a[data-v-34730c1a]:hover{color:var(--juejin-font-brand1-normal);}
.dropdowns{position:absolute;display:flex;width:115px;height:60px;cursor:pointer;align-items:center;}
.dropdowns-content{position:absolute;top:55px;right:0;z-index:120;display:none;box-sizing:border-box;padding:20px;width:402px;max-height:344px;border:1px solid #e4e6eb;border-radius:4px;background:#fff;background-color:#f9f9f9;box-shadow:0 0 24px rgba(81,87,103,.16);flex-direction:column;}
.dropdowns:hover .dropdowns-content{display:block;}
.dropdowns .dropdowns-content .menu[data-v-9fa8ab8e]{display:flex;flex-wrap:wrap;}
.dropdowns .dropdowns-content .menu .item[data-v-9fa8ab8e]{display:flex;box-sizing:border-box;width:72px;height:100px;border-radius:2px;flex-direction:column;justify-content:center;align-items:center;}
.dropdowns .add-btn{padding:.5rem 1.3rem;outline:0;border:none;border-radius:2px;background-color:#007fff;color:#fff;cursor:pointer;transition:background-color .3s,color .3s;-webkit-appearance:none;-moz-appearance:none;appearance:none;height: 37px;}
.dropdowns .dropdowns-content .menu{display:flex;flex-wrap:wrap;}
.dropdowns .dropdowns-content .divider{margin-top:12px;margin-bottom:17px;min-height:1px;background-color:#e4e6eb;}
.dropdowns .dropdowns-content .inspiration[data-v-9fa8ab8e]{display:flex;flex-direction:column;}
.dropdowns .dropdowns-content .inspiration .info[data-v-9fa8ab8e]{display:flex;margin-bottom:16px;height:22px;flex-direction:row;justify-content:space-between;}
.dropdowns .dropdowns-content .inspiration .info .titles[data-v-9fa8ab8e]{color:#252933;font-weight:500;font-size:16px;line-height:18px;}
.dropdowns .dropdowns-content .inspiration .info .more-info[data-v-9fa8ab8e]{display:flex;color:#86909c;font-weight:400;font-size:14px;line-height:22px;align-items:center;}
.dropdowns .dropdowns-content .inspiration .byte-icon{display:inline-block;width:1em;height:1em;vertical-align:middle;line-height:1;}
.dropdowns .dropdowns-content .inspiration .list .item[data-v-9fa8ab8e]{display:flex;margin-bottom:14px;height:22px;align-items:center;}
.dropdowns .dropdowns-content .inspiration .list .item .icon-activity[data-v-9fa8ab8e]{background:#fff3e5;color:#ff7426;}
.dropdowns .dropdowns-content .inspiration .list .item .icon[data-v-9fa8ab8e]{display:inline-block;margin-right:8px;width:40px;height:20px;border-radius:2px;text-align:center;font-weight:500;font-size:12px;line-height:20px;}
.dropdowns .dropdowns-content .inspiration .list .item .titles[data-v-9fa8ab8e]{display:inline-block;overflow:hidden;width:312px;color:#252933;text-overflow:ellipsis;white-space:nowrap;font-weight:400;font-size:14px;line-height:22px;}
.dropdowns .dropdowns-content .menu .item .icon[data-v-9fa8ab8e]{margin-bottom:5px;width:40px;height:40px;}
.dropdowns .dropdowns-content .menu .item[data-v-9fa8ab8e]:hover{background:#f7f8fa;}
.dropdowns .more:hover .more-mask[data-v-9fa8ab8e]{width:100%;transition-delay:0s;}
.dropdowns .more-mask[data-v-9fa8ab8e]{position:absolute;top:100%;right:0;z-index:9;width:0;height:30px;opacity:0;transition:width .1s linear .5s;}
.nav-item.add.creator-item[data-v-25e3b163]{overflow:visible;padding-left:5px;width:11rem;}
.nav-item.add[data-v-25e3b163]{overflow:hidden;padding-left:0;width:25rem;cursor:default;transition:width .3s;}
.nav-item[data-v-25e3b163]:last-child{padding-right:0;}
.nav-item[data-v-25e3b163]{display:flex;margin:0;padding:0 1rem;height:100%;color:#86909c;font-size:1.167rem;cursor:pointer;justify-content:center;align-items:center;}
.add-group[data-v-9fa8ab8e],.nav-item{position:relative;cursor:pointer;}
.add-group[data-v-9fa8ab8e]{display:flex;width:115px;height:3rem;align-items:center;}
.button,button{padding:.5rem 1.3rem;outline:0;border:none;border-radius:2px;color:#fff;cursor:pointer;transition:background-color .3s,color .3s;-webkit-appearance:none;-moz-appearance:none;appearance:none;}
button{list-style:1;}
.add-group .more[data-v-9fa8ab8e]{display:flex;box-sizing:border-box;width:1.667rem;border-left:1px solid hsla(0,0%,100%,.1);border-bottom-left-radius:0;border-top-left-radius:0;flex:0 0 auto;align-items:center;justify-content:center;}
.add-group .add-btn[data-v-9fa8ab8e]:hover,.add-group .more[data-v-9fa8ab8e]:hover{background-color:var(--juejin-brand-2-hover);}
.add-group .add-btn[data-v-9fa8ab8e]{padding:0 1rem;border-top-right-radius:0;border-bottom-right-radius:0;white-space:nowrap;font-size:1.167rem;}
.add-group .add-btn[data-v-9fa8ab8e],.add-group .more[data-v-9fa8ab8e]{height:100%;border-radius:3px;background-color:var(--juejin-brand-1-normal);color:var(--juejin-font-white);transition:background-color .1s linear .05s;}
.com-2-footer-copyright-cnt{padding:0 20px;background:#f4f4f4;color:#4e4e4e;text-align:center;font-size:12px;line-height:20px;}
.com-2-footer-copyright-cnt .com-2-footer-inner{padding:20px 0;max-width:1314px;}
.com-2-footer-copyright-cnt a{color:inherit;}
.com-2-footer-copyright-cnt a:hover{color:#00a4ff;}
.com-2-footer-recommend{background:#fff;}
.com-2-footer-recommend-rows{padding:15px 0;}
.com-2-footer-inner{box-sizing:border-box;margin:0 auto;padding:0 10px;max-width:1314px;-webkit-font-smoothing:antialiased;}
.com-2-footer-recommend-cell{position:relative;padding-left:100px;min-height:14px;}
.com-2-footer-recommend-cell+.com-2-footer-recommend-cell{margin-top:15px;}
.com-2-footer-recommend-tit{position:absolute;top:0;left:0;overflow:hidden;width:100px;color:#222;text-overflow:ellipsis;white-space:nowrap;font-weight:400;font-size:14px;line-height:14px;}
.com-2-footer-recommend-list-wrap{overflow:hidden;padding-left:20px;}
.com-2-footer-recommend-list{margin-right:-10px;margin-bottom:-15px;margin-left:-10px;font-size:0;}
.com-2-footer-recommend-item{display:inline-block;box-sizing:content-box;margin-bottom:15px;padding:0 10px;width:100px;vertical-align:top;}
.com-2-footer-recommend-link:hover{color:#00a4ff;}
.com-2-footer-recommend-list li{display:inline-block;box-sizing:content-box;margin-bottom:15px;padding:0 10px;width:111px;vertical-align:top;}
.com-2-footer-recommend-link{color:#666;font-size:12px;line-height:14px;}
.com-2-footer{margin-top:20px;width:100%;}
.com-2-footer .com-2-footer-tongji{float:left;padding:30px 0;width:100%;background:#fff;}
.com-2-footer .com-2-footer-tongji .item_box{float:left;padding:0 6.5px;width:9%;}
.com-2-footer .com-2-footer-tongji .item_box .item{float:left;padding:15px 0;width:100%;background:#f9f9f9;}
.com-2-footer .com-2-footer-tongji .item_box .iconfont,.com-2-footer .com-2-footer-tongji .item_box .nub,.com-2-footer .com-2-footer-tongji .item_box .txt{float:left;width:100%;text-align:center;}
.com-2-footer .com-2-footer-tongji .item_box .iconfont{color:#444;font-size:25px;}
.com-2-footer .com-2-footer-tongji .item_box .nub{margin:3px 0 4px 0;color:#d22525;font-size:20px;font-family:castellar;}
.com-2-footer .com-2-footer-tongji .item_box .txt{color:#999;font-size:12px;}
.com-2-footer .copyright{float:left;padding:20px 0;width:100%;background:rgba(255,255,255,.7);}
.com-2-footer .copyright .friendlink{float:left;padding-bottom:10px;width:100%;border-bottom:1px solid #eee;line-height:30px;}
.com-2-footer .copyright .friendlink span{display:inline-block;padding:0 13px 0 0;color:#222;font-size:13px;}
.com-2-footer .copyright .friendlink a{display:inline-block;padding:0 13px 0 0;color:#666;font-size:13px;}
.com-2-footer .copyright p{float:left;margin-top:15px;width:100%;color:#666;text-align:center;font-size:13px;}
.com-2-footer .copyright a{color:#666;font-size:13px;transition:color .6s;}
.com-2-footer .copyright a:hover{color:#d22525;}
.com-2-footer .copyright .idc{position:relative;top:-20px;}
.com-2-footer .copyright .idc span{margin:0 10px;}
.com-2-footer .copyright .idc img{position:relative;top:20px;margin:0 5px;}
.boxs {width: 1314px;margin: 0px auto;}
.clear {clear: both;}
.display{display: none;}
.topUpCont{position:fixed;right:10px;bottom:10px;z-index:10000;display:none;padding:10px 0;width:80px;border:#ddd solid 1px;border-radius:5px;background:#fff;color:#999;text-align:center;line-height:20px;cursor:pointer;}

#contnt_right .nex_index_sd {
    width: 260px;
    height: 166px;
    background: #fff;
    padding: 20px;
    border-radius: 4px;
    box-shadow: 2px 1px 12px 3px #eee;
}
    .nex_roll_title {
    height: 16px;
}

.nex_roll_title span.nex_roll_icon1 {
    background: url(/public/static/blueTT/img/nex_icon_notices.png) left center no-repeat;
}
.nex_roll_title span {
    display: block;
    height: 16px;
    line-height: 16px;
    padding-left: 22px;
    font-size: 14px;
    position: relative;
}.nex_roll_title span:after {
    content: '';
    width: 175px;
    height: 1px;
    background: #F7ECB5;
    display: block;
    position: absolute;
    right: 0;
    top: 7px;
}.nex_notice_lists {
    margin-bottom: 20px;
}.nex_notice_lists ul li{    width: 260px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;}

.nex_notice_lists ul li a {
    font-size: 14px;
    max-height: 40px;
    line-height: 20px;
    overflow: hidden;
}.nex_roll_title span.nex_roll_icon2 {
    background: url(/public/static/blueTT/img/nex_icon_newqna.png) left center no-repeat;
}.nex_newqna_list ul li {
    height: 20px;
    line-height: 20px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin-bottom: 5px;
}
.nex_newqna_list ul li a {
    font-size: 14px;
}    .image-ad {
  position: relative;
  display: inline-block;
}

.image-text {
  position: absolute;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  padding: 5px 10px;
  font-size: 14px;
}    
.WapCommentBox{padding: 24px 0;}

.PostCommentBox1 textarea{width: 580px;
    resize: none;
    position: relative;
    padding: 0px 12px;
    color: var(--juejin-font-1);
    outline: none;
    min-height: 38px;
    box-sizing: border-box;
    line-height: 25px;
    font-size: 14px;}
    .PostCommentBox1 ol {
    position: relative;
    padding-left: 70px;
}.PostCommentBox1 ol i {
    display: block;
    width: 50px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    background: #CCC;
    border-radius: 50%;
    position: absolute;
    left: 0;
    top: 0;
    font-size: 30px;
    color: #FFF;
}

.WapCommentBox .PostCommentBox1 ol button{float: right;
    height: 52px;
    padding: .5rem 1.3rem;
    outline: 0;
    border: none;
    border-radius: 2px;
    background-color: #007fff;
    color: #fff;
    cursor: pointer;
    transition: background-color .3s,color .3s;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;}
.pinglun{padding: 0 14px;
    border-top: 1px solid blue;
    position: relative;}
    
.WapCommentBox .head{padding-top: 24px;padding-bottom: 10px;}
.WapCommentBox{
	background: #FFF;
	margin-top: 15px;
	padding: 10px;
	font-size: 14px;
}
.WapCommentBox .head{
	height:40px;
	line-height: 40px;
	overflow: hidden;
	margin-bottom: 10px;
}
.WapCommentBox .head .tag{
	float: left;
	font-size: 18px;
}
.WapCommentBox .head .more{
	float: right;
}
.WapCommentBox .head .more button{
	line-height: 38px;
	padding: 0 15px;
	border:solid #F30 1px;
	background: #F60;
	color:#FFF;
}
.WapCommentBox .ListComment .lists{
	border-top:#DDD solid 1px;
	display: table;
	width: 100%;
}
.WapCommentBox .ListComment .lists .icon,.WapCommentBox .ListComment .lists .infos{
	display: table-cell;
	padding: 10px 0 10px 0;
	vertical-align: top;
}
.WapCommentBox .ListComment .lists .icon{
	width:60px;
	padding-right: 10px;
}
.WapCommentBox .ListComment .lists .icon img{
	max-width: 100%;
	border-radius: 50%;
	box-shadow: 1px 1px 1px #666;
}
.WapCommentBox .ListComment .lists .infos dl{
	display: table;
	width: 100%;
	margin-bottom: 5px;
}
.WapCommentBox .ListComment .lists .infos dl dt,.WapCommentBox .ListComment .lists .infos dl dd{
	display: table-cell;
	vertical-align: middle;
	color: #888;
}
.WapCommentBox .ListComment .lists .infos dl dd{
	text-align: right;
}
.WapCommentBox .ListComment .lists .infos dl dd span{
	display: inline-block;
	padding-left: 10px;
}
.WapCommentBox .ListComment .lists .repalyinfs{
	background: #F7F7F7;
}
.WapCommentBox .ListComment .lists .repalyinfs div{
	padding:10px;
	line-height: 20px;
	border-top:#FFF solid 1px;
	color: #666;
	font-size: 14px;
}
.WapCommentBox .ListComment .lists .repalyinfs div a{
	color:#888;
}
.WapCommentBox .ListComment .lists .infos .comment{
	line-height: 20px;
}
.PostCommentBox{
	text-align: center;
}
.PostCommentBox textarea{
	width: 92%;
	padding: 1%;
	height: 150px;
	margin: 10px auto;
}
.PostCommentBox button{
	padding:3px 10px;
	border: #999 solid 1px;
	background: #CCC;
	color: #FFF;
	margin: 0 10px;
	cursor: pointer;
}
.PostCommentBox button:nth-child(1){
	border:#F30 solid 1px;
	background: #F60;
}
.ShowMoreComment{
	text-align: center;
	padding: 10px;
}
.PostCommentBox1 ol{
	position: relative;
	padding-left: 70px;
}
.PostCommentBox1 ol i{
	display: block;
	width: 50px;
	height: 50px;
	text-align: center;
	line-height: 50px;
	background:#CCC;
	border-radius: 50%;
	position: absolute;
	left: 0;
	top:0;
	font-size: 30px;
	color: #FFF;
}
.PostCommentBox1 li{
	text-align: right;
	padding-right: 1%;
}
.PostCommentBox1 li span,.PostCommentBox1 li button{
	display: inline-block;
	margin-top: 8px;
	line-height: 30px;
	padding: 0 15px;
	font-size: 16px;
	background: #AAA;
	color: #FFF;
	cursor: pointer;
	border:0px;
}
.PostCommentBox1 li button{
	background: #F60;
}
.PostCommentBox1 li button:hover{
	background: #F30;
}

.comment_if_yz{
	margin-right:10px;
}
.comment_if_yz.notyz .fa{
	color:orange;
}
    .offcanvas.show {
    transform: none;
}
.offcanvas-end {
    top: 0;
    right: 0;
    width: 400px;
    border-left: 1px solid rgba(0,0,0,.2);
    transform: translateX(100%);
}
.offcanvas {
    position: fixed;
    bottom: 0;
    z-index: 1045;
    display: flex;
    flex-direction: column;
    max-width: 100%;
    visibility: hidden;
    background-color: #fff;
    background-clip: padding-box;
    outline: 0;
    transition: transform .3s ease-in-out;
}.offcanvas-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1rem 0 1rem;
}h5, h6 {
    margin-top: 0;
    font-weight: 500;
    font-size: 100%;
}.text-reset {
    --bs-text-opacity: 1;
    color: inherit!important;
}
.btn-close {
    box-sizing: content-box;
    width: 1em;
    height: 1em;
    padding: .25em .25em;
    color: #000;
        background: transparent url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23000'%3e%3cpath d='M.293.293a1 1 0 011.414 0L8 6.586 14.293.293a1 1 0 111.414 1.414L9.414 8l6.293 6.293a1 1 0 01-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 01-1.414-1.414L6.586 8 .293 1.707a1 1 0 010-1.414z'/%3e%3c/svg%3e") center/1em auto no-repeat;
    border: 0;
    border-radius: .25rem;
    opacity: .5;
}.offcanvas-header .btn-close {
    padding: .5rem .5rem;
    margin-top: -.5rem;
    margin-right: -.5rem;
    margin-bottom: -.5rem;
}.offcanvas-body {
    flex-grow: 1;
    padding: 1rem 1rem;
    overflow-y: auto;
}


.offcanvas-backdrop.fade {
    opacity: 0;
}
.offcanvas-backdrop.show {
    opacity: .5;
}
.offcanvas-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1040;
    width: 100vw;
    height: 100vh;
    background-color: #000;
}
.fade {
    transition: opacity .15s linear;
}
