body { color: rgb(51, 51, 51); background: rgb(255, 255, 255); padding: 6px 0px 0px; margin: 0px; position: relative; min-width: 900px; }
p, form, ol, ul, li, dl, dt, dd, h3 { margin: 0px; padding: 0px; list-style: none; }
input { padding-top: 0px; padding-bottom: 0px; box-sizing: border-box; }
table, img { border: 0px; }
td { font-size: 9pt; line-height: 18px; }
em { font-style: normal; color: rgb(204, 0, 0); }
a em { text-decoration: underline; }
cite { font-style: normal; color: green; }
.m, a.m { color: rgb(102, 102, 102); }
a.m:visited { color: rgb(102, 0, 102); }
.c { color: rgb(119, 119, 204); }
.f14 { font-size: 14px; }
.f13 { font-size: 13px; }
.bg { background-image: url("https://ss1.bdstatic.com/5eN1bjq8AAUYm2zgoY3K/r/www/cache/static/protocol/https/global/img/icons_441e82f.png"); background-repeat: no-repeat; }
#u, #head, #tool, #search, #foot { font-size: 12px; }
#wrapper { }
#container { word-break: break-all; word-wrap: break-word; position: relative; }
.container_l { width: 1222px; }
#content_left { width: 636px; float: left; padding-left: 35px; }
#content_right { border-left: 1px solid rgb(225, 225, 225); float: right; }
.container_s #content_right { width: 271px; }
.container_l #content_right { width: 434px; }
#u { color: rgb(153, 153, 153); white-space: nowrap; position: absolute; right: 10px; top: 4px; z-index: 299; }
#u a { color: rgb(0, 0, 204); margin: 0px 5px; }
#u .reg { margin: 0px; }
#u .last { margin-right: 0px; }
#u .un { font-weight: 700; margin-right: 5px; }
#u ul { width: 100%; background: rgb(255, 255, 255); border: 1px solid rgb(155, 155, 155); }
#u li { height: 25px; }
#u li a { width: 100%; height: 25px; line-height: 25px; display: block; text-align: left; text-decoration: none; text-indent: 6px; margin: 0px; }
#u li a:hover { background: rgb(235, 235, 235); }
#u li.nl { border-top: 1px solid rgb(235, 235, 235); }
#user { display: inline-block; }
#user_center { position: relative; display: inline-block; }
#user_center .user_center_btn { margin-right: 5px; }
#head { padding-left: 35px; margin-bottom: 20px; width: 900px; }
.fm { clear: both; position: relative; z-index: 297; }
.nv a, .nv b, .btn, #page, #more { font-size: 14px; }
.s_tab { line-height: 18px; padding: 20px 0px 0px; float: left; }
.s_ipt_wr { width: 536px; height: 30px; display: inline-block; margin-right: 5px; background-position: 0px -96px; border-width: 1px; border-style: solid; border-image: initial; border-color: rgb(123, 123, 123) rgb(182, 182, 182) rgb(182, 182, 182) rgb(123, 123, 123); vertical-align: top; }
.s_ipt { width: 523px; height: 22px; font-style: normal; font-variant: normal; font-weight: normal; font-stretch: normal; font-size: 16px; font-family: arial; line-height: 22px; margin: 5px 0px 0px 7px; padding: 0px; background: rgb(255, 255, 255); border: 0px; outline: 0px; -webkit-appearance: none; }
.s_btn { width: 95px; height: 32px; font-size: 14px; padding: 0px; background-color: rgb(221, 221, 221); background-position: 0px -48px; border: 0px; cursor: pointer; }
.s_btn_wr { width: 97px; height: 34px; display: inline-block; background-position: -120px -48px; z-index: 0; vertical-align: top; }
            .opr-toplist1-title {
    position: relative;
    margin-bottom: .5px
}

.opr-toplist1-table .opr-toplist1-right {
    text-align: right;
    white-space: nowrap
}

.opr-toplist1-from {
    text-align: right
}

.opr-toplist1-from a {
    text-decoration: none
}

.opr-toplist1-new {
    position: relative;
    top: 1px
}

.opr-toplist1-st {
    margin-bottom: 2px;
    margin-left: 3px
}

.opr-toplist1-update {
    float: right
}

.opr-toplist1-refresh {
    font-size: 13px;
    font-weight: 400;
    text-decoration: none
}

.opr-toplist1-refresh .opr-toplist1-icon {
    background: url(//www.baidu.com/aladdin/tpl/right_toplist1/refresh.png) 0 0/100% 100% no-repeat;
    margin-left: 3px;
    width: 16px;
    height: 16px
}
#page { font-style: normal; font-variant: normal; font-weight: normal; font-stretch: normal; font-size: 14px; line-height: normal; font-family: arial; white-space: nowrap; padding-left: 35px; }
#page a, #page strong {height: 34px; text-align: center; line-height: 34px; text-decoration: none; overflow: hidden; margin-right: 9px; background: rgb(255, 255, 255); }
#page a { cursor: pointer; }
#page a:hover { background: 0px 0px; }
#page .n:hover, #page a:hover .pc { background: rgb(242, 248, 255); border: 1px solid rgb(51, 136, 255); }
#page .n { height: 34px; padding: 0px 18px; border: 1px solid rgb(225, 226, 227); }
#page span {height: 34px;line-height: 34px;overflow: hidden; }
#page .pc { width: 34px; height: 34px; border: 1px solid rgb(225, 226, 227); cursor: pointer; }
#page .fk { width: 24px; height: 24px; margin-bottom: 6px; margin-left: 6px; cursor: pointer; }
#page strong .fk, #page strong .pc { cursor: auto; }
#page .fk .c-icon-bear-pn { top: -3px; position: relative; }
#page .fkd .c-icon-bear-pn { top: 3px; position: relative; }
#page .fk_cur .c-icon-bear-p { top: -2px; position: relative; }
#page strong .pc { border: 0px; width: 36px; height: 36px; line-height: 36px; }
#page .nums { display: inline-block; vertical-align: text-bottom; height: 36px; line-height: 36px; margin-left: 10px; }
#rs { width: 900px; background: rgb(255, 255, 255); padding: 8px 0px; margin: 20px 0px 0px 15px; }
#rs td { width: 5%; }
#rs th { font-size: 14px; font-weight: 400; line-height: 19px; white-space: nowrap; text-align: left; vertical-align: top; }
#rs .tt { font-weight: 700; padding: 0px 10px 0px 20px; }
#rs_top { font-size: 14px; margin-bottom: 22px; }
#rs_top a { margin-right: 18px; }
#container .rs { margin: 30px 0px 20px; padding: 5px 0px 15px 121px; font-size: 14px; width: 540px; position: relative; background-color: rgb(250, 250, 250); }
#container .noback { background-color: rgb(255, 255, 255); }
#content_left .rs { margin-left: -121px; }
#container .rs table { width: 540px; }
#container .rs td { width: 5px; }
#container .rs th { font-size: 14px; font-weight: 400; white-space: nowrap; text-align: left; vertical-align: top; width: 175px; line-height: 22px; }
#container .rs .tt { font-weight: 700; padding: 0px; line-height: 30px; font-size: 16px; }
#container .rs a { margin: 0px; height: 24px; width: 173px; display: inline-block; line-height: 25px; border: 1px solid rgb(235, 235, 235); text-align: center; vertical-align: middle; overflow: hidden; outline: 0px; color: rgb(51, 51, 51); background-color: rgb(255, 255, 255); text-decoration: none; }
#container .rs a:hover { border-color: rgb(56, 139, 255); }
#foot { height: 20px; line-height: 20px; color: rgb(119, 119, 204); background: rgb(230, 230, 230); text-align: center; }
#foot span { color: rgb(102, 102, 102); }
.t { font-weight: 400; font-size: medium; margin-bottom: 1px; }
a font[size="3"] font, font[size="3"] a font { text-decoration: underline; }
div.blog, div.bbs { color: rgb(112, 112, 112); padding-top: 2px; font-size: 13px; }
.result { width: 33.7em; table-layout: fixed; }
.result-op .f { word-wrap: normal; }
.nums { font-size: 12px; color: rgb(153, 153, 153); }
.tools { position: absolute; top: 10px; white-space: nowrap; }
#mHolder { width: 62px; position: relative; z-index: 296; top: -18px; margin-left: 9px; margin-right: -12px; display: none; }
#mCon { height: 18px; position: absolute; top: 3px; cursor: pointer; line-height: 18px; }
.wrapper_l #mCon { right: 7px; }
#mCon span { color: rgb(0, 0, 204); display: block; }
#mCon .hw { text-decoration: underline; cursor: pointer; display: inline-block; }
#mCon .pinyin { display: inline-block; }
#mCon .c-icon-chevron-unfold2 { margin-left: 5px; }
#mMenu { width: 56px; border: 1px solid rgb(155, 155, 155); position: absolute; right: 7px; top: 23px; display: none; background: rgb(255, 255, 255); }
#mMenu a { width: 100%; height: 100%; color: rgb(0, 0, 204); display: block; line-height: 22px; text-indent: 6px; text-decoration: none; }
#mMenu a:hover { background: rgb(235, 235, 235); }
#mMenu .ln { height: 1px; background: rgb(235, 235, 235); overflow: hidden; font-size: 1px; line-height: 1px; margin-top: -1px; }
#more, #u ul, #mMenu, .msg_holder { box-shadow: rgb(204, 204, 204) 1px 1px 2px; }
#rs_top_new, .hit_top_new { width: 538px; font-size: 13px; line-height: 1.54; word-wrap: break-word; word-break: break-all; margin: 0px 0px 14px; }
h3 a font { text-decoration: underline; }
.c-abstract { font-size: 13px; display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;}
.c-showurl { color: green; font-size: 13px; }
.c-clearfix::after { content: "."; display: block; height: 0px; clear: both; visibility: hidden; }
.c-clearfix { zoom: 1; }
.c-icons-outer { overflow: hidden; display: inline-block; vertical-align: bottom; }
.c-icons-inner { margin-left: -4px; display: inline-block; }
.c-container table.result, .c-container table.result-op { width: 100%; }
.c-container td.f { font-size: 13px; line-height: 1.54; width: auto; }
.c-container .vd_newest_main { width: auto; }
.c-tip-icon i { display: inline-block; cursor: pointer; }
.c-tools { display: inline; }
#con-at .result-op { font-size: 13px; line-height: 1.52em; }
.wrapper_l #con-at .result-op { width: 1058px; }
.wrapper_s #con-at .result-op { width: 869px; }
#con-ar { margin-bottom: 40px; }
#con-ar .result-op { margin-bottom: 28px; font-size: 13px; line-height: 1.52em; }
#content_left .result-op, #content_left .result { margin-bottom: 14px; border-collapse: collapse; }
#content_left .c-border .result-op, #content_left .c-border .result { margin-bottom: 25px; }
#content_left .c-border .result-op:last-child, #content_left .c-border .result:last-child { margin-bottom: 12px; }
#content_left .result .f, #content_left .result-op .f { padding: 0px; }
.subLink_answer { padding-top: 4px; }
.subLink_answer li { margin-bottom: 4px; }
.subLink_answer h4 { margin: 0px; padding: 0px; font-weight: 400; }
.subLink_answer .label_wrap span { display: inline-block; color: rgb(102, 102, 102); margin-right: 8px; }
.subLink_answer .label_wrap span em { color: rgb(102, 102, 102); padding-left: 8px; }
.subLink_answer span.c-icon { margin-right: 4px; }
.subLink_answer .date { color: rgb(102, 102, 102); }
.general_image_pic a { background: center center no-repeat rgb(255, 255, 255); text-decoration: none; display: block; overflow: hidden; text-align: left; }
body { min-width: 1000px; }
#u1 { display: none; }
.s_ipt_wr { height: 32px; }
body { padding: 0px; }
.s_form::after, .s_tab::after { content: "."; display: block; height: 0px; clear: both; visibility: hidden; }
.s_form { zoom: 1; height: 55px; padding: 0px 0px 0px 10px; }
#result_logo { float: left; margin: 9px 0px 0px; }
#result_logo img { width: 101px; height: 33px; }
#head { padding: 0px; margin: 0px; width: 100%; z-index: 301; min-width: 1000px; background: rgb(255, 255, 255); border-bottom: 1px solid rgb(235, 235, 235); position: fixed; transform: translateZ(0px); }
#head .head_wrapper { }
#head.s_down { box-shadow: rgb(136, 136, 136) 0px 0px 5px; }
.fm { clear: none; float: left; margin: 11px 0px 0px 10px; }
#s_tab { background: rgb(248, 248, 248); line-height: 36px; height: 38px; padding: 55px 0px 0px 121px; float: none; zoom: 1; }
#s_tab a, #s_tab b { width: 54px; display: inline-block; text-decoration: none; text-align: center; color: rgb(102, 102, 102); font-size: 14px; }
#s_tab a:hover {
border-bottom: 2px solid rgb(51, 136, 255);
    font-weight: 700;
    color: rgb(50, 50, 50);
}
#s_tab b { border-bottom: 2px solid rgb(51, 136, 255); font-weight: 700; color: rgb(50, 50, 50); }
#s_tab a:hover { color: rgb(50, 50, 50); }
#content_left { width: 540px; padding-left: 121px; padding-top: 5px; }
#content_right { margin-top: 45px; }
#content_bottom { width: 540px; padding-left: 121px; }
#page { padding: 0px 0px 0px 121px; margin: 30px 0px 40px; }
.nums { margin: 0px 0px 0px 121px; height: 42px; line-height: 42px; }
#rs { padding: 0px; margin: 6px 0px 0px 121px; width: 600px; }
#rs th { width: 175px; line-height: 22px; }
#rs .tt { padding: 0px; line-height: 30px; }
#rs td { width: 5px; }
#rs table { width: 540px; }
#help { background: rgb(245, 246, 245); zoom: 1; padding: 0px 0px 0px 50px; float: right; }
#help a { color: rgb(119, 119, 119); padding: 0px 15px; text-decoration: none; }
#help a:hover { color: rgb(51, 51, 51); }
#foot { background: rgb(245, 246, 245); border-top: 1px solid rgb(235, 235, 235); text-align: left; height: 42px; line-height: 42px; margin-top: 40px; }
#foot .foot_c { float: left; padding: 0px 0px 0px 121px; }
#mCon { top: 5px; }
.s_ipt_wr.bg, .s_btn_wr.bg, #su.bg { background-image: none; }
.s_ipt_wr.bg { background: 0px 0px; }
.s_btn_wr { width: auto; height: auto; border-bottom: 1px solid transparent; }
.s_btn { width: 100px; height: 34px; color: rgb(255, 255, 255); letter-spacing: 1px; background: rgb(51, 133, 255); border-bottom: 1px solid rgb(45, 120, 244); outline: medium; -webkit-appearance: none; border-radius: 0px; }
#wrapper_wrapper .container_l .EC_ppim_top, #wrapper_wrapper .container_xl .EC_ppim_top { width: 640px; }
#wrapper_wrapper .container_s .EC_ppim_top { width: 570px; }
#head .c-icon-bear-round { display: none; }
.container_l #content_right { width: 384px; }
.container_l { width: 1212px; }
.container_xl #content_right { width: 384px; }
#lg { display: none; }
#m { display: none; }
#head .headBlock { margin: -5px 0px 6px 121px; }
#content_left .leftBlock { margin-bottom: 14px; padding-bottom: 5px; border-bottom: 1px solid rgb(243, 243, 243); }
.nums { width: 538px; }
.search_tool { }
.head_nums_cont_outer { height: 40px; overflow: hidden; position: relative; }
.head_nums_cont_inner { position: relative; }
.search_tool_conter .c-gap-left { margin-left: 23px; }
.search_tool_conter .c-icon-triangle-down { opacity: 0.6; }
.search_tool_conter .c-icon-triangle-down:hover { opacity: 1; }
.search_tool, .search_tool_close { float: right; }
.search_tool, .search_tool_conter span { cursor: pointer; color: rgb(102, 102, 102); }
.search_tool:hover, .search_tool_conter span:hover { color: rgb(51, 51, 51); }
.search_tool_conter { font-size: 12px; color: rgb(102, 102, 102); margin: 0px 0px 0px 121px; height: 42px; width: 538px; line-height: 42px; }
.search_tool_conter span strong { color: rgb(102, 102, 102); }
#con-at ~ #wrapper_wrapper .hint_common_restop { padding-top: 7px; }
.sitelink_en_summary_title, .sitelink_en_summary .m { height: 22px; overflow: hidden; }
.c-gap-top-small { margin-top: 5px; }
.c-gap-top { margin-top: 10px; }
.c-gap-bottom-small { margin-bottom: 5px; }
.c-gap-left { margin-left: 12px; }
.c-gap-left-small { margin-left: 6px; }
.c-gap-right-small { margin-right: 6px; }
.c-gap-icon-right-small { margin-right: 5px; }
.c-gap-icon-left-small { margin-left: 5px; }
.c-container { width: 538px; font-size: 13px; line-height: 1.54; word-wrap: break-word; word-break: break-word; }
.c-container .c-container { width: auto; }
.c-container table { border-collapse: collapse; border-spacing: 0px; }
.c-container td { font-size: 13px; line-height: 1.54; }
.c-container .t, .c-default .t { line-height: 1.54;height: 24px;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;}
.c-default .t { margin-bottom: 0px; }
.cr-content { width: 259px; font-size: 13px; line-height: 1.54; color: rgb(51, 51, 51); word-wrap: break-word; word-break: normal; }
.cr-content table { border-collapse: collapse; border-spacing: 0px; }
.cr-content td { font-size: 13px; line-height: 1.54; vertical-align: top; }
.cr-offset { padding-left: 17px; }
.cr-title { font-size: 14px; line-height: 1.29; font-weight: 700; }
.cr-title-sub { float: right; font-size: 13px; font-weight: 400; }
.c-row { }
.c-row::after { display: block; height: 0px; content: ""; clear: both; visibility: hidden; }
.c-span4 { width: 75px; }
.c-span6 { width: 121px; }
.c-span18 { width: 397px; }
.c-span24 { width: 535px; }
.c-span2, .c-span3, .c-span4, .c-span5, .c-span6, .c-span7, .c-span8, .c-span9, .c-span10, .c-span11, .c-span12, .c-span13, .c-span14, .c-span15, .c-span16, .c-span17, .c-span18, .c-span19, .c-span20, .c-span21, .c-span22, .c-span23, .c-span24 { float: left; margin-right: 17px; list-style: none; }
.c-span-last { height: 80px; margin-right: 0px; }
.c-span-last-s { margin-right: 0px; }
.container_l .cr-content { width: 351px; }
.container_l .cr-content .c-span-last-s { margin-right: 17px; }
.container_l .cr-content-narrow { width: 259px; }
.container_l .cr-content-narrow .c-span-last-s { margin-right: 0px; }
.c-border .c-gap-left { margin-left: 10px; }
.c-border .c-gap-left-small { margin-left: 5px; }
.c-border .c-gap-right-small { margin-right: 5px; }
.c-border .c-span4 { width: 78px; }
.c-border .c-span6 { width: 122px; }
.c-border .c-span18 { width: 386px; }
.c-border .c-span24 { width: 518px; }
.c-border .c-span2, .c-border .c-span3, .c-border .c-span4, .c-border .c-span5, .c-border .c-span6, .c-border .c-span7, .c-border .c-span8, .c-border .c-span9, .c-border .c-span10, .c-border .c-span11, .c-border .c-span12, .c-border .c-span13, .c-border .c-span14, .c-border .c-span15, .c-border .c-span16, .c-border .c-span17, .c-border .c-span18, .c-border .c-span19, .c-border .c-span20, .c-border .c-span21, .c-border .c-span22, .c-border .c-span23, .c-border .c-span24 { margin-right: 10px; }
.c-border .c-span-last { margin-right: 0px; }
.c-icon { background: url("https://ss1.bdstatic.com/5eN1bjq8AAUYm2zgoY3K/r/www/cache/static/protocol/https/global/img/icons_441e82f.png") 0px 0px no-repeat; }
.c-icon { display: inline-block; width: 14px; height: 14px; vertical-align: text-bottom; font-style: normal; overflow: hidden; }
.c-icon-tieba, .c-icon-zhidao, .c-icon-bear-p, .c-icon-bear-pn { width: 24px; height: 24px; }
.c-icon-triangle-down { background-position: -408px -144px; }
.c-icon-triangle-down-g { background-position: -744px -144px; }
.c-icon-setting { background-position: -864px -144px; }
.c-icon-chevron-top-gray-s { background-position: -912px -144px; }
.c-icon-chevron-bottom { background-position: -72px -168px; }
.c-icon-up { background-position: -720px -168px; }
.c-icon-bear-p { background-position: -96px -288px; }
.c-icon-bear-pn { background-position: -144px -288px; }
.c-recommend .c-icon { margin-bottom: -4px; }
.c-text { display: inline-block; padding: 2px; text-align: center; vertical-align: text-bottom; font-size: 12px; line-height: 100%; font-style: normal; font-weight: 400; color: rgb(255, 255, 255); overflow: hidden; }
a.c-text { text-decoration: none; }
.c-text-danger { background-color: rgb(241, 63, 64); }
.c-btn .c-icon { margin-top: 5px; }
.c-btn-mini .c-icon { margin-top: 2px; }
.c-btn-large .c-icon { margin-top: 7px; }
.c-btn .c-icon { float: left; }
.c-dropdown2 .c-icon-triangle-down { }
.c-img { display: block; min-height: 1px; }
.c-img4 { width: 75px; }
.c-img6 { width: 121px; }
.c-img8 { width: 146px; }
.c-border .c-img4 { width: 78px; }
.c-index { display: inline-block; padding: 1px 0px; color: rgb(255, 255, 255); width: 18px; line-height: 100%; font-size: 12px; text-align: center; background-color: rgb(142, 185, 245); }
.c-index-hot, .c-index-hot1 { background-color: rgb(245, 69, 69); }
.c-index-hot2 { background-color: rgb(255, 133, 71); }
.c-index-hot3 { background-color: rgb(255, 172, 56); }
.c-input .c-icon { float: right; margin-top: 6px; }
.c-table { width: 100%; border-collapse: collapse; border-spacing: 0px; }
.c-table th, .c-table td { padding-left: 10px; line-height: 1.54; font-size: 13px; border-bottom: 1px solid rgb(243, 243, 243); text-align: left; }
.cr-content .c-table th:first-child, .cr-content .c-table td:first-child { padding-left: 0px; }
.c-table th { padding-top: 4px; padding-bottom: 4px; font-weight: 400; color: rgb(102, 102, 102); border-color: rgb(240, 240, 240); white-space: nowrap; background-color: rgb(250, 250, 250); }
.c-table td { padding-top: 6.5px; padding-bottom: 6.5px; }
.c-table a, .c-table em { text-decoration: none; }
.c-table a:hover, .c-table a:hover em { text-decoration: underline; }
.c-table a.c-icon:hover { text-decoration: none; }
.c-table .c-btn:hover, .c-table .c-btn:hover em { text-decoration: none; }
.fb-btn .c-icon { margin-top: 5px; }
html { font-size: 100px; }
html body { font-size: 14px; }
[data-pmd] a { color: rgb(51, 51, 51); text-decoration: none; -webkit-tap-highlight-color: rgba(23, 23, 23, 0.1); }
[data-pmd] .c-icon { display: inline; width: auto; height: auto; vertical-align: baseline; overflow: auto; }
[data-pmd] .c-row-tile .c-row { padding: 0px 9px; }
[data-pmd] .c-row :last-child, [data-pmd] .c-row-tile :last-child { margin-right: 0px; }
[data-pmd] .c-row *, [data-pmd] .c-row-tile * { box-sizing: border-box; }
[data-pmd] .c-icon { font-style: normal; -webkit-font-smoothing: antialiased; font-family: cicons !important; }
[data-pmd] .c-title-nowrap .c-text { display: inline-block; vertical-align: middle; }
[data-pmd] .c-abstract { color: rgb(85, 85, 85); }
[data-pmd] .c-showurl { color: rgb(153, 153, 153); font-style: normal; font-variant: normal; font-weight: normal; font-stretch: normal; font-size: 13px; line-height: 21px; font-family: Arial, Helvetica, sans-serif; }
[data-pmd] .c-container { margin: 8px 0px; padding: 10px 9px 15px; background-color: rgb(255, 255, 255); width: auto; color: rgb(85, 85, 85); font-style: normal; font-variant: normal; font-weight: normal; font-stretch: normal; font-size: 13px; line-height: 21px; font-family: Arial, Helvetica, sans-serif; word-break: break-word; word-wrap: break-word; border: 0px none; }
[data-pmd] .c-gap-top { margin-top: 8px; }
[data-pmd] .c-gap-left { margin-left: 8px; }
[data-pmd] .c-gap-top-small { margin-top: 4px; }
[data-pmd] .c-gap-right-small { margin-right: 4px; }
[data-pmd] .c-gap-bottom-small { margin-bottom: 4px; }
[data-pmd] .c-gap-left-small { margin-left: 4px; }
[data-pmd] .c-img { position: relative; display: block; width: 100%; border: 0px none; background: url("//m.baidu.com/static/search/image_default.png") center center no-repeat rgb(247, 247, 247); margin: 4px 0px; }
[data-pmd] .c-img img { width: 100%; }
[data-pmd] .c-img .c-img-text { position: absolute; left: 0px; bottom: 0px; width: 100%; height: 0.16rem; background: rgba(51, 51, 51, 0.4); font-size: 0.12rem; line-height: 1.33333; color: rgb(255, 255, 255); text-align: center; }
[data-pmd] .c-table { width: 100%; border-collapse: collapse; border-spacing: 0px; color: rgb(0, 0, 0); }
[data-pmd] .c-table th { color: rgb(153, 153, 153); }
[data-pmd] .c-table th, [data-pmd] .c-table td { border-bottom: 1px solid rgb(238, 238, 238); text-align: left; font-weight: 400; padding: 8px 0px; }
[data-pmd] .c-text { display: inline-block; height: 14px; padding: 0px 2px; margin-bottom: 2px; text-decoration: none; vertical-align: middle; color: rgb(255, 255, 255); font-size: 10px; line-height: 15px; font-style: normal; font-weight: 400; overflow: hidden; border-radius: 2px; }
[data-pmd] .c-text-danger { background-color: rgb(241, 63, 64); }
[data-pmd] .c-index { display: inline-block; height: 15px; margin: 0px 5px 3px 0px; text-align: center; vertical-align: middle; color: rgb(153, 153, 153); font-size: 14px; line-height: 15px; overflow: hidden; }
[data-pmd] .c-index-hot, [data-pmd] .c-index-hot1 { background-color: rgb(255, 45, 70); font-size: 12px; color: rgb(255, 255, 255); width: 16px; }
[data-pmd] .c-index-hot2 { background-color: rgb(255, 127, 73); font-size: 12px; color: rgb(255, 255, 255); width: 16px; }
[data-pmd] .c-index-hot3 { background-color: rgb(255, 170, 59); font-size: 12px; color: rgb(255, 255, 255); width: 16px; }
[data-pmd] .c-btn .c-icon { position: relative; top: -1px; vertical-align: middle; font-size: 14px; margin-right: 4px; }
[data-pmd] .c-btn-small .c-icon { position: relative; top: -1px; vertical-align: middle; font-size: 14px; margin-right: 4px; }
[data-pmd] .c-btn-primary .c-icon { color: rgb(2, 170, 248); }
[data-pmd] .c-btn-disable .c-icon { color: rgb(153, 153, 153); }
[data-pmd] .c-btn-pills .c-icon { font-size: 10px; top: 1px; margin-right: 4px; }
[data-pmd] .c-btn-circle .c-icon { top: 0px; margin: 0px; display: block; font-size: 14px; color: rgb(255, 255, 255); }
[data-pmd] .c-btn-circle-big .c-icon { top: 0px; margin: 0px; display: block; font-size: 14px; color: rgb(255, 255, 255); }
[data-pmd] .c-btn-circle-big .c-icon { font-size: 24px; }
[data-pmd] .c-input:focus .c-icon { color: rgb(219, 219, 219); }
[data-pmd] .c-tab-select .c-icon { display: inline-block; font-size: 0.14rem; color: rgb(85, 85, 85); }
[data-pmd] .c-tab-select .c-span12 .c-icon { position: absolute; right: 0px; bottom: 0px; }
[data-pmd] .c-location-header-btn .c-icon { color: rgb(102, 102, 102); vertical-align: top; }
[data-pmd] .c-location-header-btn-in-active, [data-pmd] .c-location-header-btn-in-active .c-icon { color: rgb(51, 136, 255); }
[data-pmd] .c-navs-bar-layer .c-row { margin-bottom: 17px; }
.s_ipt_wr { border-width: 1px 0px 1px 1px; border-style: solid; border-image: initial; background: rgb(255, 255, 255); display: inline-block; vertical-align: top; width: 539px; margin-right: 0px; border-color: rgb(184, 184, 184) transparent rgb(204, 204, 204) rgb(184, 184, 184); overflow: hidden; }
.wrapper_s .s_ipt_wr { width: 439px; }
.wrapper_s .s_ipt { width: 434px; }
.wrapper_s .s_ipt_tip { width: 434px; }
.s_ipt_wr:hover, .s_ipt_wr.ipthover { border-color: rgb(153, 153, 153) transparent rgb(179, 179, 179) rgb(153, 153, 153); }
.s_ipt_tip { color: rgb(170, 170, 170); position: absolute; z-index: -10; font-style: normal; font-variant: normal; font-weight: normal; font-stretch: normal; font-size: 16px; font-family: arial; height: 32px; line-height: 32px; padding-left: 7px; overflow: hidden; width: 526px; }
.s_ipt { width: 526px; height: 22px; font-style: normal; font-variant: normal; font-weight: normal; font-stretch: normal; font-size: 16px; font-family: arial; line-height: 22px; margin: 6px 0px 0px 7px; padding: 0px; background: transparent; border: 0px; outline: 0px; -webkit-appearance: none; }
#kw { position: relative; }
#u .username i { background-position: -408px -144px; }
#u { z-index: 301; position: absolute; right: 0px; top: 0px; margin: 21px 9px 5px 0px; padding: 0px; }
.wrapper_s #u { margin-right: 3px; }
#u a { text-decoration: underline; color: rgb(51, 51, 51); margin: 0px 7px; }
.wrapper_s #u a { }
#u div a { text-decoration: none; }
#u a:hover { text-decoration: underline; }
#u .back_org { color: rgb(102, 102, 102); float: left; display: inline-block; height: 24px; line-height: 24px; }
#u .bri { display: inline-block; width: 24px; height: 24px; float: left; line-height: 24px; color: transparent; background: url("https://ss1.bdstatic.com/5eN1bjq8AAUYm2zgoY3K/r/www/cache/static/protocol/https/home/img/icons_0c37e9b.png") 4px 3px / 300px 18px no-repeat; overflow: hidden; }
#u .bri:hover, #u .bri.brihover { background-position: -18px 3px; }
#mCon #imeSIcon { background-position: -408px -144px; margin-left: 0px; }
#mCon span { color: rgb(51, 51, 51); }
.bdpfmenu a:link, .bdpfmenu a:visited, #u .usermenu a:link, #u .usermenu a:visited { background: rgb(255, 255, 255); color: rgb(51, 51, 51); }
.bdpfmenu a:hover, .bdpfmenu a:active, #u .usermenu a:hover, #u .usermenu a:active { background: rgb(51, 136, 255); text-decoration: none; color: rgb(255, 255, 255); }
#wrapper .bdnuarrow { width: 0px; height: 0px; font-size: 0px; line-height: 0; display: block; position: absolute; top: -10px; left: 50%; margin-left: -5px; }
#wrapper .bdnuarrow em, #wrapper .bdnuarrow i { width: 0px; height: 0px; font-size: 0px; line-height: 0; display: block; position: absolute; border-width: 5px; border-color: transparent; border-image: initial; border-style: dashed dashed solid; }
#wrapper .bdnuarrow em { border-bottom-color: rgb(216, 216, 216); top: -1px; }
#wrapper .bdnuarrow i { border-bottom-color: rgb(255, 255, 255); top: 0px; }
#kw_tip { cursor: default; display: none; margin-top: 1px; }
.quickdelete-wrap { position: relative; }
.quickdelete-wrap input { width: 500px; }
.wrapper_l .quickdelete-wrap input { width: 500px; }
.wrapper_s .quickdelete-wrap input { width: 402px; }
.quickdelete { width: 32px; height: 32px; background: url("https://ss1.bdstatic.com/5eN1bjq8AAUYm2zgoY3K/r/www/cache/static/protocol/https/global/img/quickdelete_33e3eb8.png") 10px 10px no-repeat; position: absolute; display: block; }
.quickdelete:hover { background-position: 10px -24px; }
.fb-btn .c-icon { margin-top: 5px; }
.index-logo-srcnew { display: none; }
.op-bk-polysemy-oneother .op-bk-polysemy-move, .op-bk-polysemy-oneother span { margin-left: 0px; }
.opr-recommends-merge-hide { display: none; }
.opr-recommends-merge-p { position: relative; }
.opr-recommends-merge-item { text-align: center; }
.opr-recommends-merge-mask { position: absolute; top: 0px; left: 0px; width: 100%; background: -webkit-radial-gradient(center center, ellipse closest-side, rgba(255, 255, 255, 0), rgba(0, 0, 0, 0.03)); }
.opr-recommends-merge-more-btn i { cursor: pointer; }
.opr-recommends-merge-lastspan { display: none; }
.opr-recommends-merge-mbGap { margin-bottom: 28px; }
.container_l .opr-recommends-merge-lastspan { display: block; }
.container_l .cr-content-narrow .opr-recommends-merge-lastspan { display: none; }
.opr-recommends-merge-content { position: relative; }
.opr-toplist1-title { position: relative; margin-bottom: 0.5px; }
.opr-toplist1-table .opr-toplist1-right { text-align: right; white-space: nowrap; }
.opr-toplist1-from { text-align: right; }
.opr-toplist1-from a { text-decoration: none; }
.opr-toplist1-new { position: relative; top: 1px; }
.opr-toplist1-st { margin-bottom: 2px; margin-left: 3px; }
.opr-toplist1-update { float: right; }
.opr-toplist1-refresh { font-size: 13px; font-weight: 400; text-decoration: none; }
.opr-toplist1-refresh .opr-toplist1-icon { background: url("//www.baidu.com/aladdin/tpl/right_toplist1/refresh.png") 0px 0px / 100% 100% no-repeat; margin-left: 3px; width: 16px; height: 16px; }
.opr-recommends-merge-p, .opr-recommends-merge-img, .opr-recommends-merge-mask { height: 75px; }
.opr-recommends-merge-item-vertical .opr-recommends-merge-p, .opr-recommends-merge-item-vertical .opr-recommends-merge-img { height: 100px; }
.source-icon { vertical-align: middle; width: 14px; height: 14px; border: 1px solid rgb(238, 238, 238); border-radius: 100%; margin-right: 5px; margin-top: -3px; }
.source-icon { vertical-align: middle; width: 14px; height: 14px; border: 1px solid rgb(238, 238, 238); border-radius: 100%; margin-right: 5px; margin-top: -3px; }
.source-icon { vertical-align: middle; width: 14px; height: 14px; border: 1px solid rgb(238, 238, 238); border-radius: 100%; margin-right: 5px; margin-top: -3px; }
.source-icon { vertical-align: middle; width: 14px; height: 14px; border: 1px solid rgb(238, 238, 238); border-radius: 100%; margin-right: 5px; margin-top: -3px; }
.source-icon { vertical-align: middle; width: 14px; height: 14px; border: 1px solid rgb(238, 238, 238); border-radius: 100%; margin-right: 5px; margin-top: -3px; }
.source-icon { vertical-align: middle; width: 14px; height: 14px; border: 1px solid rgb(238, 238, 238); border-radius: 100%; margin-right: 5px; margin-top: -3px; }
/*****PC分页样式开始*****/
.pagination{
	padding: 10px 0;
}
.pagination li{
	display: inline-block;
	margin: 0 5px;	
}
.pagination li a,.pagination li span{
	display: block;
	border: #DDD solid 1px;
	padding: 0 8px;
	color: #666;
}
.pagination li a,.pagination li span{
	color: #999;
}
.pagination li a:hover{
	border:#F30 solid 1px;
	background: #F60;
	color: #000;
}
.pagination li.active span{
	border:#21806E solid 1px;
	background: #64C2B0;
	color: #FFF;
}
/*****PC分页样式结束*****/
    .suggest {
      width: 502px;
      position: absolute;
      top: 38px;
      border: 1px solid #999;
      background: #fff;
      display: none;
    }

    .suggest ul {
      list-style: none;
      margin: 0;
      padding: 0;
    }

    .suggest ul li {
      padding: 3px;
      font-size: 17px;
      line-height: 25px;
      cursor: pointer;
    }

    .suggest ul li:hover {
      background-color: #e5e5e5
    }
.c-border{width:518px;height: 110px;padding:9px;border:1px solid #e3e3e3;border-bottom-color:#e0e0e0;border-right-color:#ececec;box-shadow:1px 2px 1px rgba(0,0,0,.072);-webkit-box-shadow:1px 2px 1px rgba(0,0,0,.072);-moz-box-shadow:1px 2px 1px rgba(0,0,0,.072);-o-box-shadow:1px 2px 1px rgba(0,0,0,.072)}
.c-border .c-gap-left{margin-left:10px}
.c-border .c-gap-left-small{margin-left:5px}
.c-border .c-gap-right{margin-right:10px}
.c-border .c-gap-right-small{margin-right:5px}
.c-border .c-border{width:auto;padding:0;border:0;box-shadow:none;-webkit-box-shadow:none;-moz-box-shadow:none;-o-box-shadow:none}
.c-border .c-span2{width:34px}
.c-border .c-span3{width:56px}
.c-border .c-span4{width:78px}
.c-border .c-span5{width:100px}
.c-border .c-span6{width:122px}
.c-border .c-span7{width:144px}
.c-border .c-span8{width:166px}
.c-border .c-span9{width:188px}
.c-border .c-span10{width:210px}
.c-border .c-span11{width:232px}
.c-border .c-span12{width:254px}
.c-border .c-span13{width:276px}
.c-border .c-span14{width:298px}
.c-border .c-span15{width:320px}
.c-border .c-span16{width:342px}
.c-border .c-span17{width:364px}
.c-border .c-span18{width:386px}
.c-border .c-span19{width:408px}
.c-border .c-span20{width:430px}
.c-border .c-span21{width:452px}
.c-border .c-span22{width:474px}
.c-border .c-span23{width:496px}
.c-border .c-span24{width:518px}
.c-border .c-span2,.c-border .c-span3,.c-border .c-span4,.c-border .c-span5,.c-border .c-span6,.c-border .c-span7,.c-border .c-span8,.c-border .c-span9,.c-border .c-span10,.c-border .c-span11,.c-border .c-span12,.c-border .c-span13,.c-border .c-span14,.c-border .c-span15,.c-border .c-span16,.c-border .c-span17,.c-border .c-span18,.c-border .c-span19,.c-border .c-span20,.c-border .c-span21,.c-border .c-span22,.c-border .c-span23,.c-border .c-span24{margin-right:10px}
.c-border .c-span-last{margin-right:0}
.c-border .c-span4 .c-img{margin: auto;width: 48px;}
.c-btn-primary {
    background-color: #388bff;
    border-color: #3c8dff #408ffe #3680e6;
}
.c-btn {
    display: inline-block;
    padding: 0 14px;
    margin: 0;
    height: 24px;
    line-height: 25px;
    font-size: 13px;
    filter: chroma(color=#000000);
    border: 1px solid #d8d8d8;
    cursor: pointer;
    font-family: inherit;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    background-color: #388bff;
    overflow: hidden;
    outline: 0;
}.c-btn-primary, .c-btn-primary:visited {
    color: #fff!important;
}
.c-btn-primary:active {
    border-color: #178ee3 #1784d0 #177bbf #1780ca;
    background-color: #388bff;
    background-image: none;
    box-shadow: inset 1px 1px 1px rgba(0,0,0,.15);
    -webkit-box-shadow: inset 1px 1px 1px rgba(0,0,0,.15);
    -moz-box-shadow: inset 1px 1px 1px rgba(0,0,0,.15);
    -o-box-shadow: inset 1px 1px 1px rgba(0,0,0,.15);
}.c-btn-primary:hover {
    border-color: #2678ec #2575e7 #1c6fe2 #2677e7;
    background-color: #388bff;
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAACCAMAAACuX0YVAAAABlBMVEVnpv85i/9PO5r4AAAAD0lEQVR42gEEAPv/AAAAAQAFAAIros7PAAAAAElFTkSuQmCC);
    background-repeat: repeat-x;
    box-shadow: 1px 1px 1px rgba(0,0,0,.4);
    -webkit-box-shadow: 1px 1px 1px rgba(0,0,0,.4);
    -moz-box-shadow: 1px 1px 1px rgba(0,0,0,.4);
    -o-box-shadow: 1px 1px 1px rgba(0,0,0,.4);
}
.new-pmd .c-span8 {
    width: 368px;
}
.new-pmd .c-span9 {
    width: 150px;
}
.new-pmd .c-span10{width: 440px;}
.new-pmd .content60{height: 60px;}
.general-thread-replay_1HX-j {
    float: left;
    width: 75px;
    white-space: nowrap;
    list-style: none;
}.new-pmd .c-color-gray2 {
    color: #9195A3;
}.new-pmd .c-gap-top-mini {
    margin-top: 2px;
}.new-pmd .c-img-radius-large img{border-radius: 12px;}
.general-thread-cont_1j767 {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}