body,
html {
	width: 100%;
	height: 100%;
	background-color: #000;
}

.IIV::-webkit-media-controls-play-button,
.IIV::-webkit-media-controls-start-playback-button {
	opacity: 0;
	pointer-events: none;
	width: 5px;
}

#wrap {
	width: 100%;
	height: 100%;
	position: relative;
}

/* 视频swiper单个轮播部分 */
.swiper-container {
	width: 100%;
	height: 93.5%;
}

.swiper-wrapper {
	width: 100%;
	height: 100%;
}

.swiper-slide {
	width: 100%;
	height: 99%;
	position: relative;
	/* 	background: #333;
	opacity: 0.5; */
	background-color: #000;
}

.video {
	width: 100%;
	height: 100%;
	/* object-fit: cover; */
}

/* 播放按钮 */
.swiper-slide>.play {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.swiper-slide>.play>img {
	width: 100px;
	height: 100px;
}

/* 左下角的描述，标题 */
.desc {
	position: absolute;
	left: 0.13rem;
	bottom: 0.3rem;
	width: 2rem;
	color: #fff;
}

.desc_name {
	color: #26bbff;
	font-size: 0.14rem;
	margin-bottom: 0.05rem;
}

.desc_title {
	/* color: #fff; */
	font-size: 0.14rem;
	text-overflow: -o-ellipsis-lastline;
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 2;
	line-clamp: 2;
	-webkit-box-orient: vertical;
}

/* 右下角的功能选项，包括点赞，留言 */

.function {
	width: 50px;
	position: absolute;
	right: 0.05rem;
	bottom: 0.8rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	z-index: 997;
}


.function .guanzhu {
	margin-bottom: 0.18rem;
	position: relative;
}
.function .yinpin {
    bottom: 35px;
    position: fixed;
}

.function .dianzan {
	margin-bottom: 0.15rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.function .xiaoxi {
	margin-bottom: 0.15rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.function .zhuanfa {
	margin-bottom: 0.15rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.function .guanzhu .guanzhu_btn {
	position: absolute;
	bottom: 0;
	font-size: 12px;
	transform: scale(0.5);
	width: 0.4rem;
	left: -0.07rem;
	text-align: center;
	background: #26bbff;
	color: #fff;
	border-radius: 0.2rem;

}

.function .guanzhu .guanzhuBtn_active {
	position: absolute;
	bottom: 0;
	font-size: 12px;
	transform: scale(0.5);
	width: 0.4rem;
	left: -0.076rem;
	text-align: center;
	background: #999;
	color: #fff;
	border-radius: 0.2rem;
	display: none;

}

.function .guanzhu .guanzhu_number {
	position: absolute;
	bottom: -0.11rem;
	font-size: 12px;
	transform: scale(0.6);
	width: 0.4rem;
	left: -0.07rem;
	text-align: center;
	color: #fff;

}

.dianzan_number,
.xiaoxi_number {
	font-size: 12px;
	transform: scale(0.6);
	width: 0.4rem;
	left: -0.076rem;
	text-align: center;
	color: #fff;
}

.function .guanzhu img,
/* .function .dianzan img, */
.function .xiaoxi img,
.function .yinpin img,
.function .zhuanfa img {
	width: 35px;
	height: 35px;
}

.function .dianzan #hongxin {
	width: 35px;
	height: 35px;
}

.xin {
	background: url(imgs/dianzan.png);
	background-size: 35px 35px;
}

.xin_active {
	background: url(imgs/dianzan1.png);
	background-size: 35px 35px;
}
.touxiangs{
    -webkit-border-radius: 100%;
    border-radius: 100%;

}

/* 底部第一级留言弹框 */
.remarkWrap {
	position: absolute;
	bottom: 0;
	left: 0;
	z-index: 998;
	display: none;
}

.remark {
	width: 100%;
	height: 5.2rem;
	background: #fff;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	display: flex;
	flex-direction: column;
	padding: 0.15rem 0.15rem 0.15rem 0.2rem;
}

.remark_top {
	height: 0.4rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
	border-bottom: 1px solid #eee;

}

/* .remark_top .remarkTop_title {}

.remark_top .remarkTop_close {} */

.remark .remark_mid {
	flex: 1;
	padding-top: 0.2rem;
	overflow: scroll;
}

.remark_sigle {
	margin-bottom: 0.1rem;
	border-bottom: 1px solid #eee;
	padding-bottom: 0.08rem;
}

.remark_mid .remarkMid_info {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	position: relative;

}

.remark_mid .remarkMid_info .info_left {
	width: 0.38rem;
	height: 0.38rem;
	margin-bottom: 0.05rem;
}

.remark_mid .remarkMid_info .info_left img {
	width: 100%;
	height: 100%;
}

.remark_mid .remarkMid_info .info_mid {
	margin-right: 0.1rem;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
	margin-left: 0.06rem;
}

.remark_mid .remarkMid_info .info_mid .info_name {
	font-size: 0.14rem;
	font-weight: 700;
}

.remark_mid .remarkMid_info .info_mid .info_date {
	color: #999;
	font-size: 0.12rem;

}

.remark_mid .remarkMid_info .info_right {
	position: absolute;
	right: 0;
	display: flex;
	align-items: center;
}

.remark_mid .remarkMid_info .info_right div {
	color: #999;
	font-size: 0.12rem;
	transform: scale(0.8);
	margin-right: 0.02rem;
	margin-top: 0.04rem;
}

.remark_mid .remarkMid_info .info_right .plmuzhi {
	display: inline-block;
	width: 0.15rem;
	height: 0.15rem;
	background: url(../imgs/muzhi.png);
	background-size: 0.15rem 0.15rem;
}

.remark_mid .remarkMid_info .info_right .plmuzhi_active {
	display: inline-block;
	width: 0.15rem;
	height: 0.15rem;
	background: url(../imgs/muzhi_active.png);
	background-size: 0.15rem 0.15rem;
}

.remark_mid .remarkMid_content {
	font-size: 0.15rem;
	margin-top: 0.05rem;
	padding-left: 0.44rem;
}

.remark_mid .remarkMid_btn {
	margin-top: 0.05rem;
	padding-left: 0.38rem;
	font-size: 0.12rem;
	color: #418CD7;
}





.remark_bottom {
	height: 0.5rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: relative;
}

.remark_bottom .remarkBottom_input {
	width: 85%;
	margin-top: 0.14rem;
	padding-left: 0.3rem;
	background: #E6E6E6;
}

.remark_bottom .remarkBottom_send {
	width: 0.5rem;
	height: 0.38rem;
	color: #fff;
	line-height: 0.38rem;
	text-align: center;
	background: #26BBFF;
	margin-left: 0.03rem;
}

.remark_bottom img {
	position: absolute;
	top: 0.12rem;
	left: 0.05rem;
	width: 0.25rem;
	height: 0.25rem;
}

/* 底部第二级回复弹框   上面楼主部分*/
.twoRemarkWrap {
	position: absolute;
	bottom: 0;
	left: 0;
	z-index: 999;
	display: none;
	width: 100%;
}

.twoRemark {

	width: 100%;
	height: 5.2rem;
	background: #fff;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	display: flex;
	flex-direction: column;
	padding: 0.15rem 0.15rem 0.10rem 0.2rem;

}

.twoRemark_top {
	height: 0.4rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
	border-bottom: 1px solid #eee;
}

.twoRemark_top .twoRemarkop_close {
	padding: 0.05rem;

}



.twoRemark_mid {
	padding-top: 0.2rem;
	overflow: scroll;
}

.twoRemark_sigle {
	margin-bottom: 0.1rem;
	padding-bottom: 0.1rem;
	border-bottom: 5px solid #eee;
}

.twoRemark_mid .twoRemarkMid_info {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	position: relative;

}

.twoRemark_mid .twoRemarkMid_info .info_left {
	width: 0.38rem;
	height: 0.38rem;
	margin-bottom: 0.05rem;
}

.twoRemark_mid .twoRemarkMid_info .info_left img {
	width: 100%;
	height: 100%;
}

.twoRemark_mid .twoRemarkMid_info .info_mid {
	margin-right: 0.1rem;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
	margin-left: 0.06rem;
}

.twoRemark_mid .twoRemarkMid_info .info_mid .info_name {
	font-size: 0.14rem;
	font-weight: 700;
}

.twoRemark_mid .twoRemarkMid_info .info_mid span {
	font-size: 0.12rem;
	transform: scale(0.5);
	color: #fff;
	padding: 0.01rem;
	background: #418CD7;
	border-radius: 0.05rem;
}

.twoRemark_mid .twoRemarkMid_info .info_mid .info_date {
	color: #999;
	font-size: 0.12rem;

}

.twoRemark_mid .twoRemarkMid_info .info_right {
	position: absolute;
	right: 0;
	display: flex;
	align-items: center;
}

.twoRemark_mid .twoRemarkMid_info .info_right div {
	color: #999;
	font-size: 0.12rem;
	transform: scale(0.8);
	margin-right: 0.02rem;
	margin-top: 0.04rem;
}

.twoRemark_mid .twoRemarkMid_info .info_right .muzhi {
	display: inline-block;
	width: 0.15rem;
	height: 0.15rem;
	background: url(../imgs/muzhi.png);
	background-size: 0.15rem 0.15rem;
}

.twoRemark_mid .twoRemarkMid_info .info_right .muzhi_active {
	display: inline-block;
	width: 0.15rem;
	height: 0.15rem;
	background: url(../imgs/muzhi_active.png);
	background-size: 0.15rem 0.15rem;
}

.twoRemark_mid .twoRemarkMid_content {
	font-size: 0.15rem;
	margin-top: 0.05rem;
	padding-left: 0.44rem;
}




/* 底部第二级回复弹框   下面回复部分*/
.twoRemark_wrap {
	flex: 1;
	padding-top: 0.2rem;
	overflow: scroll;
}

.twoRemarkWrap_item {
	margin-bottom: 0.1rem;
	padding-bottom: 0.1rem;
	border-bottom: 1px solid #eee;
}

.twoRemark_wrap .twoRemarkWrap_info {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	position: relative;

}

.twoRemark_wrap .twoRemarkWrap_info .infoItem_left {
	width: 0.38rem;
	height: 0.38rem;
	margin-bottom: 0.05rem;
}

.twoRemark_wrap .twoRemarkWrap_info .infoItem_left img {
	width: 100%;
	height: 100%;
}

.twoRemark_wrap .twoRemarkWrap_info .infoItem_mid {
	margin-right: 0.1rem;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
	margin-left: 0.06rem;
}




.twoRemark_wrap .twoRemarkWrap_info .infoItem_mid .infoItem_name {
	font-size: 0.14rem;
	color: #418CD7;
	font-weight: 700;
}

.twoRemark_wrap .twoRemarkWrap_info .infoItem_mid .infoItem_date {
	color: #999;
	font-size: 0.12rem;

}

.twoRemark_wrap .twoRemarkWrap_info .infoItem_mid .infoItem_name span {
	color: #666;
}

.twoRemark_wrap .twoRemarkWrap_info .infoItem_right {
	position: absolute;
	right: 0;
	display: flex;
	align-items: center;
}

.twoRemark_wrap .twoRemarkWrap_info .infoItem_right div {
	color: #999;
	font-size: 0.12rem;
	transform: scale(0.8);
	margin-right: 0.02rem;
	margin-top: 0.04rem;
}

.twoRemark_wrap .twoRemarkWrap_info .infoItem_right .hfmuzhi {
	display: inline-block;
	width: 0.15rem;
	height: 0.15rem;
	background: url(../imgs/muzhi.png);
	background-size: 0.15rem 0.15rem;
}

.twoRemark_wrap .twoRemarkWrap_info .infoItem_right .hfmuzhi_active {
	display: inline-block;
	width: 0.15rem;
	height: 0.15rem;
	background: url(../imgs/muzhi_active.png);
	background-size: 0.15rem 0.15rem;
}

.twoRemark_wrap .twoRemarkWrap_content {
	font-size: 0.15rem;
	margin-top: 0.05rem;
	padding-left: 0.44rem;
}










.twoRemark_bottom_wrap {
	display: none;
}

.twoRemark_bottom {
	height: 0.5rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: relative;

}

.twoRemark_bottom .twoRemarkBottom_input {
	width: 85%;
	margin-top: 0.14rem;
	padding-left: 0.3rem;
	background: #E6E6E6;
}

.twoRemark_bottom .twoRemarkBottom_send {
	width: 0.5rem;
	height: 0.38rem;
	color: #fff;
	line-height: 0.38rem;
	text-align: center;
	background: #26BBFF;
	margin-left: 0.03rem;
}

.twoRemark_bottom img {
	position: absolute;
	top: 0.12rem;
	left: 0.05rem;
	width: 0.25rem;
	height: 0.25rem;
}


/* 顶部分类 */
.topWrap {
	position: absolute;
	top: 0;
	height: 7%;
	background-color: rgba(0, 0, 0, 0.5);
	width: 100%;
	z-index: 997;
	display: flex;
	justify-content: center;
	align-items: center;
}

.faWrap {
	height: 0.3rem;
	font-size: 0.16rem;
	color: #fff;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	font-weight: normal;
	letter-spacing: 5px;
}

.zhifa {
	flex: 1;
	border-right: 1px solid #fff;
	text-align: center;

}

.meifa {
	flex: 1;
	border-right: 1px solid #fff;
	text-align: center;
}

.yangfa {
	flex: 1;
	border-right: 1px solid #fff;
	text-align: center;
}

.shipin {
	flex: 1;
	text-align: center;
}

.botWrap {
	position: fixed;
	bottom: 0;
	width: 100%;
}

/* 底部导航栏 */
.tabbar {
	display: flex;
	justify-content: space-around;
	align-items: center;
	height: 100%;

}

.tabbarIndex,
.tabbarSearch,
.tabbarMine,
.tabbarXiangji,
.tabbarCity {
	flex: 1;
	display: flex;
	flex-direction: column;
	/* justify-content: space-around; */
	align-items: center;
	height: 100%;
}

.tabbarIndex>img,
.tabbarCity>img,
.tabbarSearch>img,
.tabbarMine>img {
	width: 0.22rem;
	height: 0.22rem;
	margin-top: 0.04rem;
	margin-bottom: 0.02rem;
}

.tabbarXiangji {
	position: relative;
}

.tabbarXiangji>img {
	width: 0.5rem;
	height: 0.5rem;
	top: -0.1rem;
	position: absolute;
	/* width: 0.4rem;
	height: 0.4rem;
	position: absolute;
	top: 0.03rem; */
}

.tabbarIndex>span {
	font-size: 0.12rem;
	color: #628697;
}

.tabbarSearch>span,
.tabbarCity>span,
.tabbarMine>span {
	font-size: 0.12rem;
	color: #999999;
}
