pre {
    padding: 10px 15px;
    border: 1px solid #D1D7DC;
    position: relative;
    margin: 10px 0;
    font-size: 12px;
    border-left: 6px solid #009688;
    background-color: #f8f8f8;
    max-width: 700px;
    overflow-x: auto;
}