@charset "gb2312";
/*Common*/
.blank10,.blank20,.blank25,.blankn{line-height:0; overflow:hidden;}
.blank10{ height:10px;}
.blank20{ height:20px;}
.blank25{ height:25px;}

#global-log-reg-close,.global-group input,#global-reg-box .global-reg-box .global-button,.global-login-other a,#global-fixed-login-box #global-login-box .global-group,#global-fixed-login-box #global-login-box #global-btn-login{ background:url(/public/static/blansj_xin/pc/img/base.png) no-repeat;}

#global-fixed-reg-box{ width:727px; height:345px; position:fixed; top:50%; left:50%; margin-top:-172px; margin-left:-363px; background:url(/public/static/blansj_xin/pc/img/bg_lrbox.jpg) center top no-repeat; z-index:1000;}
#global-fixed-reg-box .global-pr-box{ width:727px; height:345px; position:relative;}
#global-log-reg-close{ display:block; width:33px; height:33px; position:absolute; top:0; right:0; background-position:-33px 0; z-index:6;}
#global-log-reg-close:hover{ background-position:0 0;}

#global-reg-box{ position:relative; z-index:4;}

#global-reg-box .global-register{ display:inline-block; float:left; width:372px; height:313px; padding:32px 39px 0; position:relative;}
#global-reg-box .global-ctrl-menu{ width:372px; height:38px; position:relative; z-index:6; background:#307cb3;}
#global-reg-box  #pprt-reg3{display:none;}
#global-reg-box .global-ctrl-menu span{ display:inline-block; float:left; width:372px; height:36px; border-bottom:2px solid #115687; text-align:center; font:18px/36px "\5FAE\8F6F\96C5\9ED1"; color:#fff; cursor:pointer;}
#global-reg-box .global-ctrl-menu span.hover{ border-color:#d7d7d7;}

#global-reg-box .global-reg-box{ padding-top:20px; display:none;}
#global-reg-box #con-pprt-reg2{ position:relative; z-index:7;}
#global-reg-box .global-reg-box form .global-group{ width:372px; height:40px; margin-bottom:7px;}
#global-reg-box .global-reg-box form .email-code{ width:372px; height:30px; padding:10px 0 7px 40px;}
#global-reg-box .global-reg-box form .reg-geetest{ width:372px; height:190px;padding:10px 0 40px 40px; background:url(/public/static/blansj_xin/pc/img/bg_lrbox.jpg) center top no-repeat;;position:absolute;top:82px;left:25px;z-index:100;display:none;}
#global-reg-box .global-reg-box form .reg-email-geetest{ width:372px; height:190px;padding:10px 0 40px 40px; background:url(/public/static/blansj_xin/pc/img/bg_lrbox.jpg) center top no-repeat;;position:absolute;top:8px;left:0px;z-index:100;display:none;}
#global-fixed-login-box .global-pr-box form .login-geetest{ width:320px; height:190px;padding:10px 0 40px 40px; background:url(/public/static/blansj_xin/pc/img/bg_lrbox.jpg) center top no-repeat;;position:absolute;top:82px;left:25px;z-index:100;display:none;}
#global-reg-box .global-reg-box form .global-group p{ display:inline-block; float:left; width:60px; height:40px; font:14px/40px "\5FAE\8F6F\96C5\9ED1"; color:#fff; text-align:center; letter-spacing:5px; padding:0; margin:0;}
#global-reg-box .global-reg-box form .global-group3 p{ letter-spacing:2px;}
#global-reg-box .global-reg-box form .global-group div{ display:inline-block; float:left; width:227px; height:36px; border:2px solid #15629a; background:#fff; position:relative;}
#global-reg-box .global-reg-box form .global-group div.hover{ border-color:#ffd400;}
#global-reg-box .global-reg-box form .global-group div.err{ border-color:#da1111;}
#global-reg-box .global-reg-box form .global-group span{ display:inline-block; float:left; width:76px; height:40px; padding-left:5px; color:#fff;}
#global-reg-box .global-reg-box form .global-group div input{ border:none; display:inline-block; float:left; width:228px;  padding:4px; font:14px/28px "\5FAE\8F6F\96C5\9ED1"; color:#333;}
#global-reg-box .global-reg-box form .global-group span i{ display:block; height:20px; font:12px/20px "\5FAE\8F6F\96C5\9ED1";}
#global-reg-box .global-reg-box form .global-group span em{ font:14px/20px "\5FAE\8F6F\96C5\9ED1";}
#global-reg-box .global-reg-box form .global-group .reg-use{color:#FF9499;}
#global-reg-box .global-reg-box form .global-group .reg-used{color:#FF9499;}
#global-reg-box .global-reg-box form .global-group1 .global-login-rightNow{ display:block; height:20px; font:12px/20px "\5FAE\8F6F\96C5\9ED1"; color:#fff;}
#global-reg-box .global-reg-box form .global-group3 a{ display:block; width:91px; height:26px; background:#75a7cb; border-radius:3px; font:12px/26px "\5FAE\8F6F\96C5\9ED1"; color:#fff; text-align:center; position:absolute; top:5px; right:5px;}
.send-code-button{ display:block; width:100px; height:26px; background:#75a7cb; border-radius:3px; font:12px/22px "\5FAE\8F6F\96C5\9ED1"; color:#fff; text-align:center; position:absolute; top:5px; right:5px;}
#global-reg-box .global-reg-box form .global-group3 a:hover{ background:#307cb3; text-decoration:none;}

#global-reg-box .global-group1 input{ background-position:0 -33px;}
#global-reg-box .global-group2 input{ background-position:0 -69px;}
#global-reg-box .global-group3 input{ background-position:0 -105px;}
.global-group input.not-null{ background:url(#);}
#con-pprt-reg2 .global-group1 input{ background-position:0 -281px;}
#con-pprt-reg2 .global-group3 div{ width:129px;}
#con-pprt-reg2 .global-group3 div input{ width:121px;}
#con-pprt-reg2 .global-group3 img{ display:inline-block; float:left; width:90px; height:36px; margin:2px 0 0 6px;}
#global-reg-box #con-pprt-reg3{ padding-top:0;}
#global-weixin-box{ width:220px; height:245px; margin:25px auto;}

#global-reg-box .global-reg-box .global-button{ display:block; border:none; width:221px; height:51px; margin:10px 0 10px 65px; background-position:0 -141px; font:bold 18px/48px "\5FAE\8F6F\96C5\9ED1"; color:#9a6908; text-align:center;}
#global-reg-box .global-reg-box .global-button:hover{ text-decoration:none; color:#444;}
#global-reg-box .global-reg-box .global-service-info{ display:block; width:221px; margin-left:65px; font:12px/24px "\5FAE\8F6F\96C5\9ED1"; color:#fff; text-align:center; text-decoration:underline;}

#global-reg-box .global-login-other{ display:inline-block; float:right; width:277px; height:273px; padding-top:72px;}
#global-reg-box .global-login-other p{ font:16px/36px "\5FAE\8F6F\96C5\9ED1"; color:#fff; text-align:center;}
#global-reg-box .global-login-other .global-login-rightNow{ display:block; width:129px; height:38px; margin:0 auto; font:18px/34px "\5FAE\8F6F\96C5\9ED1"; color:#13588b; text-align:center; background-position:0 -192px; margin-bottom:35px;}
#global-reg-box .global-login-other .global-login-rightNow:hover{ color:#0b327f;}

.global-login-other .yzz-global-sina,.global-login-other .yzz-global-qq{ display:inline-block; float:left; width:51px; height:51px;}
.global-login-other .yzz-global-sina{ margin:30px 0 0 81px; background-position:0 -230px;}
.global-login-other .yzz-global-qq{ margin:30px 0 0 16px; background-position:-67px -230px;}

#jy-box{ width:450px; height:90px; position:absolute; top:137px; left:0; background:#307cb3; display:none; z-index:5;}
#jy-box .hd-tit{ height:40px;}
#jy-box .hd-tit h4{ font:bold 16px/40px "\5FAE\8F6F\96C5\9ED1"; color:#fff; text-align:center; margin-bottom:7px;}
#bd-jy-box{ width:265px; height:40px; padding:17px 0 0 80px;}

/*登录框*/
#global-fixed-login-box{ width:100%; height:100%; }
#global-fixed-login-box .global-pr-box{ width:100%; height:100%; position:relative;background: url(../img/bg_lrbox.jpg) center top no-repeat;}

#global-fixed-login-box #global-login-box{ width:300px; height:318px; float:left; margin-left:40px; padding-top:26px;}
#global-fixed-login-box #global-login-box .lb-sign-tips{ height:24px; padding-top:20px; font-size:14px; line-height:24px; text-align:center; color:#fff;}
#global-fixed-login-box #global-login-box h4{ height:56px; font:22px/56px "\5FAE\8F6F\96C5\9ED1"; color:#fff; text-align:center; margin:0; padding:0;}

#global-fixed-login-box #global-login-box .global-group{height:30px; padding:4px 0 4px 46px; border:2px solid #15629a; margin-bottom:7px; background-color:#fff;}
#global-fixed-login-box #global-login-box #login-jy-box{ padding:5px 0;}
#global-fixed-login-box #global-login-box .global-group input{ border:none; width:250px; height:30px; font:14px/28px "\5FAE\8F6F\96C5\9ED1"; color:#333;outline: none;background:#fff;}
#global-fixed-login-box #global-login-box .global-group1 input{ background-position:0 -38px;}
#PL_name{ background-position:0 -521px !important;}
#global-fixed-login-box #global-login-box .global-group2 input{ background-position:0 -73px;}
#global-fixed-login-box #global-login-box .global-group3{ width:300px; height:24px; padding:5px 0;}
#global-fixed-login-box #global-login-box .global-group3 .forget-psw{ display:inline-block; float:right; height:24px; font:12px/24px "\5FAE\8F6F\96C5\9ED1"; color:#fff; text-decoration:none;}
#global-fixed-login-box #global-login-box .global-group3 .forget-psw:hover{ color:#ffd400;}

#global-fixed-login-box #global-login-box #global-reg-rightNow{ font:12px/24px "\5FAE\8F6F\96C5\9ED1"; color:#ffd400; text-decoration:underline; margin-left:5px;}
#global-fixed-login-box #global-login-box input{}
#global-fixed-login-box #global-login-box label{ font:12px/24px "\5FAE\8F6F\96C5\9ED1"; color:#fff; cursor:pointer;}

#global-fixed-login-box #global-login-box .global-group1{ background-position:10px -317px;}
#global-fixed-login-box #global-login-box .global-group2{ background-position:10px -353px;}

#global-fixed-login-box #global-login-box .global-group1.hover{ background-position:10px -389px; border-color:#ffd400;}
#global-fixed-login-box #global-login-box .global-group2.hover{ background-position:10px -425px; border-color:#ffd400;}

#global-fixed-login-box #global-login-box .global-group1.err,
#global-fixed-login-box #global-login-box .global-group2.err{ border-color:#da1111;}

#global-fixed-login-box #global-login-box #global-btn-login{ display:block; width:142px; height:51px; margin:10px auto 0; font:bold 22px/50px "\5FAE\8F6F\96C5\9ED1"; text-align:center; color:#9a6908; background-position:0 -461px;    border-width: 0px;
    border-radius: 3px;
    background: #f4cc1f;
    cursor: pointer;
    outline: none;
    font-family: Microsoft YaHei;}
#global-fixed-login-box #global-login-box #global-btn-login:hover{ color:#307cb3; text-decoration:none;}

#global-fixed-login-box .global-login-other{ display:inline-block; float:right; width:254px; padding-top:25px; height:321px;text-align: center;}
#global-fixed-login-box .global-login-other img{width: 170px;padding: 10px;}
#global-fixed-login-box .global-login-other h6{ font:14px/14px "\5FAE\8F6F\96C5\9ED1"; text-align:center; color:#fff;}
#global-fixed-login-box #global-login-wechat{ width:220px; height:215px; margin:0 auto;}
#global-fixed-login-box .global-login-other p{ height:18px; font:16px/18px "\5FAE\8F6F\96C5\9ED1"; color:#fff; text-align:center; padding:0; margin:0;}
#global-fixed-login-box #global-login-sina{ margin-left:67px;}

#pprt-bg-black{ width:100%; height:100%; background:#000; opacity:.8; filter:alpha(opacity=80); position:fixed; top:0; left:0; z-index:999;}

/*绑定手机弹窗样式*/
.nophone-tips{ width:100%; height:100%; position:fixed; top:0; left:0; background:url(/public/static/blansj_xin/pc/img/black-cover.png) repeat; z-index:999999;}
.nophone-tips-box{ width:595px; height:320px; position:fixed; top:50%; left:50%; margin-top:-160px; margin-left:-296px; background:#307cb3; border-radius:3px;}
.nophone-tips-box .ntb-close{ height:32px;}
.nophone-tips-box .ntb-close a{ display:inline-block; float:right; width:32px; height:32px; background:url(/public/static/blansj_xin/pc/img/base-ucnophone.png) -39px 0 no-repeat;}
.nophone-tips-box .ntb-close a:hover{ background:url(/public/static/blansj_xin/pc/img/base-ucnophone.png) 0 0 no-repeat;}
.nophone-tips-box h3{ height:50px; padding:6px 20px 0; font:20px/50px '\5FAE\8F6F\96C5\9ED1'; color:#fff;}
.nophone-tips-box p{ padding:0 20px 14px; font:16px/30px '\5FAE\8F6F\96C5\9ED1'; color:#fff;}
.nophone-tips-box .ubtb-submit{ display:block; width:320px; height:84px; margin:0 auto; font:bold 24px/80px '\5FAE\8F6F\96C5\9ED1'; text-align:center; color:#885b03; background:url(/public/static/blansj_xin/pc/img/base-ucnophone.png) 0 -36px no-repeat;}
.nophone-tips-box .ubtb-submit:hover{ color:#333; text-decoration:none;}
.nophone-tips-box .ntb-ft{ height:46px; width:555px; padding:0 20px; background:#2663a4; margin-top:28px; border-radius:0 0 3px 3px;}
.nophone-tips-box .ntb-ft input{ margin-top:17px; border:none; padding:0; width:12px; height:12px;}
.nophone-tips-box .ntb-ft label{ font:12px/46px '\5FAE\8F6F\96C5\9ED1'; color:#b8dcf6; padding-left:3px;}