.user_sign{
	border:1px dashed #ddd;
	border-left:3px solid #27BBBF;
	background:#F5F5F5 url(../haibao_style/default/haibao_hua.png);
	background-size:200px 100px;
	margin:20px 0;
	padding:10px;
	max-height:50px;
	overflow: hidden;
}
.user_sign a{
	color:#bbb;
}


/*相关主题开始*/
.ListMoreTitle{
	display:table;
	width:100%;
	min-height:50px;
}
.ListMoreTitle .ltile{
	display:table;	
	width:47%;
	padding-right:15px;
	float:left;
	height:23px;
	margin-top:13px;
	text-overflow: -o-ellipsis-lastline;
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 1;
	line-clamp: 1;
	-webkit-box-orient: vertical;
}
.tag_more a{
	font-size:13px;
	margin-left:10px;
}


/*弹层回复相关*/
.replayBox{
	text-align:center;
	position: relative;
}
.replayBox_upfile{
	position: absolute;
    right: 30px;
    bottom:45px;	
}
.replayBox_upfile i{
	position: relative;
	font-size:25px;
	color:#b1b1b1;
	margin-left:8px;
}
.replayBox_upfile .choose_num{
	position: absolute;
    right: -4px;
	top:-4px;
	background:orange;
	padding:1px 2px;
	color:#fff;
	font-size:14px;
	display:none;
}

.ueditor .replayBox_upfile{
	right: 5px;
    bottom:10px;	
}
.bbs_have_fav{
	color:#26a8da;
}
.bbs_have_fav span{
	color:#fff;
}
.bbs_have_fav em{
	color:#b99f40;
}
.content_act .bbs_have_fav span{
	background: #dcc982;
}.scroll-sort{
	width:1314px;
	margin:auto;
}
.scroll-sort span a{
	color:#666;
}
.scroll-sort span{
	border-radius:4px;
	margin-left:15px;
	padding-left:13px;
	padding-right:13px;
	font-size:16px;
	line-height:35px;
	margin-top:15px;
	height:35px;
	background:#efefef;
	display:block;
	float:left;
}
.scroll-sort span:hover{
	background:orange;
}
.scroll-sort span:hover a{
	color:#fff;
}
.scroll-sort .choose{
	background:orange;
}
.scroll-sort .choose a{
	color:#fff;
}
.swiper-slide{width: auto!important;}
.scroll-sort .place{    margin: 0 auto;
    width: 1314px;
    margin-bottom: 20px;}
.scroll-sort .place a {
    color: #28C8DC;
    display: inline-block;
    padding: 0 5px;
}