/*下载页*/
.dtitle{height:150px; line-height:150px; text-align:center; font-size:48px; color:#FFFFFF; background:#E80F1F;}

.dcont{display:flex; width:1200px; margin:45px auto; padding:45px; background:#eee; border-radius:10px; background-image: url(xt.png); background-repeat:no-repeat; background-position-x:right;}
.dcont .imgs{width:280px; height:280px; min-width:280px; max-width:280px; overflow:hidden;}
.dcont .imgs img{width:100%; height:100%;max-width:100%;max-height:100%; object-fit: cover;}

.dcont .xzshow{padding-left:45px;}
.dcont .xzshow p{margin-top:25px;}
.dcont .xzshow p:nth-child(1){margin-top:0px;}
.dcont .xzshow p.title{font-size:24px;}

.dcont .xzshow p.user img{width:40px; height:40px; border-radius:50%; object-fit:cover;}
.dcont .xzshow p.user span{font-size:16px;}
.dcont .xzshow p.user span.name{margin:0 10px;}
.dcont .xzshow p.user span em{color:#E80F1F; font-weight:bold;}

.dcont .xzshow p.xz a{font-size:18px; width:150px; line-height:55px; text-align:center; display:inline-block; opacity:0.85; border-radius:5px; margin-right:40px;}
.dcont .xzshow p.xz a#btn-nowmal{color:#FFF; background-color:#343a40;}
.dcont .xzshow p.xz a#btn-vip{color:#FFF; background-color:#E80F1F;}

.dcont .xzshow p.kouchu span{width:150px; font-size:16px; display:inline-block;}
.dcont .xzshow p.kouchu span:nth-child(1){margin-right:40px;}
.dcont .xzshow p.kouchu span em{color:#E80F1F; font-weight:bold;}

.dcont .xzshow p.sm{color:#bbb; font-size:16px;}


/*序列号页*/
.dcont .xzshow .snshow {margin-top:25px; font-size:16px;}
.dcont .xzshow .snshow .outsn{color:#E80F1F;}