.TopContainer{
	width:100%;
	height:70px;
	position:relative;
	overflow:hidden;
}
.TopContainer:before{
	content:'';
	display:block;
	width:100%;
	height:1px;
	position:absolute;
	left:0;
	top:60px;
	background:#E5E7E9;
}
.TopContainer .Infos{
	width:1200px;
	height:60px;
	overflow:hidden;
	margin:auto;
	position:relative;
	line-height:60px;
	font-size:14px;
	color:#888;
}
.TopContainer .Infos .Citys{
	float:left;
    width: 169px;
    height: 100%;
    margin-left: 15px;
}
.TopContainer .Infos .Citys .header-mw-logo {
    display: inline-block;
    width: 100%;
    height: 50px;
    position: relative;
    top: 2px;
}

.TopContainer .Infos .Citys .header-mw-logo img {
    width: 100%;
    height: 100%;
}
.TopContainer .Infos .times{
	float:right;	
}
header-container {
    width: 1190px;
    margin: 0 auto;
    height: 60px;
    position: relative;
}

.TopContainer .Infos .header-org {
    float: left;
    width: 187px;
    height: 100%;
    margin-left: 15px;
}

.TopContainer .Infos .header-mw {
    float: left;
    width: 169px;
    height: 100%;
    margin-left: 15px;
}

.TopContainer .Infos .header-mw-logo {
    display: inline-block;
    width: 100%;
    height: 50px;
    position: relative;
    top: 2px;
}

.TopContainer .Infos .header-mw-logo img {
    width: 100%;
    height: 100%;
}

.TopContainer .Infos .header-org-logo {
    display: inline-block;
    width: 100%;
    height: 30px;
    background: url(//image.uc.cn/s/uae/g/1v/wm-website-static/wm-website/hash-version/imgs/logo-org_fae44f0.png) no-repeat 0 0;
    position: relative;
    top: 15px;
}

.TopContainer .Infos .header-beta {
    display: inline;
    position: relative;
    top: 10px;
    right: -10px;
    background: #ccc;
    padding: 2px 5px;
    border-radius: 2px;
    color: #fff;
    font-size: 12px;
}

.TopContainer .Infos .header-user {
    float: right;
    position: relative;
    cursor: pointer;
    padding-right: 20px;
    height: 48px;
    z-index: 1000;
}

.TopContainer .Infos .header-user img {
    border-radius: 30px;
}

.TopContainer .Infos .header-user .header-vip-icon {
    position: absolute;
    width: 14px;
    height: 14px;
    top: 17px;
    left: 21px;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.TopContainer .Infos .header-user .header-vip-icon img {
    width: 17px;
    height: 17px;
}

.TopContainer .Infos .header-user::after {
    content: '';
    border-top: 5px solid #f26f20;
    display: block;
    position: absolute;
    top: 18px;
    right: 6px;
    border-left: 3px solid transparent;
    border-right: 3px solid transparent;
}

.TopContainer .Infos .header-info {
    float: right;
    height: 45px;
    position: relative;
    top: 24px;
    text-align: right;
    margin-right: 10px;
}

.TopContainer .Infos .header-user .header-viplevel-icon {
    position: absolute;
    right: 17px;
    top: 23px;
    height: 16px;
    width: 16px;
    border: 2px solid #fff;
    border-radius: 50%;
    background-size: 12px 12px!important;
}

.TopContainer .Infos .header-user .header-viplevel-icon-3 {
    background: url(//image.uc.cn/s/uae/g/3g/dayu_mp/vip/icon_tong.png) 0 0 no-repeat;
}

.TopContainer .Infos .header-user .header-viplevel-icon-10002 {
    background: url(//image.uc.cn/s/uae/g/3g/dayu_mp/vip/icon_shi.png) 0 0 no-repeat;
}

.TopContainer .Infos .header-user .header-viplevel-icon-10001 {
    background: url(//image.uc.cn/s/uae/g/3g/dayu_mp/vip/icon_pu.png) 0 0 no-repeat;
}

.TopContainer .Infos .header-user .header-viplevel-icon-2 {
    background: url(//image.uc.cn/s/uae/g/3g/dayu_mp/vip/icon_yin.png) 0 0 no-repeat;
}

.TopContainer .Infos .header-user .header-viplevel-icon-1 {
    background: url(//image.uc.cn/s/uae/g/3g/dayu_mp/vip/icon_jin.png) 0 0 no-repeat;
}

.TopContainer .Infos .header-info .name {
    font-size: 14px;
    max-width: 80px;
    height: 16px;
    line-height: 16px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.TopContainer .Infos .header-vip-tip {
    position: absolute;
    top: 50px;
    right: -20px;
    width: 221px;
    height: 60px;
    line-height: 50px;
    z-index: 999;
}

.TopContainer .Infos .header-vip-tip img {
    width: 221px;
    height: 60px;
    position: absolute;
    left: 0;
    top: 0;
}

.TopContainer .Infos .header-vip-tip a {
    font-size: 12px;
    color: #ffda83;
    position: absolute;
    left: 50px;
    top: 5px;
}

.TopContainer .Infos .header-vip-tip-close {
    font-size: 12px;
    color: #ffda83;
    position: absolute;
    right: 20px;
    top: 5px;
    cursor: pointer;
}

.TopContainer .Infos .header-info.viplevel-header {
    height: 60px;
    top: 12px;
}

.viplevel-header .header-viplevel-tips {
    color: #fff;
    font-size: 12px;
    display: inline-block;
    border-radius: 10px;
    padding: 0 4px;
    margin-top: 2px;
}

.viplevel-header .header-viplevel-tips a {
    color: #fff;
}

.viplevel-header .header-viplevel-tips-3 {
    background: #c98746;
}

.viplevel-header .header-viplevel-tips-10002 {
    background: #bcb5b5;
}

.viplevel-header .header-viplevel-tips-10001 {
    background: #7b84a1;
}

.viplevel-header .header-viplevel-tips-2 {
    background: #b6c7da;
}

.viplevel-header .header-viplevel-tips-1 {
    background: #fcce5e;
}

.viplevel-header .header-viplevel-tips-10 {
    background: #397bc6;
}

.viplevel-header .header-viplevel-tips-11 {
    background: #397bc6;
}

.TopContainer .Infos .header-info.aggressive-status-active,.TopContainer .Infos .header-info.aggressive-status-inactive {
    height: 60px;
    top: 12px;
}

.TopContainer .Infos .header-info .aggressive-tag {
    text-align: center;
    display: block;
    margin-top: 2px;
    padding: 1px 4px;
    padding-left: 16px;
    border-radius: 2px;
    font-size: 10px;
    color: #ffe999;
    background: url(//image.uc.cn/s/uae/g/1v/wm-website-static/wm-website/hash-version/imgs/header/lightning_e13f029.png) left 4px center no-repeat;
    background-color: #2a89e9;
}

.TopContainer .Infos .header-info.aggressive-status-inactive .aggressive-tag {
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    -o-filter: grayscale(100%);
    filter: grayscale(100%);
    -webkit-filter: gray;
    filter: gray;
    color: #fff;
    background: url(//image.uc.cn/s/uae/g/1v/wm-website-static/wm-website/hash-version/imgs/header/lightning_e13f029.png) left 4px center no-repeat;
    background-color: #b9b9b9;
}

.TopContainer .Infos .header-message {
    margin-right: 4px;
    float: right;
    height: 40px;
    width: 47px;
    position: relative;
    top: 22px;
    cursor: pointer;
    z-index: 1000;
}

.TopContainer .Infos .header-message2 {
    margin-right: 30px;
    float: right;
    height: 40px;
    position: relative;
    top: 10px;
    z-index: 1000;
    font-size: 0;
}

.TopContainer .Infos .header-message .wm-icon-mail {
    font-size: 20px;
    position: relative;
    left: 10px;
    top: -2px;
}

.TopContainer .Infos .header-message2 a {
    position: relative;
}

.TopContainer .Infos .header-message2 a span {
    position: absolute;
    background: #f26f20;
    padding: 2px 6px;
    font-size: 12px;
    color: #fff;
    border-radius: 9px;
    top: -25px;
    right: -17px;
}

.TopContainer .Infos .header-message2 i {
    margin-left: 30px;
    color: #666;
}

.TopContainer .Infos .header-message2 i.wm-icon-mail {
    color: #666;
    font-size: 20px;
}

.TopContainer .Infos .header-message2 i.wm-icon-pinglun {
    color: #666;
    font-size: 18px;
}

.TopContainer .Infos .header-user-menu {
    display: none;
    position: absolute;
    top: 60px;
    right: 0;
    border: 1px solid #e8e8e8;
    border-top: 0;
    z-index: 1000;
    background-color: #fff;
    text-align: center;
    width: 70px;
    border-bottom: 2px solid #f26f20;
}

.TopContainer .Infos .header-user-menu li {
    line-height: 40px;
    cursor: pointer;
    color: #555;
}

.TopContainer .Infos .header-user-menu li a {
    color: #555;
}

.TopContainer .Infos .header-user-menu li:hover {
    background-color: #f9f9f9;
}

.TopContainer .Infos .header-message-menu {
    display: none;
    position: absolute;
    top: 38px;
    right: -11px;
    border: 1px solid #e8e8e8;
    border-top: 0;
    z-index: 1000;
    background-color: #fff;
    text-align: center;
    width: 70px;
    border-bottom: 2px solid #f26f20;
}

.TopContainer .Infos .header-message-menu li {
    line-height: 40px;
    cursor: pointer;
    color: #555;
}

.TopContainer .Infos .header-message-menu li a {
    color: #555;
}

.TopContainer .Infos .header-message-menu li:hover {
    background-color: #f9f9f9;
}.TopContainer .LogoMenu{
	width:900px;
	height:110px;
	padding-left:300px;
	overflow:hidden;
	margin:auto;
	position:relative;
}
.TopContainer .LogoMenu:before,.TopContainer .LogoMenu:after{
	content:'';
	display:block;
	width:100%;
	height:1px;
	position:absolute;
	left:0;
}
.TopContainer .LogoMenu:before{
	bottom:1px;
	background:#09F;
}
.TopContainer .LogoMenu:after{
	bottom:0px;
	background:#0064CA;
}
.TopContainer .LogoMenu .logo{
	width:300px;
	height:100px;
	overflow:hidden;
	position:absolute;
	left:0;
	top:5px;
	line-height:100px;
}
.TopContainer .LogoMenu .logo img{
	max-width:300px;
	max-height:100px;
}
.TopContainer .LogoMenu .logo a{
	display:table;
}
.TopContainer .LogoMenu .logo a span{
	display:table-cell;
	height:100px;
	vertical-align:middle;
}
.TopContainer .LogoMenu .MainMenus{
	width:900px;
	height:110px;
	overflow:hidden;
	position:relative;
}
.ListMenuBox{
	width:770px;
	height:85px;
	overflow:hidden;
	margin:12px auto;
	position:relative;
}
.MenuContent{
	width:1000000px;
	height:85px;
	position:absolute;
	left:0;
	top:0;
	overflow:hidden;
}
.MenuContent dl{
	width:110px;
	height:85px;
	overflow:hidden;
	float:left;
}
.MenuContent dl dt.ck{
	background:url(menubg.png) center top no-repeat;
	color:#FFE0D6;
}
.MenuContent dl dt span{
	display:block;
	width:85px;
	height: 85px;
	overflow:hidden;
	margin:auto;
	text-align:center;
	font-size:14px;
	cursor:pointer;
}
.MenuContent dl dt span i{
	display: block;
	padding-top: 10px;
	height: 40px;
	width: 100%;
	text-align: center;
	line-height: 40px;
	font-size: 32px;
}
.changemenu dt,.changemenu dd{
	width:35px;
	height:35px;
	position:absolute;
	top:40px;
	cursor:pointer;
}
.changemenu dt{
	left:10px;
	background:url(prev0.png) center top no-repeat;
}
.changemenu dt.ck{
	background:url(prev1.png) center top no-repeat;
}
.changemenu dd{
	right:10px;
	background:url(next0.png) center top no-repeat;
}
.changemenu dd.ck{
	background:url(next1.png) center top no-repeat;
}
/****/
.MainContainer{
	width:1200px;
	margin:auto;
	position:relative;
}
.MainContainer:after{
	content:'';
	display:block;
	height:1px;
	width:100%;
	clear:both;
}
.MainContainer .LeftCont{
	width:250px;
	float:left;
	overflow-Y:auto;
	overflow-X:hidden;
}
.MainContainer .RightCont{
	width:940px;
	float:right;	
}
.MainContainer .RightCont iframe{
	width:100%;
	height:100%;
}
.members{
	width:99%;
	height:210px;
	background:url(memberbg.png) no-repeat;
	background-size:100% 230px;
	padding-top:20px;
	color:#FFF;
	position:relative;
}
.members .icon{
	width:90px;
	height:90px;
	overflow:hidden;
	margin:auto;
	background:#c4dde9;
	border-radius:45px;
}
.members .icon img{
	max-width:90px;
	max-height:90px;
	vertical-align:middle;
}
.members .icon a{
	display:tablel;
	width:100%;
}
.members .icon a span{
	display:table-cell;
	width:90px;
	height:90px;
	text-align:center;
	vertical-align:middle;
}
.members .username a{
	display:block;
	text-align:center;
	color:#FFF;
	font-size:16px;
	padding:5px 10px 0 10px;
	height:25px;
	line-height:25px;
	overflow:hidden;
	margin-bottom:5px;
}
.members .companyer{
	width:100px;
	height:25px;
	line-height:25px;
	text-align:center;	
	color:#FFF;
	margin:auto;	
	border-radius:5px;
	position:relative;
	overflow:hidden;
}
.members .companyer:before{
	content:'';
	display:block;
	width:100%;
	height:100%;
	background:#165DCA;
	filter:alpha(opacity=50);
	opacity:0.5;
	position:absolute;
	left:0;
	top:0;
}
.members .companyer span{
	display:block;
	position:relative;
}
.members .moneys{
	width:100%;
	height:45px;
	overflow:hidden;
	position:absolute;
	left:0;
	bottom:0;
}
.members .moneys:before{
	content:'';
	display:block;
	width:100%;
	height:100%;
	background:#5F639B;
	filter:alpha(opacity=50);
	opacity:0.5;
	position:absolute;
	left:0;
	top:0;
}
.members .moneys div{
	position:relative;
	text-align:center;
	line-height:45px;
	position:0 5px;
	color:#FFF;
	word-spacing:5px;
}
.LoginAct{
	width:99%;
	height:40px;
	overflow:hidden;
	margin-top:15px;
}
.LoginAct dt,.LoginAct dd{
	width:48%;
	text-align:center;
	line-height:40px;
	background:#B8B5B4;
	float:left;
	border-radius:5px;
}
.LoginAct dd{
	float:right;
	background:#FC8353;
}
.LoginAct a{
	display:inline-block;
	color:#EEE;
	font-size:14px;
	padding-left:25px;
}
.LoginAct dt a{
	background:url(quit.png) left 10px no-repeat;
}
.LoginAct dd a{
	background:url(member.png) left 10px no-repeat;
}
.LeftMenus{
	width:99%;
	padding-top:1px;
}
.LeftMenus ul{
	margin-top:10px;
	position:relative;
	padding-top:33px;
	padding-bottom:2px;
}
.LeftMenus ul ol{
	border-top:#FFF solid 1px;
	height:33px;
	width:100%;
	position:absolute;
	line-height:33px;
	font-size:18px;
	color:#666;
	left:0;
	top:0;
	z-index:10;
}
.LeftMenus ul ol i{
	padding: 5px 10px 0 20px;
    display: inline-block;
    position: relative;
    left: -5px;
    top: 1px;
    font-size: 20px;
    float: left;
}
.LeftMenus ul .xldj:after{
	content:'';
	display:block;
	position:absolute;
}
.LeftMenus ul ol:after{
	width:0;
	height:0;
	border:8px solid transparent;
	border-top: 8px solid #CCC;
	border-bottom:0;
	right:15px;
	top:15px;
}
.LeftMenus ul li{
	height:33px;
	line-height:33px;
	margin:0 10px;
	overflow:hidden;
	position:relative;
}
.LeftMenus ul li a{
	display:block;
	text-indent:60px;
	font-size:14px;
	color:#888;
	position:relative;
	margin-top:1px;
	text-decoration: none;
}
.LeftMenus ul li a:before{
	content:'';
	display:block;
	width:8px;
	height:8px;
	background:#CCC;
	border-radius:2px;
	position:absolute;
	left:40px;
	top:12px;
}
.LeftMenus ul ol a{text-decoration: none;}
.LeftMenus ul ol:hover {
    background: #F9F9F9;
    color: #F30;
}
.LeftMenus ul li:hover a{
	background:#F9F9F9;
	color:#F30;
}
.LeftMenus ul li:hover a:before{
	background:#F30;
}
.LeftMenus ul li.ck a{
	color:#F63;
}
.LeftMenus ul li.ck a:before{
	background:#F90;
}