
body{overflow-x: hidden;}
    .ai{margin: 0 auto;}
    .ai_top{
        background-size: cover;
        image-rendering: crisp-edges;
        height: 93vh;
        width: 100%;
        position: relative;
        left: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .index_top{
    align-items: center;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: calc(79% - 125px);
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
        
    }
    .index_top button{height: 54px;
    padding-left: 60px;
    padding-right: 60px;
    border-radius: 30px;
    background-color: #3d70f2;
    color: #fff;
        
    }
    
    .font_size_14 {
    font-size: 14px;
    line-height: 20px;
    }
    .font_size_66{font-size: 66px;font-weight: bold;}
    .font_size_30{font-size: 30px;font-weight: bold;}
    .font_size_26{font-size: 26px;}
    .font_size_24{font-size: 24px;}
    .top20{margin-top: 20px;}
    .index_top .text{color: #ffff;padding: 6px;}
    .ai_center{height: auto;position: relative;background: #2b2b2b;}
    .ai_center .ai_works{align-items: center;
    display: flex;
    flex-direction: column;
    padding: 0 50px;
    
    }
    .ai_center .ai_works h1{color: #e6e6e6;
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 0;
    margin-top: 80px;}
    .ai_center .ai_works .title_text{color: #595959;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;}
    .ai_center .ai_store{    
    align-items: center;
    display: flex;
    flex-direction: row;
    gap: 15px;
    margin-top: 40px;}
    .clear {
    clear: both;
}
    .ai_bottom{height: auto;position: relative;background: #2b2b2b;margin-bottom: -20px;}
    .st_img{width:225px; height:300px;border-radius: 15px;}
      .scroll-container {
    overflow: hidden;
    height: 300px;
    text-align: center;
  }

  .scroll-content {
    display: flex;
  }

  .scroll-item {
    width: 250px;
    margin-right: 16px;
  }
.container{margin-bottom: 20px;}
.ai_works_statistics{align-items: center;
    background-color: #212121;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    margin-top: 15px;
    padding-bottom: 80px;
    width: 100%;}
.ai_works_statistics .title{color: #e6e6e6;
    font-size: 30px;
    font-weight: 700;
    margin-top: 80px;}
.ai_works_statistics .subtitle{color: #727272;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;}
.ai_works_statistics .total_count{align-items: flex-start;
    color: #e6e6e6;
    display: flex;
    flex-direction: row;
    font-family: DIN-Bold,serif!important;
    font-size: 80px;
    line-height: 100px;
    margin-top: 5px;}
.ai_works_statistics .total_count .unit{background-color: #e6e6e6;
    border-radius: 12px;
    color: #2b2b2b;
    font-size: 12px;
    font-weight: 700;
    height: 24px;
    line-height: 24px;
    text-align: center;
    width: 24px;}
    .primary_t_button {
    background-color: #3d70f2;
    color: #fff;
}


    


        #Title2, #Title1 {
            color: gray;
            font: bold 66px arial;
            position: absolute;
            visibility: hidden;
            top: -75px;
            left: 275px;
        }

        #Title1 {
            color: white;
        }.te{
            font-weight: bold;
            color: white;
            text-shadow: 0 0 10px rgba(255, 255, 255, 0.5), 0 0 20px rgba(255, 255, 255, 0.3);
            backdrop-filter: blur(10px);
            padding: 20px;}
    

  .glitch {
    color: #fff;
    font-family: 'Arial', sans-serif;
    font-size: 24px;
    position: relative;
    display: inline-block;
    align-items: center;
    background-color: #2b2b2b;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    padding-top: 80px;
    padding-bottom: 80px;
    width: 100%;
  }
  .glitch span{width:100%;padding: 10px;animation: glitch-animation 3.5s infinite;text-align: center;}
  .glitch span:nth-child(2),
  .glitch span:nth-child(3),
  .glitch span:nth-child(4) {
    animation: none;
  }
  @keyframes glitch-animation {
    0% {
      transform: translate(0);
      opacity: 1;
    }
    20% {
      transform: translate(-5px, 5px);
      opacity: 0.75;
    }
    40% {
      transform: translate(5px, -5px);
      opacity: 0.5;
    }
    60% {
      transform: translate(-5px, 5px);
      opacity: 0.75;
    }
    80% {
      transform: translate(5px, -5px);
      opacity: 0.25;
    }
    100% {
      transform: translate(0);
      opacity: 1;
    }
  }
